@using BExIS.Web.Shell.Areas.Auth.Models;

@{
    ViewBag.Title = "Groups";
}


@model List<GroupGridRowModel>

<style>
    #Grid_Roles .t-grid-content
    {
       height: auto !important;
       max-height: 495px !important;
    }

    #Grid_RoleMembership .t-grid-content
    {
       height: auto !important;
       max-height: 450px !important;
    }
</style>

<h2>
    Groups
</h2>

<p style="max-width:800px">
    With this interface you are able to add, edit, or delete groups. Please note that any change will take effect immediately without any further confirmation or save/submit action.
</p>

@Html.Partial("_GroupsPartial", Model)