@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.Auth.Models;

@model List<GroupGridRowModel>

@{
    ViewBag.Title = "Groups";
}

<style>
    .t-window-content
    {
       height: auto !important;
       width: auto !important;
    }

    #gridGroups .t-grid-content
    {
       height: auto !important;
       max-height: 495px !important;
    }

    #gridMembership .t-grid-content
    {
       height: auto !important;
       max-height: 450px !important;
    }
</style>

<h2>
    Groups
</h2>

<p style="max-width:800px">
    With this interface you are able to manage groups. New groups can be added with the "Create" button. Existing groups can be edited (properties, members, delete) using the "Edit" button. 
</p>

@(Html.Telerik().Grid<GroupGridRowModel>()
        .Name("gridGroups")
        .ToolBar(command =>
        {
            command.Custom().Name("Create").Text("Create").Ajax(true).Action("Create", "Groups").ButtonType(GridButtonType.ImageAndText).ImageHtmlAttributes(new { @class = "t-icon t-add" });
        })
        .Columns(columns =>
        {
            columns.Command(command =>
            {
                command.Custom("Edit").Text("Edit").Ajax(true).ButtonType(GridButtonType.Text);
            }).Title("Actions").Width(90).HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(g => g.Id);
            columns.Bound(g => g.GroupName);
            columns.Bound(g => g.Description);
        })
        .ClientEvents(clientEvents => clientEvents
            .OnCommand("gridGroups_onCommand")
        )
        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .OperationMode(GridOperationMode.Client)
            .Select("Groups_Select", "Groups")
        )
        .Filterable()
        .Pageable()
        .Sortable()
)

<script type="text/javascript">

    // --------------------------------------------------
    // GRID
    // --------------------------------------------------

    function gridGroups_onCommand(e) {

        switch (e.name) {
            case "Create":
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Create", "Groups")',
                    dataType: 'html',
                    success: function (htmlData) {
                        var windowElement = $.telerik.window.create({
                            title: "Create Group",
                            html: "<div id='contentCreate'>" + htmlData + "</div>",
                            contentUrl: "",
                            actions: ["Close"],
                            modal: true,
                            width: 500,
                            height: 500,
                            resizable: false,
                            draggable: true,
                            scrollable: false,
                            onClose: function () {
                                $("#windowCreate").data('tWindow').destroy();
                                $("#gridGroups .t-refresh").trigger('click');
                            }
                        });

                        windowElement.attr('id', 'windowCreate');
                        var window = $(windowElement).data('tWindow');
                        window.center().open();
                    }
                })

                break;

            case "Edit":
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Edit", "Groups")',
                    data: { Id: e.dataItem.Id },
                    dataType: 'html',
                    success: function (htmlData) {
                        var windowElement = $.telerik.window.create({
                            title: "Edit Group: " + e.dataItem.GroupName + " (Id: " + e.dataItem.Id + ")",
                            html: "<div id='contentEdit'>" + htmlData + "</div>",
                            contentUrl: "",
                            actions: ["Close"],
                            modal: true,
                            width: 500,
                            height: 500,
                            resizable: false,
                            draggable: true,
                            scrollable: false,
                            onClose: function () {
                                $("#windowEdit").data('tWindow').destroy();
                                $("#gridGroups .t-refresh").trigger('click');
                            }
                        });

                        windowElement.attr('id', 'windowEdit');
                        var window = $(windowElement).data('tWindow');
                        window.center().open();
                    }
                })

                break;

            default:
                break;
        }
    }

    // --------------------------------------------------
    // CREATE
    // --------------------------------------------------

    function groupCreate_onSuccess(data) {
        if (data.success) {
            $('#windowCreate').data('tWindow').close();
        }
    }

    function windowCreate_onCancel() {
        $('#windowCreate').data('tWindow').close();
    }

    // --------------------------------------------------
    // EDIT
    // --------------------------------------------------

    function groupEdit_onSuccess(data) {
        if (data.success) {
            $('#windowEdit').data('tWindow').close();
        }
    }

    function windowEdit_onCancel() {
        $('#windowEdit').data('tWindow').close();
    }

    function setMembership(value, id) {

        var rows = $("#gridMembership").data("tGrid").data;

        for (var i = 0; i < rows.length; ++i) {
            if (rows[i].Id == id) {
                rows[i].IsGroupInGroup = value;
            }
        }
    }

    function windowEdit_onDelete(groupId) {
        var result = confirm('Are you sure you want to delete this group (Id:' + groupId + ')?');

        if (result) {
            $.post('@Url.Action("Delete", "Groups")', { id: groupId }, function (e) {
                $('#windowEdit').data('tWindow').close();
            });
        }
    }

</script> 