<h3>Filter</h3>
<table>
    <tr>
        <td>End date between:<input type="text" id="endDateStart" class="datepicker"></td>
    </tr>
    <tr>
        <td>and<br /> <input type="text" id="endDateEnd" class="datepicker"></td>
    </tr>
    <tr>
        <td>
            show former members<br /><input type="checkbox" id="isFormerMemberFilterOn" checked />
        </td>
    </tr>
    <tr>
        <td>
            show non-former members<br /><input type="checkbox" id="nonFormerMemberFilterOn" checked />
        </td>
    </tr>
</table>