@{
    ViewBag.Title = "ReIndex Search";
}

<p>Click the button to reindex the search</p>

@Html.ActionLink("Refresh Search", "RefreshSearch", "Home", new { @class = "t-button", @title="Refresh index from search" })
