@using BExIS.Modules.Dim.UI.Helpers
@model Vaelastrasz.Library.Models.DataCite.DataCiteAffiliation

<div class="form-horizontal well">
    @using (Html.BeginCollectionItem("Affiliation"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
    }
</div>