@if (ViewData.ModelState.IsValid)
{
    <p>Click the button to reindex the search</p>

    @Html.ActionLink("Refresh Search", "RefreshSearch", "Admin", new { @class = "t-button", @title = "Refresh index from search" })
}
else
{
    @Html.ValidationSummary(true);
}