
@{
    ViewBag.Title = "Release Tags";
    Layout = "~/Themes/Default/Layouts/_svelteLayout.cshtml";

    long id = 0;
    bool use_minor = false;

    if (ViewData["id"] != null)
    {
        id = (long)ViewData["id"];
    }

    if (ViewData["use_minor"] != null)
    {
        use_minor = (Boolean)ViewData["use_minor"];
    }

}

<div id="taginfo" dataset="@id" withMinor="@use_minor">
    @Html.Partial("_sveltePage")
</div>