body {
    overflow-y:hidden;
}

#SearchResult {
    width:calc(40% - 20px);
    float:left;
    overflow-x:hidden; 
}

#DataStructure {
    width:calc(60% - 20px); 
    float:right; 
    overflow-x:auto;
}

.bx-rpm-attribute-container,
.bx-rpm-variable-container,
.bx-rpm-filterContainer {
    overflow-y:scroll;
    overflow-x:hidden;
    border:solid 1px #afb0b1;
}

.bx-rpm-filterContainer {
    border-bottom:none;
}

.bx-rpm-variable-container,
.bx-rpm-attribute-container,
.bx-rpm-sort,
.bx-rpm-filter .bx-rpm-filterCategory label {
    width:100%;
    padding:0px; 
}

.bx-rpm-variable-item,
.bx-rpm-attribute-item{
    width:calc(100% - 6px);
    z-index: 10000; 
}

.bx-rpm-variable-item,
.bx-rpm-attribute-item {
    border: 1px solid #afb0b1; 
    margin:3px;
    padding:5px;
}

.bx-rpm-attribute-item.bx-rpm-attribute{
    background-color:#d2e8e3;
}

.bx-rpm-attribute-item.bx-rpm-variable,
.bx-rpm-variable-item {
    background-color:#f5f5f5;
}

.bx-rpm-variable-item td,
.bx-rpm-variable-item table,
.bx-rpm-attribute-item td,
.bx-rpm-attribute-item table {
    margin:0px;
    padding:3px 0px 0px 0px;
    background-color:transparent;   
}

.bx-rpm-attribute-item td,
.bx-rpm-attribute-item table {
    border-right: solid 4px #d2e8e3;
    border-bottom: #afb0b1 solid 1px;
}

.bx-rpm-variable-item td,
.bx-rpm-variable-item table {
    border-right: solid 4px #f5f5f5;
    border-bottom: #afb0b1 solid 1px;
}

.bx-rpm-variable-container .bx-rpm-label,
.bx-rpm-attribute-container .bx-rpm-label {
    width:15%;
    vertical-align:top;
}

.bx-rpm-variable-container .bx-rpm-text,
.bx-rpm-attribute-container .bx-rpm-text {
    width:35%;
    vertical-align:top;
}

.bx-rpm-variable-container #placeholder {
    color: #afb0b1;
    text-align: center;
    vertical-align: middle;
}

.bx-rpm-attribute-container #last {
    border-bottom: #d2e8e3 1px solid;
}

.bx-rpm-variable-container #last {
    border-bottom: #f5f5f5 1px solid;
}

.bx-rpm-filterContainer {
    padding:0px 0px 5px 5px
}

.bx-rpm-sort th {
    width:20%;
}

.bx-rpm-dropdown {
    background:none;
}

.bx-rpm-attributeheader {
    width:100%;
    border:none;
    border-spacing:0px;
}

.bx-rpm-attributeheader table,
.bx-rpm-attributeheader td {
    padding:0px 0px 0px 0px;
    border:none;
    border-spacing:0px;
}

.bx-rpm-sortdropdown .bx-dropdown {
    width:200px;
    height:25px;
    z-index:10;
    position:relative;
    margin: 0px 0px 3px 0px;
}

.bx-rpm-sortdropdown .t-arrow-down.bx-rpm-dropdownArrow {
    position:relative;
    right: 23px;
    margin:0px;
    z-index:1;
}

.bx-rpm-attributeheader .bx-rpm-sortdropdown{
    width:271px;
    min-width:271px;
}

.bx-rpm-sort {
   width:calc(100% - 271px);
}

.bx-rpm-sort span {
    cursor: pointer;
}

.bx-rpm-filter #filterContainer {
    height:150px;
}

.bx-rpm-filter .bx-rpm-filterContainer{
    overflow-y:scroll;
}

.bx-rpm-filter .bx-rpm-filterItem{
    width:33%;
    float:right;
    margin: 0px 0px 2px 0px;
    padding:0px 2px 0px 0px;
}

.bx-rpm-filter .bx-rpm-filterCategory label {
    margin: 5px 0px 5px 0px;
}

.bx-rpm-filter .bx-rpm-loading {
    height:150px;
    margin:0px;
    border:0px;
}

.bx-rpm-loading {
    width:100%;
    text-align:center; 
    vertical-align:middle;
}

.bx-rpm-filterCheckboxLable.disabled {
    color: #afb0b1;
}

.bx-rpm-datastructureheader {
    padding: 0px 3px 0px 3px;
    overflow:hidden;
}

.bx-rpm-datastructureheader h3{
    padding: 0px 0px 0px 0px;
    margin:1px;
}

.bx-rpm-headline {
    padding: 7px 0px 7px 0px;
}
.bx-rpm-headline #headlineLock {
    margin:0px 3px 0px 0px
}


.bx-rpm-headlinetextbox,
.bx-rpm-headlinetextarea {
    border:none;
    padding: 7px 7px 7px 2px;
}

.bx-rpm-headlinetextbox:hover,
.bx-rpm-headlinetextarea:hover {
    padding: 5px 5px 5px 0px;
    border:dotted #ff9700 2px;
}

.bx-rpm-headlinetextarea {
    width: 100%;
    height: 100px;
    resize: none;
}