.bx-grid-function{
    margin-left:4px; 
}

.bx-rpm-previewGrid table,
.bx-rpm-previewGrid tr,
.bx-rpm-previewGrid td,
.bx-rpm-previewGrid th{
    background-color: #d2e8e3;
    border: none;
    border-spacing: 0px;
}

.bx-rpm-previewGrid td {
    padding:5px !important;
}

.bx-rpm-previewGrid .t-grid-header,
.bx-rpm-previewGrid .t-grid-header table,
.bx-rpm-previewGrid .t-grid-header th{
    background-color: #d2e8e3;
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
}

.bx-rpm-previewGrid .t-grid-content{
    background-color: #d2e8e3;
    max-height: 200px;
    /*border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
    margin:0px;
    overflow-y: auto !important;
}

.bx-rpm-previewGrid .t-grid-bottom{
    height:0px;
}

.bx-rpm-resultGrid td{
    border-bottom:none;
    padding:0px;
}

.bx-rpm-resultGrid .bx-rpm-empty{
    border-bottom: #ebebeb solid thin;
    padding:0px;
}

.bx-rpm-resultGrid .bx-rpm-result{
    padding:5px;
}

.bx-rpm-resultGrid .bx-rpm-gridfunction{
    width: 100px;
}

.bx-rpm-resultGrid .bx-rpm-lock {
    width: 63px;
    text-align:center;
}

.bx-rpm-resultGrid .bx-rpm-title {
    font-weight:bold;
}

.bx-rpm-resultGrid .bx-rpm-title.clickable {
    cursor:pointer;
}

.bx-rpm-resultGrid .bx-rpm-title span{
    margin-left:5px;
}

.bx-rpm-preview,
.bx-rpm-preview td{
    border: none;
}

.bx-rpm-preview {
    border-bottom:2px #000000;
}

.bx-rpm-searchBar {
    text-align:center;
    margin-bottom:15px;
    height:30px;
}

#SearchButton{
 margin:0px;
 margin-left:-4px;
 border-top-left-radius:0px;
 border-bottom-left-radius:0px;
 padding-top:8.4px;
 padding-bottom:7.6px;
}

.bx-rpm-loading {
    width:100%;
    text-align:center; 
    vertical-align:middle;
}

.bx-rpm-result.id {
    width: 100px;
}

.bx-rpm-result .bx-lock{
    margin: 0px 3px 0px 0px;
}

.bx-rpm-dataStructure-buttons{
    float:left;
}

.bx-rpm-createDataStructureContainer .bx-rpm-isSructured{
    text-align: center;
}

.bx-rpm-createDataStructureContainer .bx-rpm-isSructured div {
    width: calc(50% - 10px);
    float: left;
}

.bx-rpm-createDataStructureContainer #message{
    color: #f24c24;
}

.bx-rpm-createDataStructureContainer #buttons{
    text-align:right;
}

.bx-rpm-message,
.bx-rpm-message #buttons{
    text-align:center;
    margin: 5px;
}