/*partial Views*/
 /*.bx-rpm-constraint .bx-rpm-addDomainItem{
    float:left;
}

 .bx-rpm-constraint .bx-rpm-domainItems{
    float:right;
}

#domain_FormalDescription,
#pattern_FormalDescription,
#range_FormalDescription {
    cursor:default;
}*/

.t-status, .t-refresh{
display:none !important;
}

.bx-rpm-function td, .bx-rpm-locked td {
    text-align:center;
}

 .bx-rpm-tdRight
{
    text-align:right;
}

 /*.bx-rpm-checkbox
{
    width:13px !important;
}*/

.bx-rpm-constraints
{
    display:none;
}

 option{
    background-color : white;
}

.bx-rpm-errorMsg {
    padding:5px;
    vertical-align:top;
    color:red;
    overflow-y:auto;
    height:auto;
    max-height:100px;
    max-width:700px;
}
.bx-rpm-errorMsg ul, .bx-rpm-errorMsg li{
    padding:0px;
}

.errorMsg ul {
    padding:0px;
    margin:0px;
}

.bx-rpm-buttons {
    margin-top : 10px;
    margin-bottom:10px;
}

.bx-rpm-buttons .t-button { 
    margin-left:2px;
    margin-right:2px;
}

.bx-rpm-info {
padding-left:10px;
}

.bx-rpm-info table,.bx-rpm-info tr,.bx-rpm-info td {
border:none;
}

#DataStructureGrid{
    overflow-x:auto;
    background-color:#ffffff;
    /*border-radius: 3px;*/
}

#DataStructureGrid table {
    width :100%;
    margin:24px 0px 10px 0px;
}

#DataStructureGrid td {
    min-width : 140px;
    max-width : 300px;
    padding:3px;
    vertical-align:middle;
}

#DataStructureGrid .data {
    width : auto;
}

#DataStructureGrid .head {
   text-align: left;
   width:100px;
   color:#000000;
   background-color:#bee1da;
   border-color:#72b1a0;
   border-right-color:#ffffff;
   font-weight:bold;
   padding-left:10px;
}

#DataStructureGrid .empty {
   text-align: left;
   border-color:#72b1a0;
   border-right-color:#ffffff;
}

#DataStructureGrid input, #DataStructureGrid select, #DataStructureGrid textarea {
    width:100%;
    max-width:100%;
    min-width:100%;
}

#DataStructureGrid .bx-grid-function {
    margin: 0px 2px 0px 2px;
}

.locked {
    color:gray;
    text-align: center;
}

table, tr {
    width:100%;
  
}

#dataStructure_Description {
    width:350px
}

#bx-rpm-dataAttributeGrid, #bx-rpm-selectDataTypeGrid, #DatasetGrid{
    margin: 0px;
    padding: 0px;
    width:1000px;
    background-color:#ffffff;
}

#bx-rpm-dataAttributeGrid .t-grid-content{
    overflow-y: scroll !important;
}

#bx-rpm-dataAttributeGrid .t-grid-content .t-numerictextbox .t-input{
    width:40px !important;
    text-align:left;
}

#bx-rpm-dataAttributeGrid .t-grid-header, #bx-rpm-selectDataTypeGrid .t-grid-header {
    margin-right:14px;
}
#bx-rpm-dataAttributeGrid .t-grid-content, #bx-rpm-selectDataTypeGrid .t-grid-content{
    overflow-y:scroll !important;
}

#bx-rpm-selectDataTypeGrid {
    height:250px;
}

#bx-rpm-selectDataTypeGrid .t-grid-pager,
#bx-rpm-selectDataTypeGrid .t-grid-bottom{
    display:none !important;
    height:0px !important;
}

/* input {
border-radius: 3px;
width: 150px;
}*/

 /*.bx-rpm-constrainlabel,  .bx-rpm-negated {
width: 60px;

}

 .bx-rpm-negated,  .bx-rpm-constrainValue .bx-rpm-include{
    text-align:center;
    align-content:center;
}

.bx-rpm-constrainValue {
width:456px;
}

.bx-rpm-constrainValue input {
width:348px;
}

.bx-rpm-constrainValue .bx-rpm-midinput {
width:153px;
}

.bx-rpm-constrainheader,  .bx-rpm-constrainTable .bx-rpm-text {
    color: gray;
    font-size: 9px;
}

.bx-rpm-constrainheader,  .bx-rpm-constrainheader td,  .bx-rpm-constrainheader td.header {
    border:none;
}

.bx-rpm-constrainValue .bx-rpm-container {
float:left;
margin-right:5px;
}*/

textarea {
max-width: 600px;
max-height:200px;
width:330px;
}
.t-arrow-down.bx-rpm-dropdownArrow {
margin-left:-23px;
z-index:1;
position:relative;
}

.bx-dropdown, .bx-input{
    width:350px;
    z-index:10;
    position:relative;
}

.bx-rpm-dropdown {
background:none;
}

.bx-rpm-hidden {
    display: none;
}

.bx-rpm-functions {
float:left;
max-width:50%;
display:normal;
}

.bx-rpm-submit {
float:right;
max-width:50%;
display:normal;
}

.t-treeview-lines{
    overflow:hidden;
}

 .bx-rpm-midinput{
width: 75px;
}

 .bx-rpm-smallinput{
width: 40px;
}

 .bx-rpm-tallinput{
width: 300px;
}

 input.bx-rpm-checkBox {
border-radius: 3px;
width: 15px;
}

/*#range_FormalDescription, #domain_FormalDescription, #pattern_FormalDescription{
    margin-top:26px;
 }

#domain_FormalDescription, #pattern_FormalDescription {
    margin-left:34px;
}*/

.planingPartialDiv .t-numerictextbox .t-formatted-value {
    padding: 2px 0px 0px 8px;
}

.planingPartialDiv .t-numerictextbox .t-arrow-up {
    margin: -3px 0px 0px -16px;
}

.planingPartialDiv .t-numerictextbox .t-arrow-down {
    margin: 0px 0px 2px -8.4px;
}

.dimDesc {
width:150px !important;
}

#Unit_input {
width:400px;
}

#nameBox {
width:200px;
}