/*partial Views*/
.t-status, .t-refresh{
display:none !important;
}

.function td, .locked td {
text-align:center;
min-width:100px;
}

#unitId option, #dataTypeId option{
background-color:white;
}

.errorMsg {
padding-left:5px;
vertical-align:top;
}

.RPMbuttons .t-button {
    margin-bottom:5px;
    margin-left:2px;
    margin-right:2px;
}

#DataStructureGrid{
    position:absolute;
    min-width:400px;
}

.unit .t-grid-header th {
    border: none;
}

.unit table {
    margin: 0px;
    padding: 0px;
    width: 290px;
    height: 190px;
}

.unit {
    width: 300px;
    height: 200px;
}

.locked {
    color:gray;
    text-align: center;
}

.planingPartialDiv table, .planingPartialDiv tr, .planingPartialDiv td {
    border-style: none;
}

.planingPartialDiv #DataTypeGrid, .planingPartialDiv #DatasetGrid, .planingPartialDiv #DataAttributeGrid{
    margin: 0px;
    padding: 0px;
    width: 800px;
} 

.planingPartialDiv input {
border-radius: 3px;
width: 150px;
}


.planingPartialDiv .checkBox {
border-radius: 3px;
width: 15px;
}


.planingPartialDiv textarea {
border: 1px solid #CCC;
border-radius: 3px;
width: 300px;
max-width: 300px;
height: 10px;
max-height: 10px;
font:14px arial, verdana;

}

.planingPartialDiv .t-dropdown {
border-radius: 3px;
width: 150px;
}

.planingPartialDiv .hidden {
    display: none;
}
