/*partial Views*/
.planingPartialDiv .constraint .addDomainItem{
    float:left;
}

.planingPartialDiv .constraint .domainItems{
    float:right;
}

.t-status, .t-refresh{
display:none !important;
}

.function td, .locked td {
    text-align:center;
}

.planingPartialDiv .tdRight
{
    text-align:right;
}

.planingPartialDiv .checkbox
{
    width:13px !important;
}

.constraints
{
    display:none;
}

.planingPartialDiv option{
    background-color : white;
}

.errorMsg {
    padding:5px;
    vertical-align:top;
    color:red;
    overflow-y:auto;
    height:auto;
    max-height:100px;
    max-width:700px;
}
.errorMsg ul, .errorMsg li{
    padding:0px;
}

.errorMsg ul {
    padding:0px;
    margin:0px;
}

.RPMbuttons {
    margin-top : 10px;
}

.RPMbuttons .t-button {
    margin-bottom:5px;
    margin-left:2px;
    margin-right:2px;
}

#DataStructureGrid{
    overflow-x:auto;
    border-radius: 3px;
}

#DataStructureGrid table {
    width :100%;
}

#DataStructureGrid td {
    min-width : 100px;
    max-width : 300px;
    padding:3px;
    vertical-align:middle;
}

#DataStructureGrid .data {
    width : auto;
    border-style:solid;
}

#DataStructureGrid .head {
   text-align: left;
   width:100px;
   color:black;
   border-style:solid;
   background-color:lightgray;
   border-color:gray;
   border-left:none;
   border-top-color:lightgray;  
}
#createAttribute textarea, #createVariable textarea{
    width:150px;
    min-width:150px;
    max-width: 300px;
}

#createAttribute .descLabel, #createVariable .descLabel{
    width:71px;  
}

#createAttribute .label, #createVariable .label{
    width:113px;
}

.container{
    vertical-align:text-top;
    vertical-align:top;
    margin:0;
    padding:0;
}

#createAttribute .descArea, #createAttribute .descLabel, #createVariable .descArea, #createVariable .descLabel{
    vertical-align:text-top;
    vertical-align:top; 
}

#createAttribute .domain{
    width:263px;
}

#createAttribute .add{
    vertical-align:text-bottom;
    vertical-align:bottom;
}

#createAttribute .textBox, #createAttribute .textBox select, #createAttribute .textBox option{
    width:150px;
}

#DataStructureGrid input, #DataStructureGrid textarea {
    border-radius: 3px;
    min-width:90px;  
}
#DataStructureGrid input {
    max-width:297px;
    width:100%;
}
#DataStructureGrid textarea {
    max-width:290px;
    width:95%;
}
.unit .t-grid-header th {
    border: none;
}

.unit table {
    margin: 0px;
    padding: 0px;
    width: 290px;
    height: 190px;
}

.unit {
    width: 300px;
    height: 200px;
}

#createDataType {
    width:400px;
}

#createDataType table, #createDataType form{
    width:100%;
}

#createDataType td{
    width:33%;
}

.locked {
    color:gray;
    text-align: center;
}

.planingPartialDiv table, .planingPartialDiv tr {
    width:100%;
  
}

.planingPartialDiv table, .planingPartialDiv tr, .planingPartialDiv td {
    border-style: none;
    
}

.planingPartialDiv #DataTypeGrid, .planingPartialDiv #DatasetGrid, .planingPartialDiv #DataAttributeGrid{
    margin: 0px;
    padding: 0px;
    width: 800px;
}

.planingPartialDiv #DataAttributeGrid .t-numerictextbox, .planingPartialDiv #DataAttributeGrid .t-numerictextbox .t-formatted-value ,.planingPartialDiv #DataAttributeGrid .t-numerictextbox .t-input {
width:30px !important;
}

.planingPartialDiv input {
border-radius: 3px;
width: 150px;
}

.planingPartialDiv .constrainlabel, .planingPartialDiv .negated {
width: 60px;

}

.planingPartialDiv .negated, .planingPartialDiv .constrainValue .include{
text-align:center;
align-content:center;
}

.planingPartialDiv .constrainheader, .planingPartialDiv .constrainTable .text {
    color: gray;
    font-size: 9px;
}

.planingPartialDiv .constrainheader, .planingPartialDiv .constrainheader td, .planingPartialDiv .constrainheader td.header {
    border:none;
}

.planingPartialDiv .constrainValue .container {
float:left;
margin-right:5px;
}

.planingPartialDiv .constrainValue input {
width:230px;
}

.planingPartialDiv .constrainTable td {
border-top:1px solid #CCC;
}

.planingPartialDiv textarea {
border: 1px solid #CCC;
border-radius: 3px;
width: 300px;
max-width: 600px;
max-height:200px;
font:14px arial, verdana;
}

.planingPartialDiv .t-dropdown {
border-radius: 3px;
width: 150px;
}

.planingPartialDiv form {
display:inline-block;
max-width:100%;
}

.hidden {
    display: none;
}

table, .t-grid {
    border-radius: 3px;
}

.functions {
float:left;
max-width:50%;
}

.submit {
float:right;
max-width:50%;
}

.planingPartialDiv .midinput, .planingPartialDiv input.midinput, .planingPartialDiv .constrainValue input.midinput{
width: 75px;
}

.planingPartialDiv .smallinput, .planingPartialDiv input.smallinput, .planingPartialDiv .constrainValue input.smallinput {
width: 40px;
}

.planingPartialDiv .tallinput, .planingPartialDiv input.tallinput, .planingPartialDiv .constrainValue input.tallinput {
width: 300px;
}

.planingPartialDiv input.checkBox, .planingPartialDiv .constrainValue input.checkBox {
border-radius: 3px;
width: 15px;
}