@model List<BExIS.Modules.Bam.UI.Models.AddRelationshipModel>
@{
    var hasParty = false;
    var sourceParty = (BExIS.Dlm.Entities.Party.Party)ViewBag.sourceParty;
    var subModels = new Dictionary<IEnumerable<BExIS.Dlm.Entities.Party.PartyRelationshipType>, BExIS.Dlm.Entities.Party.Party>();
    //subModels.Add(Model.Where(cc => cc.AssociatedPairs.Any(item => item.SourcePartyType.Id == sourceParty.PartyType.Id)), sourceParty);
    // subModels.Add(Model.Where(cc => cc.AssociatedPairs.Any(item => item.TargetPartyType.Id == sourceParty.PartyType.Id)), sourceParty);

    var partyManager = new BExIS.Dlm.Services.Party.PartyManager();
}

<div style="max-height:420px;overflow:auto;">
    <form action="/BAM/Party/CreatePartyRelationships" method="post" id="frmRelationship">
        <input type="hidden" name="partyId" id="PartyRelationWindowPartyId" value="" />
        @*Find all the allowed partyRelationType*@

        @(Html.Telerik().TabStrip()
                .Name("ShowDataTabStripPartyTypes").Items(tabs =>
                {
                    tabs.Add().Text(sourceParty.Name + " as source").Selected(true).Content(@<text> @Html.Partial("_templateRelationshipPartial", Model.First())</text>);
                    tabs.Add().Text(sourceParty.Name + " as target").Content(@<text>@Html.Partial("_templateRelationshipPartial", Model.Last())</text>);
                }))

        <div class="bx-footer right">
        <button type="submit" value="Save" name="saveDataset" class="bx-button action" style="border:0px;">Save</button>
        <button type="button" value="Cancel" name="cancel" class="bx-button action" style="border:0px;" onclick="$('#PartyRelationWindow').data('tWindow').close();">Cancel</button>
</div>
    </form>
</div>
<script type="text/javascript">
    function togglePartyRelDetail(partyRelationTypeId, checkboxElement) {
        if ($(checkboxElement).is(":checked"))
            $('.PartyRelationTypeDetails_' + partyRelationTypeId).show();
        else {
            $('.PartyRelationTypeDetails_' + partyRelationTypeId + '  input[type=checkbox]').attr('checked', false);
            $('.PartyRelationTypeDetails_' + partyRelationTypeId + ' .divPartyRelationship').html('');
            $('.PartyRelationTypeDetails_' + partyRelationTypeId).hide();
        }
    }
    function checkDateRange() {
        $thisElement = $(this);
        $parentElement = $thisElement.closest(".divPartyRelationship");
        $warningElement = $parentElement.find(".dateWarning");
        startDate = new Date($parentElement.find("[id*='StartDate']").val());
        endDate = new Date($parentElement.find("[id*='EndDate']").val());
        targetStartDate = new Date($thisElement.closest(".divPartyRelationship").attr("startDate"));
        targetEndDate = new Date($thisElement.closest(".divPartyRelationship").attr("endDate"));
        $warningElement.html("");
        if ((startDate > endDate))
            $warningElement.html("Start date should be less than end date.");
        if ((startDate < targetStartDate) || (endDate > targetEndDate)) {
            var lblPartyRel = $thisElement.closest(".partyRelationship").find("#lblPartyName").text();
            $warningElement.html($warningElement.html() + " dates should be in the range of " + lblPartyRel + "'s dates. From " + targetStartDate.toLocaleDateString() + " to " + targetEndDate.toLocaleDateString());
        }
    }

    $(".chkPartyRelationType").on("click", function () {
        val = $(this).val();
        $(".PartyRelationTypeDetails_" + val).show();
    });
    $(".chkPartyRelationship").on("click", function () {
        str = $('#partyRelationshipTemplate').html();
        str = str.replace(/{isSource}/gi, $(this).attr("isSource"));
        str = str.replace(/{partyId}/gi, $(this).attr("partyId"));
        str = str.replace(/{PartyRelationshipTypeId}/gi, $(this).attr("partyRelationshipTypeId"));
        str = str.replace(/{partyTypepairId}/gi, $(this).attr("partyTypepairId"));
        str = str.replace(/{PartyRelationshipTitle}/gi, $(this).attr("partyRelationshipTitle"));
        str = str.replace(/{TargetPartyStartDate}/gi, $(this).attr("StartDate"));
        str = str.replace(/{TargetPartyEndDate}/gi, $(this).attr("EndDate"));
        if ($(this).is(':checked'))
            $(this).nextAll('.divPartyRelationship').html(str);
        else
            $(this).nextAll('.divPartyRelationship').html('');

        $(".partyRelationshipsDate").tDatePicker({ format: "yyyy-MM-dd", style: "width:275px;display:inline-block ", onChange: checkDateRange });
        var $form = $("#frmRelationship");
        // Unbind existing validation
        $form.unbind();
        $form.data("validator", null);
        // Check document for changes
        $.validator.unobtrusive.parse(document);
        // Re add validation with changes
        $form.validate($form.data("unobtrusiveValidation").options);
        $('[data-toggle="tooltip"]').tooltip();
    });
    $('[data-toggle="tooltip"]').tooltip();
</script>
<script id="partyRelationshipTemplate" type="text/html">
    <table>
        <tr>
            <td style="width:200px">
                Title
            </td>
            <td>
                <input type="hidden" name="partyRelationshipsDic[PartyRelationshipTypeId_{partyId}_{partyTypepairId}]" value="{PartyRelationshipTypeId}" />
                <input type="hidden" name="partyRelationshipsDic[isSource_{partyId}_{partyTypepairId}]" value="{isSource}" />
                <input type="text" name="partyRelationshipsDic[Title_{partyId}_{partyTypepairId}]" class="t-input bx-input" value="{PartyRelationshipTitle}" data-val="true" data-val-required="This field is required." />@*<img src="~/Content/Images/info.png" data-toggle="tooltip" title="Relationship title" />*@
            </td>
        </tr>
        <tr>
            <td style="width:200px">
                Description
            </td>
            <td>
                <input type="text" name="partyRelationshipsDic[Description_{partyId}_{partyTypepairId}]" class="t-input bx-input" value="" />@*<img src="~/Content/Images/info.png" data-toggle="tooltip" title="Relationship description" />*@
            </td>
        </tr>
        <tr>
            <td style="width:200px">Start Date</td>

            <td>
                <div>
                    <input class="partyRelationshipsDate t-input bx-input" id="partyRelationshipsDic[StartDate_{partyId}_{partyTypepairId}]" value="{TargetPartyStartDate}" name="partyRelationshipsDic[StartDate_{partyId}_{partyTypepairId}]" type="text">
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:200px">End Date</td>
            <td>
                <div>
                    <input class="partyRelationshipsDate t-input bx-input" id="partyRelationshipsDic[EndDate_{partyId}_{partyTypepairId}]" value="{TargetPartyEndDate}" name="partyRelationshipsDic[EndDate_{partyId}_{partyTypepairId}]" type="text" style="display:inline-block" />
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2"> <span class="dateWarning" style="color:orange"></span></td>
        </tr>
        <tr>
            <td style="width:200px">
                Scope
            </td>
            <td>
                <input type="text" name="partyRelationshipsDic[Scope_{partyId}_{partyTypepairId}]" value="" class="t-input bx-input" />@*<img src="~/Content/Images/info.png" data-toggle="tooltip" title="Relationship scope" />*@
            </td>
        </tr>
    </table>
</script>