<style>
    .relatioshipGridColumn {
    background-color:ghostwhite;
    }
</style>
@{
    var partyDataTable = (System.Data.DataTable)@ViewBag.partyDataTable;
    var partyTypeId = (long)@ViewBag.partyTypeId;
    var partyManager = new BExIS.Dlm.Services.Party.PartyManager();
    var partyCustomGridColumns = partyManager.GetPartyCustomGridColumns(partyTypeId);
}
@(Html.Telerik().Grid(partyDataTable)
            .Name("partiesGrid").DataBinding(dataBinding => dataBinding
        .Ajax().OperationMode(GridOperationMode.Client))
            .Pageable(paging => paging.Enabled(true).PageSize(10).Position(GridPagerPosition.Both).PageTo(1))
            .Sortable()
            .Columns(columns =>
            {
            // columns.Bound("PartyId");
            columns.Bound("PartyName");
            columns.Bound("PartyTypeTitle").Title("Type");
            foreach (var partyCustomGridColumn in partyCustomGridColumns.Where(cc=>cc.TypePair==null))
                columns.Bound(partyCustomGridColumn.CustomAttribute.Name.Replace(" ", "_")).Title(partyCustomGridColumn.CustomAttribute.DisplayName);
            foreach (var partyCustomGridColumn in partyCustomGridColumns.Where(cc => cc.CustomAttribute == null))
                columns.Bound(partyCustomGridColumn.TypePair.Title.Replace(" ", "_")).Encoded(false).Title(partyCustomGridColumn.TypePair.Title).HtmlAttributes(new { @class = "relatioshipGridColumn" });
            columns.Template(@<text>
    <div>
        @Html.ActionLink(" ", "View", "Party", new { id = item.Row.ItemArray[0] }, new { @class = "bx bx-grid-function bx-show", @style = "color:white;", title = "View Party \"" + item.Row.ItemArray[0] + "\"" })
        @Html.ActionLink(" ", "CreateEdit", "Party", new { id = item.Row.ItemArray[0] }, new { @class = "bx bx-grid-function bx-edit", @style = "color:white;", title = "Edit Party \"" + item.Row.ItemArray[0] + "\"" })
        @Html.ActionLink(" ", "DeleteConfirm", "Party", new { id = item.Row.ItemArray[0] }, new { @class = "bx bx-grid-function bx-trash ", @style = "color:white;", title = "Delete Party \"" + item.Row.ItemArray[0] + "\"" })
    </div>
</text>).ClientTemplate("<div><a title=\"View Party\" style=\"color: white; \" href=\"/BAM/Party/View/<#= PartyId #>\" class=\"bx bx-grid-function bx-show\"> </a><a title=\"Edit Party\" style=\"color:white;\" href=\"/BAM/Party/CreateEdit/<#= PartyId #>\" class=\"bx bx-grid-function bx-edit\"> </a><a title=\"Delete Party\" style=\"color:white;\" href=\"/BAM/Party/DeleteConfirm/<#= PartyId #>\" class=\"bx bx-grid-function bx-trash \"> </a></div>");

            })
)