@model Dictionary<String, List<String>>
<div class="bx-rpm-buttons">
    @Html.ActionLink("Create Party", "Create", "Party", new { }, new { @class = "bx-button function" })
</div>
<div id="tabs" class="t-widget t-tabstrip t-header">
    <ul class="t-reset t-tabstrip-items" style="background-color:none !important;">
        <li id="" class="t-item t-state-default t-state-active">
            <a class="t-link">
                <span>All</span>
            </a>
        </li>
        @foreach (var rootPartyType in Model)
        {
            var partyTypes=string.Join(",", rootPartyType.Value);
            <li partyTypes="@partyTypes" class="t-item t-state-default">
                <a class="t-link">
                    <span>@rootPartyType.Key</span>
                </a>
            </li>
        }
        @*ui-tabs-active*@
    </ul>

    <img src="@Url.Content(Themes.GetResourcePath("Styles/Default", "loading.gif"))" style="display:none" id="imgPartiesLoading" />
    <div id="divPartiesGrid" class="ui-tabs-panel ui-corner-bottom ui-widget-content">
    </div>
</div>
<script type="text/javascript">

    $("#tabs li").on("click", function () {
        $("#tabs li").removeClass("ui-state-active");
        $(this).addClass("ui-state-active");
        loadParties($(this).attr("partyTypes"));
    });

    function loadParties(partyTypes)
    {
        if (!partyTypes)
            partyTypes = '';
        $('#imgPartiesLoading').show();
        $('#divPartiesGrid').html("");
        $('#divPartiesGrid').load('/BAM/Party/LoadParties/?party_types=' + partyTypes, function (response, status, xhr) {
            if (status == "error") {
                $('#divPartiesGrid').html("")
                alert(response);
            }
            $('#imgPartiesLoading').hide();
            $('[data-toggle="tooltip"]').tooltip();
        });
    }

    loadParties('');
</script>