@model List<BExIS.IO.BasicFileInfo>

<div id="FileList">
    <h4>Your Files</h4>
    <div>
            @foreach(BExIS.IO.BasicFileInfo x in Model)
            {
                <p>@Html.ActionLink(" ", "Delete","Push", new { area = "DCM", name = @x.Name, path = @x.Uri }, new { @class="bx-trash bx-function" }) @x.Name </p>
            }
    </div>
</div>