@model BExIS.Modules.Ddm.UI.Models.VisualizationModel

@using Telerik.Web.Mvc.UI;

@section Information
{
    In this page you can see visual informations.
}

    
        <b>Title: @Model.title</b>

        <p>Number of Values: @Model.values.Count</p>        

@foreach (var item in Model.values)
{
    <ul typeof="circle">
        <li>@item.Key: @item.Value</li>       
    </ul>
}

<div>
    <p>LIST:</p>
    <p id="demo"></p>
</div>

    <div id="" class="bx-footer right" style="text-align:left;">
        <button type="button" value="Save" id="saveDiagram" class="bx-button action" title="Save diagram as SVG" style="border:0px;">Save</button>
    </div>


<script>

    $("#saveDiagram").bind("click", function () {
        alert();
    });


    function blabla(t) {
     
        return (t);
    }
    document.getElementById("demo").innerHTML = blabla(Model.title);
</script>
