
@model BExIS.Modules.Ddm.UI.Models.VisualizationModel
@using Telerik.Web.Mvc.UI;

@using Telerik.Web.Mvc.UI;


@{
    string modelValues = String.Join(",", Model.values);
}

@section Information
{
    In this page you can see visual informations.
}

<p onclick="alertMe('@Model.title')"><b>Title: @Model.title</b></p>

@foreach (var item in Model.values)
{
    <ul typeof="circle">
        <li>@item.Key: @item.Value</li>
    </ul>
}

<!--Model.datasetIds-->

<div>
    <p>LIST:</p>
    <p id="demo"></p>
    <p id="message"></p>


</div>

<div id="" class="bx-footer right" style="text-align:left;">
    <button type="button" value="Save" id="saveDiagram" class="bx-button action" title="Save diagram as SVG" style="border:0px;">Save</button>
</div>

<div id="chartContainer" style="height: 300px; width: 60%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script>

    $("#saveDiagram").bind("click", function () {
        alertMe("kkkk");
    });

    function alertMe(ttt){
        alert(ttt);
    };


    //document.getElementById("message").innerHTML = myAlert("hahahaha");
    //document.getElementById("demo").innerHTML = myFunction(Model.values.Count, 3);


    $( document ).ready(function() {

        //dataPoints: list of objects {y: value, label:key}
        var dataPoints = [];

        //modelValues: string form of data points. It was defined by model as a dictionary
        //dicValues: splited modelValue by ','. The brackets are included.
        var dicValues = '@modelValues'.split(",");
        // modelValues: [a, 100],[b, 200]


        for (var i = 0; i < dicValues.length; i = i + 2)
        {
            //add key and value to the object "dataPoints". Remove brackets. convert value to int.
            dataPoints.push({y: parseInt(dicValues[i+1].replace(']',"")), label: dicValues[i].replace('[', "")});
        }

        //draw a diagram
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title:{
                text: "Top Oil Reserves"
            },
            axisY: {
                title: "Reserves(MMbbl)"
            },
            data: [{
                type: "column",
                showInLegend: true,
                legendMarkerColor: "grey",
                legendText: "MMbbl = one million barrels",
                dataPoints: dataPoints
            }]
        });
        chart.render();

    });

</script>
