
@{
    ViewBag.Title = "Calendar";
}

<div id="externalCalendar">
    <a name="Calendar" style="padding-top:60px">
    </a>

    <p>Please use this calendar for  planning and scheduling your field trips, events and meetings. </p>
    <p>This calendar is hosted on an external webpage, but dynamically connected so that you can use it here as well with full functionality. </p>
    <p>You can find the link to the external calendar here:  <a href="https://teamup.com/ksu5w7n31ros5jj7bk" target="blank">link</a></p>
    <br />

    <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
            src="https://teamup.com/ksu5w7n31ros5jj7bk"
            style="border: 0; width:100%; min-height:800px;"></iframe>
</div>