
@{
    ViewBag.Title = "Calendar";
}

<div id="externalCalendar">
    <a name="Calendar" style="padding-top:60px">
    </a>

    <p>Please use this calendar for  planning and scheduling your field trips, events and meetings. </p>
    <p>This calendar is hosted on an external webpage, but dynamically connected so that you can use it here as well with full functionality. </p>
    <p>You can find the link to the external calendar here:  <a href="https://teamup.com/ksr1s4x6yir9i812zh" target="blank">link</a></p>
    <br />
    <p>The current planning calendar for trips is also available as pdf file here: <a href="https://oc.bgc-jena.mpg.de/index.php/s/aF6I33DWYKDrp3M" target="blank">link</a></p>
    <br />

    <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
            src="https://teamup.com/ksr1s4x6yir9i812zh"
            style="border: 0; width:100%; min-height:800px;"></iframe>
</div>