@model BExIS.Modules.Ato.UI.Models.InformationModel

@{
    ViewBag.Title = "General Information";
}

<!-- Side navigation -->
<div class="sidenav">
    <ul class="nav navbar-nav">
        @foreach (var category in Model.CategoryModels)
    {
            <li>
                <a href=#@category.Name>
                    @category.Name
                </a>
            </li>
            }
    </ul>
    </div>

    <div id="Head">
        <h1>General Information</h1>
    </div>

    <div id="infoContainer">
        <div id="documentationContainer">
            @Html.Partial("Documentation", Model.CategoryModels)
        </div>
    </div>
