@section Information
{
    This maintenance tool is meant for administrators only. All datasets are
    listed with their internal ID, status, and the option to remove them
    from the system. Use with care!
    <p>
        <a href="/SAM/Help/Index/#_Toc451422053" class="bx-informationLink" title="go to help" target="_blank">More</a>
    </p>
}
@Html.ValidationSummary(true)
@if (!ViewData.ModelState.IsValid)
{
    <h2>
        @string.Join("; ", ViewData.ModelState.Values
                                         .SelectMany(x => x.Errors)
                                         .Select(x => x.ErrorMessage));
    </h2>
}
@Html.ActionLink("Return to List", "Index", new { area = "Sam" })