<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MailKit" version="2.10.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.3.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.3.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.3.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.3.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.3.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Facebook" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Google" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Twitter" version="3.1.0" targetFramework="net452" />
  <package id="MimeKit" version="2.10.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Owin.Security.Providers.Orcid" version="2.15.1" targetFramework="net452" />
  <package id="Portable.BouncyCastle" version="1.8.8" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net452" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net452" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net452" />
</packages>