[*.cs]

# Set CA2000: Dispose objects before losing scope to error
dotnet_diagnostic.CA2000.severity = error

# Exclude from CA2000
dotnet_code_quality.CA2000.excluded_symbol_names = T:System.Data.DataTable
