[submodule "Console/Workspace"]
	path = Console/Workspace
	url = https://github.com/BEXIS2/Workspace.git
[submodule "Components/Vaiona"]
	path = Components/Vaiona
	url = https://github.com/BEXIS2/VWF.Mvc.git
