@{
    ViewBag.Title = "Dataset quality successful";
}

@section scripts
{
    @*<script src="@Url.Content("~/Areas/Sam/Scripts/sam-datasets.js")" type="text/javascript"></script>*@
}

@section Information
{
    Warning!
}


<div>
    <p>Data quality indices are successfuly provided.</p>
    @Html.ActionLink("Return to dataset quality manager", "Index", new { area = "dqm" })
    

<script type="text/javascript">

    $(document).ready(function () {

        //$('.default').click(function () {
        //    $('.default').not($(this)).removeClass('active');
        //    $(this).toggleClass('active').next().find('.sub-table-wrap').slideToggle();
        //    $(".toggle-row").not($(this).next()).find('.sub-table-wrap').slideUp('fast');
        //});

    });


</script>