@using Vaiona.Web.Mvc;<br />
@section Information
{
This guide will walk you through the basics of using search UI including how to manage search component.
}
@section leftPane{
  <div class="toc">
<br/>  
<h3> Administration ToC </h3>
<br />
<p></p>    <a href="#_Toc468259066">1. Overview</a>
<p></p>    <a href="#_Toc468259067">2. Account</a>
<p></p>&nbsp;&nbsp;    <a href="#_Toc468259068">2.1. Registration</a>
<p></p>&nbsp;&nbsp;    <a href="#_Toc468259069">2.2. LogOn</a>
<p></p>    <a href="#_Toc468259070">3. Users</a>
<p></p>&nbsp;&nbsp;    <a href="#_Toc468259071">3.1. Create a user</a>
<p></p>&nbsp;&nbsp;    <a href="#_Toc468259072">3.2. Edit a user</a>
<p></p>    <a href="#_Toc468259073">4. Groups</a>
<p></p>&nbsp;&nbsp;    <a href="#_Toc468259074">4.1. Create a group</a>
<p></p>&nbsp;&nbsp;    <a href="#_Toc468259075">4.2. Edit a group</a>
<p></p>    <a href="#_Toc468259076">5. Permissions</a>
<p></p>&nbsp;&nbsp;    <a href="#_Toc468259077">5.1. Features</a>
<p></p>&nbsp;&nbsp;    <a href="#_Toc468259078">5.2. Datasets</a>
<p></p>    <a href="#_Toc468259079">6. Maintenance</a>
  </div>
}
<style>
.toc { position: fixed; top:100px; }
.scrollable { overflow: auto; height: 750px; }
:target:before { content: ""; display: block; height: 100px; }
</style>

<p><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>

<br/><p><span>&#xa0;</span></p>
<h2><a id="_Toc468259066"><span>1. Overview</span></a></h2>
<p><span>Caution! Do not delete the preset user and group!</span></p>
<p><span>Users. After installation there is just a single user inside the database. The user name is "Administrator" and the password is "gWg2xG". By default, this user has full access to the whole application (because of the relationship to group "Admin", see next paragraph).</span></p>
<p><span>Groups. Similar to Users, there is just one group inside the database - and the group name is "Admin". In addition to that, the user "Administrator" belongs to that group. By default, this group grants full access to the application.</span></p>
<p><span>Features. The set of features is fixed and corresponds to the different hierarchical items of the menu bar. </span></p>
<p><span>Permissions. Within the system, it is possible to add, remove or modify existing permissions on features and datasets.</span></p>
<p><span>&#xa0;</span></p>
<h2><a id="_Toc468259067"><span>2. Account</span></a></h2>
<p><span>By default, only a few components of BEXIS 2 are accessible for anonymous users. Any further access to the application is available for authorized users, only. Therefore you need to register and create an account. After a successful registration you are able to logon to BEXIS 2 using your account credentials for authentication.</span></p>
<p><span>&#xa0;</span></p>
<h3><a id="_Toc468259068"><span>2.1. Registration</span></a></h3>
<p><span>&#xa0;</span></p>
<p><span>First press Register button. You have to complete all fields and accept the Terms and Conditions before you press Create, otherwise the registration will fail. Furthermore, the system supports you with different validation messages if any information is not valid. </span></p></div>
<p><span>&#xa0;</span></p>
<p><img src="~/Areas/SAM/Content/Images/Help/Help_img1.png" width="626" height="459" alt="img1" /><span>&#xa0;</span></p></div>
<p><span>&#xa0;</span></p>
<h3><a id="_Toc468259069"><span>2.2. LogOn</span></a></h3>
<p><span>First press Log In button. The system redirects you to the logon form and you have to enter your account credentials (user name and password). If the logon is successful, you will see a short welcome message instead of [ LogOn ]. Otherwise, the system will notify you about the status and reason why the logon was not successful. </span></p>
<p><img src="~/Areas/SAM/Content/Images/Help/Help_img2.png" width="627" height="436" alt="img2" /><span>&#xa0;</span></p>
<h2><span>&#xa0;</span></h2>
<h2><a id="_Toc468259070"><span>3. Users</span></a></h2>
<p><span>Caution! This part of the system is secured. You may not have access to it. </span></p>
<p><span>BEXIS 2 provides different features for managing users. These are typically available to system administrators only. Each of them is described in more detail in one of the following subsections. </span></p>
<p><img src="~/Areas/SAM/Content/Images/Help/Help_img3.png" width="626" height="205" alt="img3" /><span>&#xa0;</span></p>
<h3><a id="_Toc468259071"><span>3.1. Create a user</span></a></h3>
<p><span>In addition to the self-registration procedure, user accounts may also be created by an administrator. This feature is available from Setup > Manage Users. Please press the Create button. A modal window will pop up that contains the user creation form. Similar to the self-registration, the system supports you with validation on all information entered.</span></p>
<p><img src="~/Areas/SAM/Content/Images/Help/Help_img4.png" width="626" height="459" alt="img4" /><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<h3><a id="_Toc468259072"><span>3.2. Edit a user</span></a></h3>
<p><span>Within BEXIS 2 you are able to display and modify user information. For security and usability reasons, the system allows modification only for certain parts of the user information. Please go to Setup > Manage Users and press the Edit button of the respective user. You are now able to alter the user information. Changes are committed to the system when you press the Save button. </span></p>
<p><span>For any given user memberships to certain groups need to be specified via the tab Membership.</span></p>
<p><span>You can change the status easily by (un)select the corresponding checkbox.</span></p>
<p><img src="~/Areas/SAM/Content/Images/Help/Help_img5.png" width="628" height="378" alt="img5" /><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<h2><a id="_Toc468259073"><span>4. Groups</span></a></h2>
<p><span>Caution! This part of the system is secured. You may not have access to it.</span></p>
<p><span>BEXIS 2 provides different features for the managing groups. They are typically available to system administrators only. Each of them is described in more detail in the following subsections.</span></p>
<p><img src="~/Areas/SAM/Content/Images/Help/Help_img6.png" width="626" height="203" alt="img6" /><span>&#xa0;</span></p>
<h3><a id="_Toc468259074"><span>4.1. Create a group</span></a></h3>
<p><span>This feature is available from Setup &gt; Manage Groups. Please press the Create button. A modal window will pop up that contains the group creation form. The system supports you with validation on all information entered.</span></p>
<p><img src="~/Areas/SAM/Content/Images/Help/Help_img7.png" width="448" height="239" alt="img7" /><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<h3><a id="_Toc468259075"><span>4.2. Edit a group</span></a></h3>
<p><span>Within BEXIS 2 you are able to display and modify group information. Please go to Setup > Manage Groups and press the Edit button of the respective group. You are now able to alter the group information. Changes are committed to the system once you pressed the Save button. </span></p>
<p><span>For any given user memberships to certain group need to be specified via the tab Membership.</span></p>
<p><span>You can change the status easily by (un)select the corresponding checkbox.</span></p>
<p><img src="~/Areas/SAM/Content/Images/Help/Help_img8.png" width="520" height="294" alt="img8" /><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<h2><a id="_Toc468259076"><span>5. Permissions</span></a></h2>
<p><span>Caution! This part of the system is secured. You may not have access to it.</span></p>
<p><span>Permission is a rule that contains certain security regulations. In general, it is possible to set a rule on both, users and groups.</span></p>
<p><span>The security system of BEXIS 2 distinguishes between two types of permissions. On the one hand, there are feature permissions, which allow or prohibit the access to well-defined and delimited areas of the application. This type of permissions is working on functional objects (e.g. actions that should be performed) - so called Features. On the other hand, data permissions provide the ability to protect real data (e.g. datasets, research plans and so on). </span></p>
<p><span>&#xa0;</span></p>
<h3><a id="_Toc468259077"><span>5.1. Features</span></a></h3>
<p><span>To be able to modify features, Please go to Setup > Manage Features. This will bring up a page with a tree on the left side. </span></p>
<p><span>Selecting a checkbox in the navigation tree (e.g. Search) will make that feature accessible without authentication (public access). Please use with care!  </span></p>
<p><span>By clicking a feature name (a node in the tree), the system will show a table on the right side (see below). This table contains all subjects (users and groups) and their feature permission status. You may grant or deny permissions for individual users or groups using the radio buttons. If a permission is not explicitly set (i.e None) permissions are inherited from up level features. Inherited permissions are shown in the first column as effective permissions. </span></p>
<p><img src="~/Areas/SAM/Content/Images/Help/Help_img9.png" width="626" height="339" alt="img9" /><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<h3><a id="_Toc468259078"><span>5.2. Datasets</span></a></h3>
<p><span class="hps">The security system of </span><span class="hps">BEXIS 2</span><span class="hps"> is working on both, functional (features) and non-functional (dataset) items. Please go to Setup > Manage Data Permissions if you like to manage access to datasets. </span></p>
<p><span>By selecting a dataset (i.e. a row in the table), the system will show a second table </span><span class="hps">underneath the</span><span class="short-text"> </span><span class="hps">first one, which contains all subjects (users and groups) and their different data permission statuses regarding the selected dataset. On this page, you are also able to alter the different kinds of data permissions for a selected dataset. </span></p>
<p><span>Selecting the checkbox in the first column (i.e. IsPublic) will allow public access to that dataset without any authentication.</span></p>
<p><span>&#xa0;</span></p>
<p><img src="~/Areas/SAM/Content/Images/Help/Help_img10.png" width="626" height="292" alt="img10" /><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p><span>In general, the system works on six different data permission types:</span></p>
<li><span>Create: allow/deny creating a dataset</span></li>
<li><span>View: allow/deny view access to primary data</span></li>
<li><span>Update: allow/deny manipulation (upload and update) of primary data</span></li>
<li><span>Delete: allow/deny deletion of the whole dataset</span></li>
<li><span>Download: allow/deny downloading primary data</span></li>
<li><span>Grant: allow/deny to give permission to other users or groups</span></li>
<p><span>&#xa0;</span></p>
<h2><a id="_Toc468259079"><span>6. Maintenance</span></a></h2>
<p><span>At the dataset maintenance, you are able to see a list of Datasets. </span></p>
<p><span>You can find this list via menu in Setup > Maintain Datasets. In this list you can see the status of each dataset and some useful actions for the maintenance of a dataset.</span></p>
<p><img src="~/Areas/SAM/Content/Images/Help/Help_img11.png" width="627" height="146" alt="img11" /><span>&#xa0;</span></p>
<p><span>There are two ways to delete a dataset: </span></p>
<p><span>Delete: this function tags a dataset to exclude it from nearly all features of the system (e.g. search). But the dataset itself will stay inside the database. So later on you are able to recover the dataset - if needed.</span></p>
<p><span>Purge: the dataset will be removed from the system at all (incl. removal of data permissions, metadata and primary data). There is no way to rollback that action.</span></p>
<p><span>Note that if you purge a dataset, you cannot recover it at all.</span></p>
<p><span>&#xa0;</span></p>