@model BExIS.Modules.Sam.UI.Models.ShowHelpModel
@using BExIS.Modules.Sam.UI.Models;

@{
    HtmlString toc = new HtmlString(Model.Title);
    HtmlString content = new HtmlString(Model.Description);
}

@section Information
{
    This guide will walk you through the basics of using administration parts including how to registrate or log on, how to manage users or groups and how to manage permissions.
}

@content

@section LeftPane
{
    <div class="toc">
        @toc
    </div>

    <style>
        .toc {
            position: fixed;
        }
    </style>
}