<link href="~/Areas/Dcm/BExIS.Modules.DCM.UI/Scripts/svelte/messages.css" rel="stylesheet">

@section scripts
{
    <script src="~/Areas/Dcm/BExIS.Modules.DCM.UI/Scripts/svelte/messages.js"></script>
}

@{
    long id = 0;
    long version = 0;

    if (ViewBag.id != null)
    {
        id = (long)ViewBag.id;
    }

    if (ViewBag.version != null)
    {
        version = (long)ViewBag.version;
    }

}

<h1>test from razor</h1>
<div id="resultmessages" dataset="@id" version="@version"> </div>