@{
    ViewBag.Title = "Edit";
    Layout = "~/Themes/Default/Layouts/_svelteLayout.cshtml";

}

<link href="~/Areas/DCM/BExIS.Modules.DCM.UI/Scripts/svelte/entities.css" rel="stylesheet">

@section scripts
{
   <script src="~/Areas/DCM/BExIS.Modules.DCM.UI/Scripts/svelte/entities.js"></script>
}


<div id="entities"></div>