<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MediaInfoDotNet" version="0.7.79.40925" targetFramework="net48" />
  <package id="MetadataExtractor" version="2.8.1" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="8.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="XmpCore" version="6.1.10.1" targetFramework="net48" />
</packages>