<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MediaInfoDotNet" version="0.7.79.40925" targetFramework="net48" />
  <package id="MetadataExtractor" version="2.7.2" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="XmpCore" version="6.1.10.1" targetFramework="net48" />
</packages>