@model BExIS.Modules.Dim.UI.Models.AdminModel

@using Telerik.Web.Mvc.UI;

@section Information
{

    On this page you are able to export metadata to a standard compliant XML file, i.e. ABCD or EML.<br />
    <ul>
        <li>Please select a metadata structure first (tab)</li>
        <li>Select one or more datasets to export</li>
        <li>Click the export button to create XML files</li>
    </ul>
<p>
    @* change this to an action link. Javad *@
    <a href="/DIM/Help/Index" class="bx-informationLink" title="go to help" target="_blank">More</a>
</p>
}

@if(@Model != null)
{
	@(Html.Telerik().TabStrip()
			.Name("ShowDataTabStrip")
			.SelectedIndex(0)
			.Items(tabs =>
			{
				foreach (var metadataStructure in Model.MetadataStructuresDic)
				{
					tabs.Add()
						.Text(metadataStructure.Value)
						.LoadContentFrom("LoadMetadataStructureTab", "Admin", new {Id = metadataStructure.Key });
				}

			})
	)
}