@using BExIS.Modules.Sam.UI.Models
@using BExIS.Security.Entities.Authorization
@using Telerik.Web.Mvc.UI

@model EntityInstanceModel
@{
    ViewBag.Title = "Permissions for "+Model.InstanceId;
}


<style>
    i {
        cursor: pointer;
    }
</style>
<script>
    function backFn() {
        window.location.href = '/dcm/edit/?id=@Model.InstanceId';
    }

</script>

<div class="permission-header">
    <div>
        <button class="bx bx-button function" onclick="backFn()" style="font-family:Arial">back</button>
    </div>
    @*<div>
        <h2>Permissions for  </h2>
    </div>*@
</div>

@(Html.Telerik().Grid<EntityPermissionGridRowModel>()
    .Name("grid_subjects")
    .DataKeys(keys =>
    {
        keys.Add(m => m.Id);
    })
    .Columns(columns =>
    {
        columns.Bound(m => m.DisplayName)
            .Width("15%");
        columns.Bound(m => m.Type)
            .Width("15%");

        foreach (RightType rightType in Enum.GetValues(typeof(RightType)).Cast<RightType>())
        {
            columns.Bound(m => m.Rights)
                        .ClientTemplate("<input type='checkbox' data-subjectid='<#= Id #>' data-entityid='" + Model.EntityId + "' data-instanceid='" + Model.InstanceId + "' data-righttype='" + (int)rightType + "' <#= (Rights &" + (int)rightType + ") > 0 ? checked='checked' : '' #> />")
                               .Title(rightType.ToString())
                               .Width("11%")
                               .Filterable(false)
                               .Sortable(false)
                               .HtmlAttributes(new { style = "text-align:center" });
        }
    })
      .DataBinding(dataBinding => dataBinding
          .Ajax()
          .OperationMode(GridOperationMode.Server)
          .Select("Subjects_Select", "UserPermissions", new { Model.EntityId, Model.InstanceId })
      )
      .Filterable()
      .Pageable(pageable =>
      {
          pageable.PageSize(10, new[] { 10, 20, 50, 100 });
          pageable.Style(GridPagerStyles.NextPreviousAndNumeric | GridPagerStyles.PageSizeDropDown);
          pageable.Position(GridPagerPosition.Bottom);
      })
      .Sortable(sortable => sortable
          .OrderBy(orderby => orderby
              .Add(m => m.DisplayName)
              .Ascending()
          )
      )
      .ClientEvents(events =>
      {
          events.OnDataBound("grid_subjects_onDataBound");
      }))

<style>
    .permission-header {
        display: flex;
        gap: 3px;
        align-items: center;
    }
</style>