@using Vaiona.Web.Mvc;<br />
@section Information
{
This guide will walk you through the basics of data collection including how to upload data and how to import a metadata structure.
}
@section leftPane{
  <div class="toc">
  <p style = "font-weight:bold" > Data Collection ToC </p>
  <br />
<p></p>    <a href="#_Toc468355749">1. Overview</a>
<p></p>    <a href="#_Toc468355750">2. Create a new dataset</a>
<p></p>&nbsp;&nbsp; <a href="#_Toc468355751">2.1. Copy an existing Dataset</a>
<p></p>&nbsp;&nbsp; <a href="#_Toc468355752">2.2. Content</a>
<p></p>&nbsp;&nbsp; <a href="#_Toc468355753">2.3. Messages</a>
<p></p>    <a href="#_Toc468355754">3. Upload Data</a>
<p></p>&nbsp;&nbsp; <a href="#_Toc468355755">3.1. Upload Tabular Data</a>
<p></p>&nbsp;&nbsp; <a href="#_Toc468355758">3.2. Specify Dataset</a>
<p></p>&nbsp;&nbsp; <a href="#_Toc468355759">3.3. Define Primary Key</a>
<p></p>&nbsp;&nbsp; <a href="#_Toc468355760">3.4. Validation</a>
<p></p>&nbsp;&nbsp; <a href="#_Toc468355761">3.5. Summary</a>
<p></p>&nbsp;&nbsp; <a href="#_Toc468355762">3.6. Upload File</a>
<p></p>    <a href="#_Toc468355763">4. Push big files to server</a>
<p></p>    <a href="#_Toc468355764">5. Import metadata structure</a>
<p></p>&nbsp;&nbsp; <a href="#_Toc468355765">5.1. Select File</a>
<p></p>&nbsp;&nbsp; <a href="#_Toc468355766">5.2. Read Source</a>
<p></p>&nbsp;&nbsp; <a href="#_Toc468355767">5.3. Set Parameters</a>
<p></p>&nbsp;&nbsp; <a href="#_Toc468355768">5.4. Summary</a>
  </div>
}
<style>
.toc { position: fixed; top:100px; }
.scrollable { overflow: auto; height: 750px; }
:target:before { content: ""; display: block; height: 100px; }
</style>

<p><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>

<br/><p class="Heading-1"><a id="_Toc468355749"><span>Overview</span></a></p>
<p><span>&#xa0;</span></p>
<p><span>The Data Collection Module provides tools to create new datasets, enter metadata, upload data to the system, and import metadata structures (i.e. schemas). There are three workflows</span><span>&nbsp;</span><span>available under t</span><span>he </span><span>Collect</span><span>&nbsp;tab</span><span>&nbsp;and one in</span><span>&nbsp;</span><span>the</span><span>&nbsp;Setup</span><span>: </span></p>
<p><span>1)</span><span>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;</span><span>Create </span><span>a </span><span>dataset</span><span>&nbsp;</span><span>(</span><span>Collect)</span></p>
<p><span>2)</span><span>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;</span><span>Upload data to a dataset</span><span>&nbsp;</span><span>(</span><span>Collect)</span></p>
<p><span>3)</span><span>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;</span><span>Push big files to server </span><span>(</span><span>Collect)</span></p>
<p><span>4)</span><span>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;</span><span>Import metadata structure </span><span>(</span><span>Setup</span><span>)</span></p>
<p class="List-Paragraph"><span>&#xa0;</span></p>
<p class="Heading-1"><a id="_Toc468355750"><span>Create a new dataset</span></a></p>
<p><span>&#xa0;</span></p>
<p><span>This wizard will assist you in </span><span>creating a new dataset in </span><span>BEX</span><span>IS</span><span>&nbsp;2</span><span>.</span><span>&nbsp;T</span><span>he Wizard is very flexible and builds up differently depending on the selected Metadata structure. Therefore, we </span><span>describe</span><span>&nbsp;only the basic functions here.</span><span>&nbsp;</span></p>
<p><span>The f</span><span>irst s</span><span>tep is to generate an </span><span>empty</span><span>&nbsp;or a </span><span>copy of an existing dataset</span><span>&nbsp;</span><span>based on your selection of the </span><span>two</span><span>&nbsp;mandatory elements: </span><span>data str</span><span>ucture, and metadata structure. </span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img1.png" width="605" height="270" alt="Create-Dataset" /><span>&#xa0;</span></p>
<p><span>The next stage is determined by the selected metadata structure.</span></p>
<p><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p class="Heading-2"><a id="_Toc468355751"><span>Copy an existing </span><span>Dataset</span></a></p>
<p><span>By using Select button, you can choose a Dataset to make a copy of it. Related to the </span><span>Dataset, you can choose a Data S</span><span>tructure, but </span><span>t</span><span>here </span><span>is only one related Metadata Structure.</span></p>
<p><span>You are able to use predefined content or change fields as you want.</span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img2.jpeg" width="608" height="179" alt="Dataset_Copy" /><span>&#xa0;</span></p>
<p class="Heading-2"><span>&#xa0;</span></p>
<p class="Heading-2"><span>&#xa0;</span></p>
<p class="Heading-2"><a id="_Toc468355752"><span>Content</span></a></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img3.png" width="411" height="143" alt="img3" /><span>The content</span><span>&nbsp;area in the center is where you enter metadata describing your dataset. The forms provided here may look different and contain different attributes depending on the metadata schema (structure) you have chosen in the first step. </span></p>
<p><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img4.png" width="9" height="10" alt="img4" /><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>Required</span><span>&nbsp;a</span><span>ttributes</span><span>, </span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img5.png" width="31" height="29" alt="img5" /><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>Add an attribute, </span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img6.png" width="31" height="31" alt="img6" /><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>Remove an attribute, </span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img7.png" width="60" height="27" alt="img7" /><span>Change order of the attribute, </span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img8.png" width="20" height="17" alt="img8" /><img src="~/Areas/DCM/Content/Images/Help/Help_img9.png" width="17" height="14" alt="img9" /><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>expand / collapse</span></p>
<p><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p><span>On the Bottom</span><span>, there is a button titled Validate to examine whether required attributes have been filled and whether the information complies with the business logic. The validation ma</span><span>y also be triggered by using the</span><span>&nbsp;</span><span>S</span><span>ubmit.</span></p>
<p><span>You could edit a submitted dataset or make a copy of that by clicking on the Edit or Copy buttons.</span></p>
<p class="Heading-2"><span>&#xa0;</span></p>
<p class="Heading-2"><a id="_Toc468355753"><span>Messages</span></a></p>
<p><span>When an input is faulty, the inp</span><span>ut field is highlighted in red. </span><span>If you go with the mouse over the box, you get information about what is wrong.</span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img10.png" width="600" height="175" alt="img10" /><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p class="Heading-1"><a id="_Toc468355754"><span>Upload Data</span></a></p>
<p><span>To upload your data, please go to the </span><span>Collect &gt; Upload</span><span>&nbsp;D</span><span>ata</span><span>&nbsp;</span><span>via main menu</span><span>.</span><span>&nbsp;</span><span>This wizard will assist you in uploading data into the </span><span>BEXIS 2</span><span>&nbsp;repository. </span><span>A dataset can be structured or unstructured</span><span>&nbsp;(</span><span>i.e</span><span>&nbsp;tabular or file)</span><span>.</span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img11.jpeg" width="601" height="132" alt="Upload_Data" /><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p class="Heading-2"><a id="_Toc468355755"><span>Upload Tabular Data</span></a></p>
<p><span>The term “</span><span>Tabular</span><span>&nbsp;data” is used for all datasets where there internal structure of the data is “known” to the system. For example, in a data table the header, which defines the columns (i.e. </span><span>variables)</span><span>&nbsp;is the structure of the data. Before uploading/importing data to the system the data structure needs to be created with the Data Structure Manager of the Data Planning module.</span></p>
<p><span>&#xa0;</span></p>
<p class="Heading-3"><a id="_Toc468355756"><span>Select File</span></a></p>
<p><span>In t</span><span>he first step </span><span>an existing file</span><span>&nbsp;</span><span>containing your data needs to be </span><span>select</span><span>ed</span><span>. </span><span>You can either select a file from your local computer or a file that has been uploaded to the server prior to starting the Upload Wizard. The second option is designed for files larger than 4 MB that may take several minutes to transfer. The</span><span>&nbsp;wizard support</span><span>s</span><span>&nbsp;file format</span><span>s of</span><span>&nbsp;Microsoft Excel (*.</span><span>xlsm</span><span>) or ASCII (*.txt, *.csv). Microsoft Excel</span><span>&nbsp;files are required to use a template created with the Data Planning Module (Plan) of </span><span>BEXIS</span><span>&nbsp;2 (refer to Data Planning User Guide for more details). Once a file has been successfully selected, c</span><span>lick </span><span>the</span><span>&nbsp;</span><span>Next</span><span>&nbsp;button and </span><span>proceed</span><span>&nbsp;to </span><span>the </span><span>next step.</span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img12.jpeg" width="599" height="328" alt="Upload_Tabular_1" /><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p class="Heading-3"><a id="_Toc468355757"><span>Get File Information</span></a><span>&nbsp;</span></p>
<p><span>For all Microsoft Excel files using a </span><span>BEXIS 2</span><span>&nbsp;template the file information and data structure is automatically extracted and this step is omitted. Please refer to the Data Planning User Guide for more details on how to create such a template.</span></p>
<p><span>&#xa0;</span></p>
<p><span>For all </span><span>ASCII file</span><span>s users need to provide information on the file structure and formatting. </span></p>
<p><span>First, please choose a </span><span>separator</span><span>&nbsp;that is being used to separate data values from each other in your ASCII file. </span></p>
<p><span>Depending on your language different punctuation is used for decimal values. Please choose the one present in your ASCII file.</span></p>
<p><span>Next please specify whether the </span><span>orientation</span><span>&nbsp;of your data is </span><span>column</span><span>-</span><span>wise</span><span>&nbsp;or </span><span>row</span><span>-</span><span>wise</span><span>&nbsp;(see figure below).</span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img13.jpeg" width="269" height="108" alt="ColumnWise.JPG" /><img src="~/Areas/DCM/Content/Images/Help/Help_img14.jpeg" width="298" height="122" alt="RowWise.JPG" /><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p><span>Data</span><span>sets may contain empty rows or columns on top or to the left before the header and the actual data values start. Please specify this </span><span>offset</span><span>&nbsp;in number of columns or rows.</span><span>&nbsp;</span></p>
<p><span>Further, your data file may contain a header defining v</span><span>ariable</span><span>&nbsp;names, types etc. The row/column where this header starts needs to be specified (see figure below).</span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img15.jpeg" width="278" height="138" alt="Offset.JPG" /><img src="~/Areas/DCM/Content/Images/Help/Help_img16.jpeg" width="307" height="128" alt="Variables.JPG" /><span>&#xa0;</span></p>
<p><span>Finally, </span><span>the row/column where the actual data values start needs to be specified.</span></p>
<p><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p class="Heading-2"><a id="_Toc468355758"><span>Specify Dataset</span></a></p>
<p><span>In </span><span>BEXIS 2</span><span>&nbsp;your data is stored and managed as part of a dataset. A dataset may contain one or more of your data files. But all data files within one dataset must be of the same data structure, i.e. the number of variables and their properties must be identical in each file. </span><span>To upload your data to the s</span><span>ystem, please select one </span><span>existing dataset from the dropdown list. </span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img17.jpeg" width="604" height="331" alt="Upload_Tabular_2" /><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p class="Heading-2"><a id="_Toc468355759"><span>Define Primary Key</span></a></p>
<p><span>While adding data to an existing dataset </span><span>you need to </span><span>specify</span><span>&nbsp;a </span><span>unique identifier (e.g. </span><span>primary key</span><span>)</span><span>&nbsp;for </span><span>each tuple (i.e. row) </span><span>in </span><span>your dataset. </span><span>If your dataset already contains a variable with such a key please select it. Otherwise a </span><span>primary key </span><span>can be</span><span>&nbsp;</span><span>created by combining available </span><span>variables. </span><span>Please click the </span><span>Check</span><span>&nbsp;button to verify whether the selected combination is unique</span><span>.</span><span>&nbsp;I</span><span>f you go back and change something in the proc</span><span>ess of uploading, you need to ch</span><span>eck the primary key again.</span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img18.png" width="604" height="328" alt="Primary Key" /><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p class="Heading-2"><a id="_Toc468355760"><span>Validation</span></a></p>
<p><span>With this step, the selected data file is validated against the selected data structure. Both, the structure of the data (e.g. variable properties) and whether the data values fit to the specified structure (e.g. data type, value range) is evaluated. </span></p>
<p><span>Click on </span><span>Validate</span><span>&nbsp;button to validate the data file.</span></p>
<p><span>I</span><span>f you go back and change something in the process of uploading, you need to validate the file again.</span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img19.jpeg" width="596" height="327" alt="Upload_Tabular_Validate" /><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p class="Heading-2"><a id="_Toc468355761"><span>Summary</span></a></p>
<p><span>With this final step a summary of your uploaded data file is provided. Please check the information and click the </span><span>Finish</span><span>&nbsp;button to confirm and finalize the upload. </span></p>
<p><span>&#xa0;</span></p>
<p class="Heading-2"><a id="_Toc468355762"><span>Upload File</span></a></p>
<p><span>An unstructured data could be either selected from your local computer or could be a file that has been uploaded to the server. </span><span>In the case of unstructured data, we do not re</span><span>ad the contents of the data. </span><span>We copy the files to the server and place them in relation to the dataset</span><span>.  </span></p>
<p><span>BEXIS</span><span>&nbsp;2 application can support many file formats such as </span><span>(*.</span><span>avi</span><span>) (*.bmp) (*.csv) (*.doc) (*.</span><span>docx</span><span>) (*.gif) (*.jpg) (*.mp3) (*.mp4) (*.pdf) (*.</span><span>png</span><span>) (*.</span><span>shp</span><span>) (*.</span><span>tif</span><span>) (*.txt) (*.</span><span>xls</span><span>) (*.</span><span>xlsm</span><span>) (*.</span><span>xsd</span><span>) (*.zip)</span><span>.</span></p>
<p><span>The </span><span>Maximum acceptable file size up to now is: 1024 MB.</span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img20.jpeg" width="598" height="327" alt="Upload_File" /><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p class="Heading-1"><a id="_Toc468355763"><span>Push big files</span><span>&nbsp;to s</span><span>erver</span></a></p>
<p><span>Each user has </span><span>a personal </span><span>folder on the se</span><span>rver where files are stored temporary. </span><span>On this page you can see the uploaded files</span><span>. You can delete each file by clicking on the </span><span>X,</span><span>&nbsp;or use these files later, when you want to upload data to a dataset.</span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img21.jpeg" width="602" height="204" alt="Push_Big_File" /><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p class="Heading-1"><a id="_Toc468355764"><span>I</span><span>mport </span><span>m</span><span>etadata</span><span>&nbsp;</span><span>structure</span></a></p>
<p><span>&#xa0;</span></p>
<p><span>Metadata structures (</span><span>also called</span><span>&nbsp;schemas or</span><span>&nbsp;profiles)</span><span>&nbsp;</span><span>are typically created and imported by a data manager or administrator of the system. Thus this import function is available</span><span>&nbsp;</span><span>under</span><span>&nbsp;</span><span>the </span><span>Setup &gt; Import metadata Structure</span><span>.</span><span>&nbsp;</span><span>Th</span><span>e</span><span>&nbsp;wizard will assist you in </span><span>importing</span><span>&nbsp;</span><span>your metadata structure</span><span>&nbsp;into the </span><span>BEXIS 2</span><span>.</span><span>&nbsp;</span><span>&nbsp;A metadata structure must be defined in a XSD schema file. </span></p>
<p><span>When importing a metadata schema into </span><span>BEXIS 2</span><span>, each element of the XSD file(s) is analyzed for its type, name, annotations, attributes</span><span>, data types, constraints etc.  </span><span>Based on this information a form is automatically being created. For example, if an element is of data type Date, a date picker UI component will be used in the form. Also all names and descriptions are used exactly as they are in the XSD file(s). </span></p>
<p><span>NOTE: There are metadata standards available for almost any domain or type of data. It is good practice to follow one of them in order to ensure interoperability later on. However, although technical possible, most standards are very complex and should not be used as a whole. Users would just be overwhelmed and may need only a small selection of elements to describe their data. Standards are designed to cover a great range of use cases and data managers (in collaboration with their community) should make the effort in defining a set of feasible metadata elements in a profile (XSD file). </span></p>
<p><span>IMPORTANT: Please check, whether the XSD schema </span><span>file</span><span>s</span><span>&nbsp;have </span><span>any </span><span>dependencies to other files</span><span>. You can find the </span><span>dependencies</span><span>&nbsp;in the </span><span>import</span><span>&nbsp;or </span><span>include</span><span>&nbsp;tags.</span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img22.png" width="530" height="65" alt="img22" /><span>&#xa0;</span></p>
<p><span>The current </span><span>BEXIS 2</span><span>&nbsp;system requires all referenced files to be locally available on the server (no URL to external resource). So you may need to store all references first to a local folder, change the schema location path in </span><span>every</span><span>&nbsp;</span><span>file </span><span>(e.g. </span><span>./fileName.xsd</span><span>)</span><span>&nbsp;an</span><span>d then</span><span>&nbsp;upload</span><span>&nbsp;all files</span><span>&nbsp;to the server. (</span><span>See 4</span><span>. Push files to server).</span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img23.png" width="585" height="70" alt="img23" /><span>&#xa0;</span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img24.png" width="492" height="49" alt="img24" /><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p class="Heading-2"><a id="_Toc468355765"><span>Select File</span></a></p>
<p><span>In t</span><span>he first step </span><span>an existing file</span><span>&nbsp;</span><span>containing your data needs to be </span><span>select</span><span>ed</span><span>. </span><span>You can either select a XSD file from your local computer or a file that has been uploaded to the server prior to starting the Wizard. You may use the “Push big data to server” function in the Collect menu to up</span><span>load multiple related XSD files.</span></p>
<p><span>Note:</span><span>&nbsp;Please upload a valid XSD structure. </span><span>BEXIS 2</span><span>&nbsp;does not check this kind of validation.</span></p>
<p><span>&#xa0;</span></p>
<br/><p><img src="~/Areas/DCM/Content/Images/Help/Help_img25.jpeg" width="609" height="287" alt="Import-Metadata-1" /><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p class="Heading-2"><a id="_Toc468355766"><span>Read Source</span></a></p>
<p><span>Please specify a name </span><span>(i.e. display name) </span><span>for the new metadata structure. You may also enter a root node if only a part of the XSD is to be used (optional).</span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img26.jpeg" width="609" height="287" alt="Import-Metadata-2" /><br/><br/><span>To</span><span>&nbsp;find the root node open the XSD</span><span>&nbsp;Schema file and hav</span><span>e</span><span>&nbsp;a look on the element tags.</span><span>&nbsp;In the example of ABCD it looks like this.</span></p>
<p><img src="~/Areas/DCM/Content/Images/Help/Help_img27.png" width="490" height="234" alt="img27" /><br/><br/><span>If no root node is selected then the wizard will automatically select the first element which is a complex type. But it is also possible to define the element “</span><span>DataSet</span><span>” as root node and the metadata structure starts from this element. The Name of a metadata structure must be unique and the root node must exist.</span></p>
<p><span>&#xa0;</span></p>
<p class="Heading-2"><a id="_Toc468355767"><span>Set Parameters</span></a></p>
<p><span>For the </span><span>system</span><span>&nbsp;to handle a dataset at least the title and a description is needed. In this step these two elements, which are typically available in all metadata structures, should be identified and made explicit to the system. </span></p>
<br/><p><img src="~/Areas/DCM/Content/Images/Help/Help_img28.jpeg" width="606" height="284" alt="Import-Metadata-3" /><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<p class="Heading-2"><a id="_Toc468355768"><span>Summary</span></a></p>
<p><span>The Summary page is an overview about the created metadata structure.</span><br/><br/><img src="~/Areas/DCM/Content/Images/Help/Help_img29.jpeg" width="610" height="286" alt="Import-Metadata-4~/Areas/DCM/p>
<p><span>&#xa0;</span></p>
