@section LeftPane
{
    @Html.Partial("_Entities")
}
<div id="permissions">
    


</div>

@section Scripts
{
    <script type="text/javascript">

        function editEntityPermission(id) {

        }

        function deleteEntityPermission(id) {

        }

        function onDataBound() {
            addTooltips();
            resetAllTelerikIconTitles();
        }
    </script>
}