<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.2.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebHelpers" version="3.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages.Data" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="3.2.9" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="8.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="TelerikMvcExtensions" version="2013.2.611" targetFramework="net48" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net48" />
</packages>