@using BExIS.Modules.Sam.UI.Models
@using Telerik.Web.Mvc.UI

@model long

<button id="button_addsubjects" type="button" class="bx-button function">Add Subject(s)</button>

@(Html.Telerik().Grid<FeaturePermissionGridRowModel>()
    .Name("gridFeaturePermissions")
    .Columns(columns =>
    {
        columns.Bound(u => u.Id);
        columns.Bound(u => u.SubjectId);
        columns.Bound(u => u.SubjectName);
        columns.Bound(u => u.SubjectType);
    })
    .ClientEvents(events =>
    {
        events.OnDataBound("onDataBound");
    })
    .DataBinding(dataBinding => dataBinding
        .Ajax()
        .Select("Permissions_Select", "FeaturePermissions", new { FeatureId = Model })
    )
    .EnableCustomBinding(true)
    .Filterable()
    .Pageable(pageable =>
    {
        pageable.PageSize(10, new[] { 10, 20, 50, 100 });
        pageable.Style(GridPagerStyles.NextPreviousAndNumeric | GridPagerStyles.PageSizeDropDown);
        pageable.Position(GridPagerPosition.Bottom);
    })
    .Sortable()
)

<script type="text/javascript">

    $("#button_addsubjects").click(function () {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Add", "FeaturePermissions")',
            data: { FeatureId: @Model },
            dataType: 'html',
            success: function(htmlData) {
                var windowElement = $.telerik.window.create({
                    title: "Add Subjects",
                    html: "<div id='contentCreate' class='bx-window'>" + htmlData + "</div>",
                    contentUrl: "",
                    actions: ["Close"],
                    modal: true,
                    width: 500,
                    height: 500,
                    resizable: false,
                    draggable: true,
                    scrollable: false,
                    onClose: function() {
                        $("#windowCreate").data('tWindow').destroy();
                        $("#gridUsers .t-refresh").trigger('click');
                    }
                });

                windowElement.attr('id', 'windowCreate');
                var window = $(windowElement).data('tWindow');
                window.center().open();

                resetAllTelerikIconTitles();
            }
        });
    });
</script>