@model System.Collections.Generic.IEnumerable<BExIS.Web.Shell.Areas.SAM.Models.FeatureTreeViewModel>
<style>
    #Grid_Subjects .t-grid-content
    {
        height: auto !important;
        max-height: 475px !important;
    }
</style>

@section LeftPane
{
    @Html.Partial("_FeaturesPartial", Model)
}

@section Information
{
    Here you are able to manage how users (or groups) have access to individual system features or entire modules.
    Please click on the name in the tree structure on left to view individual permissions.
    Ticking the checkboxes in the navigation tree will make a feature accessible without authentification (public access).
    Please use with care!
    By default feature permissions are not set, which means access is denied unless access permissions are explicitly granted or inherited from an upper level feature (e.g. module).
    Individual grants on features rule out higher level settings. Effective permissions are shown in the first column of the table.
    Please note that any change will take effect immediately without further confirmation or save/submit action.
    <p>
    <a href="/SAM/Help/Index/#_Toc451422051" class="bx-informationLink" title="go to help" target="_blank">More</a>
    </p>
}

<div id="Content_Subjects"></div>