@section LeftPane
{
    @Html.Partial("_Features")
}

<div id="permissions"></div>

@section Scripts
{
    <script type="text/javascript">

        $("#treeViewFeatures li div").click(function (e) {
            $(e.target).find(".t-in").trigger("click");
        });

        function GetTreeView() {
            return $('#treeViewFeatures').data('tTreeView');
        }

        function OnSelect(e) {
            var featureId = GetTreeView().getItemValue(e.item);
            var prevSelectedDiv = $(".bx-selected");
            if (prevSelectedDiv.length > 0) $(prevSelectedDiv).removeClass("bx-selected");

            var selectedDiv = $(e.item).find("div")[0];
            $(selectedDiv).addClass("bx-selected");

            $('#permissions').empty();

            $.get('@Url.Action("Permissions", "FeaturePermissions")',
                { FeatureId: featureId },
                function (contentData) {

                    $('#permissions').html(contentData);

                    truncateTitle();
                });
        }

        $('#button_createfeaturepermission').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Create", "FeaturePermissions")',
                dataType: 'html',
                success: function (htmlData) {
                    var windowElement = $.telerik.window.create({
                        title: "Create Feature Permission(s)",
                        html: "<div id='contentCreate' class='bx-window'>" + htmlData + "</div>",
                        contentUrl: "",
                        actions: ["Close"],
                        modal: true,
                        width: 500,
                        height: 500,
                        resizable: false,
                        draggable: true,
                        scrollable: false,
                        onClose: function () {
                            $("#windowCreate").data('tWindow').destroy();
                            $("#gridFeaturePermissions .t-refresh").trigger('click');
                        }
                    });

                    windowElement.attr('id', 'windowCreate');
                    var window = $(windowElement).data('tWindow');
                    window.center().open();

                    resetAllTelerikIconTitles();
                }
            });
        });

        function onDataBound() {
            addTooltips();
            resetAllTelerikIconTitles();
        }

        function onDataBinding(e) {

            var grants = [];
            $("input[name='grants']:checked").each(function () {
                grants.push($(this).val());
            });

            var denies = [];
            $("input[name='denies']:checked").each(function () {
                denies.push($(this).val());
            });

            var all = [];
            $("input[name='neutrals']").each(function () {
                all.push($(this).val());
            });

            // pass additional values by setting the "data" field of the event argument
            e.data = {
                // the key ("category") specifies the variable name of the action method which will contain the specified value
                grants: grants,
                denies: denies,
                all: all
            };
        }
    </script>
}