@section LeftPane
{
    @Html.Partial("_Features")
}

<div id="permissions"></div>

@section Scripts
{
    <script type="text/javascript">

        $("#treeViewFeatures li div").click(function (e) {
            $(e.target).find(".t-in").trigger("click");
        });

        function GetTreeView() {
            return $('#treeViewFeatures').data('tTreeView');
        }

        function OnSelect(e) {
            var featureId = GetTreeView().getItemValue(e.item);
            var prevSelectedDiv = $(".bx-selected");
            if (prevSelectedDiv.length > 0) $(prevSelectedDiv).removeClass("bx-selected");

            var selectedDiv = $(e.item).find("div")[0];
            $(selectedDiv).addClass("bx-selected");

            $('#permissions').empty();

            $.get('@Url.Action("Permissions", "FeaturePermissions")',
                { FeatureId: featureId },
                function (contentData) {

                    $('#permissions').html(contentData);

                    truncateTitle();
                });
        }

        function onDataBound() {
            addTooltips();
            resetAllTelerikIconTitles();
        }

    </script>
}