@section LeftPane
{
    @Html.Partial("_Features")
}

<div id="subjects"></div>

@section Scripts
{
    <script type="text/javascript">

        function createUser() {

        }

        function editUser(id) {

        }

        function deleteUser(id) {

        }

        function onDataBound() {
            addTooltips();
            resetAllTelerikIconTitles();
        }

    </script>
}