<appSettings>
  <!-- FSU MAIL ACCOUNT -->
  <add key="Email_Host" value="smtp.bgc-jena.mpg.de" />
  <add key="Email_Port" value="587" />
  <add key="Email_Ssl" value="true" />
  <add key="Email_Account" value="mguderle@bgc-jena.mpg.de" />
  <add key="Email_Password" value="Isa_MPI_2017" />
  <add key="Email_Anonymous" value="false" />
  <add key="Email_From" value="mguderle@bgc-jena.mpg.de" />
  <add key="Ldap_Enabled" value="false" />
  <add key="Ldap_ConnectionString" value="ldapHost:ldap.forumsys.com;ldapPort:389;ldapBaseDn:dc=example,dc=com;ldapSecure:false;ldapAuthUid:uid;ldapProtocolVersion:3" />
</appSettings>