@using Vaiona.Web.Mvc;
@section Information
{
}
@section leftPane{
  <div class="toc">
      <p style="font-weight:bold">Data Dissemination ToC</p>
      <br />
    <a href="#_Toc412649143">Overview</a>
<p></p>
  </div>
}
<style>
.toc {
position: fixed;
}
</style>
<p class="Heading-1"><a id="_Toc412649143"><span>Overview</span></a></p>
<p><span>&#xa0;</span></p>
<p><span>The Data Di</span><span>ssemination Module</span><span>, available via </span><span>Setup</span><span> (</span><span>Cog button</span><span>)</span><span> and </span><span>Export Metadata</span><span>,</span><span> provides a tool</span><span> </span><span>to</span><span> export metadata to a standard compliant XML file</span><span>. </span><span>For every metadata structure in the system there is one tab in the tab strip.</span></p>
<p><span>The data grid in one tab show</span><span>s</span><span> all datasets belong</span><span>ing</span><span> to the selected metadata structure.</span></p>
<p><span>S</span><span>elect</span><span> a</span><span> checkbox </span><span>to </span><span>mark the datasets you w</span><span>ould like </span><span>to export.</span></p>
<p><span>Please click the E</span><span>xport button and wait until the metadata XML file has been created </span><span>successful</span><span>ly and a</span><span> </span><span>download </span><span>link </span><span>is available in-line</span><span>.</span></p>
<p><span>&#xa0;</span></p>
<p style="text-align:left;page-break-inside:auto;page-break-after:auto;page-break-before:auto;line-height:13.8pt;margin-top:0pt;margin-bottom:10pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;"><img src="~/Areas/DIM/Images/DIM_UserGuide_files_images\DIM_UserGuide_files_img1.png" width="604" height="204" alt="img1" /><br/><span style="font-family:'Tw Cen MT';font-size:11pt;">&#xa0;</span></p>
<p><span>&#xa0;</span></p>
