@model BExIS.Web.Shell.Areas.DIM.Models.ShowHelpModel
@using BExIS.Web.Shell.Areas.DIM.Models;

@{
    HtmlString toc = new HtmlString(Model.Title);
    HtmlString content = new HtmlString(Model.Description);
}

@section Information
{
    This guide will walk you through the basics of using data dissemination.
}

@content

@section LeftPane 
{             
   <div class="toc">
        @toc
    </div>

    <style>
        .toc {
            position: fixed;
        }
    </style>
}

