@{
    ViewBag.Title = "Index";
}

<h2>These are a bunch of un-documented and unsafe functions. You are calling them at your own risk!</h2>
<h2>For security reasons, their syntax is not exposed here, so you have to know them! Also there is no proper interaction about the results and/ or effects.</h2>
