@using IDIV.Modules.Mmm.UI.Models

@model BundleInformation
<div class="mmm-image-window">
    <table class="mmm-image-content">
            <tr>
                <td class="bundleThumbnailView">
                    <div>
                        @foreach (ImageInformation ii in Model.Images)
                        {
                            string path = @Url.Content("~/mmm/ShowMultimediaData/getFileFromZip/?path=" + Server.UrlEncode(Model.BundlePath) + "&file=" + Server.UrlEncode(ii.Thumbnail));
                            <img class="thumbnail" value="@Model.Images.IndexOf(ii)" src="@path" />
                        }
                    </div>
                </td>
                <td>
                    @Html.Partial("_bundleImageView", Model.Images[0])
                </td>
            </tr>
        </table>
    </div>