@using IDIV.Modules.Mmm.UI.Models

@model FileInformation

@{
    string type = Model.MimeType.Substring(Model.MimeType.LastIndexOf('/') + 1);
    string pathStream = @Url.Content("~/mmm/ShowMultimediaData/getFileStreamResult/?send_mail=false&path=" + Server.UrlEncode(Model.Path));
    string path = @Url.Content("~/mmm/ShowMultimediaData/getFile/?send_mail=false&path=" + Server.UrlEncode(Model.Path));

}

@switch (type)
{
    case "pdf":
<div id="pdfView">
    <iframe src="@pathStream#view=fit&zoom=100" type="application/pdf" width="80%" height="500"></iframe>
</div>
        break;
    case "plain":
<object data="@pathStream" width="500" height="500" style="background-color:white;">
    Not supported
</object>
        break;
    case "zip":
    case "x-zip-compressed":
        break;
    case "octet-stream":
<div id="fileContainer" filePath="@path">
</div>
        break;

    default:
        break;
}