@using Vaiona.Web.Mvc;


<div id="footer">
    <footer>
        @*@Html.RenderAuto("SysTime", new List<object>() { new Dictionary<string, object>() { { "format", "B" } } })
            <br />
            Copyright info
            <br />
            Version Info *@



        Powered by 
        <br /><br/>
        <img src="~/Content/Images/Logo_BEXIS_rgb_113x28.jpg" />

        <br/><br/>
        @Html.ActionLink("Privacy Policy", "Index", "PrivacyPolicy", new { area = "Site" }, null),
        @*<a href="http://bexis2.uni-jena.de/news/" target="_blank">Terms</a>*@
        @Html.ActionLink("Contact Us", "Index", "ContactUs", new { area = "Site" }, null),
        @Html.ActionLink("Impressum", "Index", "Impressum", new { area = "Site" }, null)
        <br />
    </footer>
</div>
