@using Vaiona.Web.Mvc;

<div id="footerDiv">
    <footer>
        @*@Html.RenderAuto("SysTime", new List<object>() { new Dictionary<string, object>() { { "format", "B" } } })
        <br />
        Copyright info
        <br />
        Version Info *@

        <a href="http://www.uni-jena.de" style="color:white" target="_blank">Friedrich-Schiller-University Jena, Germany</a>,
        <br />
        <p style="color:white">BEXIS is being developed as part of the <a href="http://fusion.cs.uni-jena.de/bexis" style="color:white" target="_blank">BExIS++ Project</a>,
            <br />
            funded by the <a href="http://www.dfg.de/" style="color:white" target="_blank">German Research Foundation (DFG)</a>
        </p>

    </footer>
</div>
