@using Vaiona.Web.Mvc;

<style>
    img.desaturate 
    {
        filter: gray; /* IE6-9 */
        filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
        -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    }

    img.desaturate:hover 
    {
        filter: none;
        -webkit-filter: grayscale(0);
    }
</style>

<div id="footer">
    <footer>
        @*@Html.RenderAuto("SysTime", new List<object>() { new Dictionary<string, object>() { { "format", "B" } } })
            <br />
            Copyright info
            <br />
            Version Info *@



        Powered by
        <br/><br/>
        <a href="http://bexis2.uni-jena.de" target="_blank">
            <img src="~/Content/Images/Logo_BEXIS_rgb_113x28.jpg" class="desaturate"/>
        </a>

        <br/><br/>
        @Html.ActionLink("Privacy Policy", "Index", "PrivacyPolicy", new { area = "Site" }, null),
        @*<a href="http://bexis2.uni-jena.de/news/" target="_blank">Terms</a>*@
        @Html.ActionLink("Contact Us", "Index", "ContactUs", new { area = "Site" }, null),
        @Html.ActionLink("Imprint", "Index", "Impressum", new { area = "Site" }, null)
        <br />
    </footer>
</div>
