@using Vaiona.Web.Mvc;

<style>
    img.desaturate {
        filter: gray; /* IE6-9 */
        filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
        -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    }

        img.desaturate:hover {
            filter: none;
            -webkit-filter: grayscale(0);
        }
</style>

<div id="footer">
    <footer>
        Powered by
        <br /><br />
        <a href="https://bexis2.github.io/" target="_blank">
            <img src="~/Content/Images/Logo_BEXIS_rgb_113x28.jpg" class="desaturate" title=@(System.Configuration.ConfigurationManager.AppSettings["ApplicationName"] + System.Configuration.ConfigurationManager.AppSettings["ApplicationVersion"]) />
        </a>

        <br /><br />
        @if (!string.IsNullOrEmpty(Html.GetTenant().PolicyFileNamePath))
        {
        @Html.ActionLink("Privacy Policy", "policy", "footer", new { area = "" }, null)
        }

        @if (!string.IsNullOrEmpty(Html.GetTenant().TermsAndConditionsFileNamePath))
        {
        @Html.ActionLink("Terms and Conditions", "termsandconditions", "footer", new { area = "" }, null)
        }

        @if (!string.IsNullOrEmpty(Html.GetTenant().ContactUsFileNamePath))
        {
        @Html.ActionLink("Contact Us", "contactus", "footer", new { area = "" }, null)
        }

        @if (!string.IsNullOrEmpty(Html.GetTenant().ImprintFileNamePath))
        {
        @Html.ActionLink("Imprint", "imprint", "footer", new { area = "" }, null)
        }
        <br />
        <br />
        <a href="https://www.bgc-jena.mpg.de/" target="_blank">
            <img src="~/Content/Images/MPI-BGC_logo_EN.png" style="width: 10%; margin-right: 2%; margin-bottom: 0.5em;" title="Max Planck Institute for Biogeochemistry" />
        </a>
        <a href="https://www.mpic.de/" target="_blank">
            <img src="~/Content/Images/MPIC_MPG_Logo_2015_engl.jpg" style="width: 5.5%; margin-right: 2%; margin-bottom: 0.5em;" title="Max Planck Institute for Chemistry" />
        </a>
        <a href="http://portal.inpa.gov.br/" target="_blank">
            <img src="~/Content/Images/INPA_logo.png" style="width: 4.5%; margin-right: 2%; margin-bottom: 0.5em;" title="INPA" />
        </a>
        <a href="http://www2.uea.edu.br/" target="_blank">
            <img src="~/Content/Images/logo_uea.jpg" style="width: 3.5%; margin-right: 2%; margin-bottom: 0.5em;" title="UEA" />
        </a>
        <a href="https://www.bmbf.de/bmbf/en/home/home_node.html" target="_blank">
            <img src="~/Content/Images/BMBF_gefoerdert_2017_en.jpg" style="width: 7.5%; margin-right: 0.5%; margin-bottom: 0.5em;" title="Federal Ministry of Education and Research" />
        </a>
        <a href="http://www.mctic.gov.br/portal" target="_blank">
            <img src="~/Content/Images/template-300x300-ministerio-1.png" style="width: 8.5%; margin-right: 5%; margin-bottom: 0.5em;" title="Ministério da Ciência, Tecnologia e Inovação" />
        </a>
        <a href="http://www.finep.gov.br/" target="_blank">
            <img src="~/Content/Images/finep_marca.jpg" style="width: 5.5%; margin-right: 2%; margin-bottom: 0.5em;" title="Finep" />
        </a>
        <a href="http://www.fapeam.am.gov.br/" target="_blank">
            <img src="~/Content/Images/fapeam-408x440.jpg" style="width: 5.5%; margin-right: 2%; margin-bottom: 0.5em;" title="FAPEAM" />
        </a>
        <a href="http://www.fundacaoeliseualves.org.br/site/" target="_blank">
            <img src="~/Content/Images/logoInstituicao_FEA.jpg" style="width: 7.5%; margin-right: 2%; margin-bottom: 0.5em;" title="Fundação Eliseu Alves" />
        </a>
    </footer>
</div>