@using Vaiona.Web.Mvc;


<div id="footer">
    <footer>
        @*@Html.RenderAuto("SysTime", new List<object>() { new Dictionary<string, object>() { { "format", "B" } } })
            <br />
            Copyright info
            <br />
            Version Info *@



        © Powered By <a href="http://bexis2.uni-jena.de/" target="_blank">Bexis++ Project</a>,

        <br />

        @Html.ActionLink("Privacy Policy", "Index", "PrivacyPolicy", new { area = "Site" }, null),
        @*<a href="http://bexis2.uni-jena.de/news/" target="_blank">Terms</a>*@
        @Html.ActionLink("Contact Us", "Index", "ContactUs", new { area = "Site" }, null),
        <a href="http://bexis2.uni-jena.de/impressum/" target="_blank">Impressum</a>
        <br />
        @*<img src="~/Areas/Site/Views/FooterHelper/Logos/dfg_logo.gif" >*@

    </footer>
</div>
