<div id="footerDiv">
    <footer>
        @Html.RenderAuto("SysTime", new List<object>() { new Dictionary<string, object>() { { "format", "B" } } })
        <br />
        Copyright info
        <br />
        Version Info 
    </footer>
</div>
