@using Microsoft.Web.Helpers;
@using Telerik.Web.Mvc.UI;
@using Vaiona.Web.Mvc;

<div id="information-container" class="container-fluid">
    <a href="#" style="color: white">Information <i class="fa fa-angle-double-down" data-toggle="collapse" href="#information"></i></a>
    <div class="collapse" id="information">
        @RenderSection("Information", false)
    </div>
</div>