@{var themes = Themes.AvailableThemes.Select(t => new SelectListItem
    {
        Value = t,
        Text = t,
        Selected = t == Themes.CurrentTheme ? true : false
    });
 }
<div>
    <form method="post" action="">
        @Html.DropDownList("Theme", themes, "Choose a Theme")
        <input type="submit" value="Change" />
    </form>
</div>