@model List<Tuple<StepInfo, List<Error>>>
@using BExIS.IO.Transform.Validation.Exceptions
@using BExIS.Dcm.Wizard;

@{
    int counter = 0;
    string id = "";
    string idBt = "";

}

<table>
    @if (Model != null)
    {
        if (Model.Count() > 0)
        {
            foreach (var step in Model)
            {

                if (step.Item2.Count > 0)
                {

                    foreach (var s in step.Item2)
                    {
                        counter++;

                        id = "error_"+@counter.ToString();
                        idBt = "add_" + @counter;
    <tr>
        <td valign="top">
            <span id="@idBt" class="t-icon t-plus" onclick="onClickErrorMessage(this)"></span>
        </td>
        <td>
            <span>
                @Ajax.ActionLink("Error " + @counter, step.Item1.GetActionInfo.ActionName, step.Item1.GetActionInfo.ControllerName , new { area = step.Item1.GetActionInfo.AreaName, stepId = step.Item1.Id },
                 new AjaxOptions { HttpMethod = "GET",
                     InsertionMode = InsertionMode.Replace,
                     UpdateTargetId = "Summary",
                     OnSuccess = "OnSucess()",
                     OnBegin = "OnLoad()"
                 })
            </span>

            <div id="@id" style="display:none; margin-top:10px;">
                @Html.Raw(s.ToHtmlString())
            </div>
        </td>
        <td>
        </td>
    </tr>
                    }
                }
            }
        }
     }
</table>

<script type="text/javascript">

    function onClickErrorMessage(e) {
        var substr = e.id.split('_');
        var id = "error_" + substr[1];
        var displayType = $('#' + id).css('display');

        if (displayType == "none") {
            $('#' + id).show();
            $('#' + e.id).removeClass("t-plus");
            $('#' + e.id).addClass("t-minus");

        }
        else {
            $('#' + id).hide();
            $('#' + e.id).removeClass("t-minus");
            $('#' + e.id).addClass("t-plus");
        }
    }

    function OnLoad() {
        $('#preloader').show();
    }

    function OnSucess() {

        NavigationRefresh();
        TaskListRefresh();
        $('#preloader').hide();
    }
</script>