@section LeftPane
{
    @Html.Partial("_Entities")
}
<div id="requests"></div>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function() {
            function createEntityRequest() {

            }

            function editUser(id) {

            }

            function deleteUser(id) {

            }

            function onDataBound() {
                addTooltips();
                resetAllTelerikIconTitles();
            }
        });
    </script>
}