@using System.Data
@using Telerik.Web.Mvc.UI
@using BExIS.Dlm.Entities.DataStructure
@model BExIS.RPM.Model.DataStructureDesignerModel

@{
    ViewBag.Title = "Planing";

    long[] dataAttributeIds = new long[] { };

    List<long> checkedIds = new List<long>();

    if (Session["checked"] != null)
    {
        checkedIds = (List<long>)Session["checked"];
    }
    
}

@if (Model.inUse == true)
{ 
    <p>Can't add variable Data Strucure in use</p>
}
else
{
    <div class="planingPartialDiv" id="createVariable">
        @using (Html.BeginForm("AddVariables", "Home", new { area = "RPM" }))
        {
            @(Html.Telerik().Grid(Model.dataAttributeList)
            .Name("DataAttributeGrid")
            .Sortable()
            .Filterable()
            .Scrollable(t => t.Height(450))
            .Columns(columns =>
            {
                columns.Template(
                    @<text>
                            <input name="checkedRecords" type="checkbox" value="@item.Id " title="checkedRecords" class="checkBox"
                                @if (dataAttributeIds.Contains(item.Id) || checkedIds.Contains(item.Id))
                                {
                                    <text>checked="checked"</text>
                                }
                            />
                        </text>)
                    .Title("").Width(36).HtmlAttributes(new { style = "text-align:center" });
                    

                //columns.Command(commands => commands.Select()).Title("Select");
                columns.Bound(c => c.Name);
                columns.Bound(c => c.Id);
                columns.Bound(c => c.ShortName);
                columns.Bound(c => c.Description);
                //columns.Bound(c => c.Classification.Name)
                //    .Title("Classification");
                //columns.Bound(c => c.Unit.Name)
                //    .Title("Unit");
                ////columns.Bound(c => c.DataType.Name)
                ////    .Title("Data Type");

            })
            )
            <br />
            <br />
            <button name="addVariables" value="add" type="submit" class="t-button">Save</button>
        }
    </div>
    
    <script type="text/jscript">
   
    $('.checkBox').change(function () {
        if ($(this).attr('checked'))
            $(this).attr('checked', true);
        else
            $(this).removeAttr('checked');

        var checked;

        $('.checkBox').each(function () {
            if ($(this).attr('checked')) {
                if (checked)
                    checked += "," + $(this).attr('value');
                else
                    checked = $(this).attr('value');
            }
        });
        var checkedIDs = checked.split(',');
        var data = { checkedIDs: checkedIDs };

        $.ajax({
            url: '/RPM/Home/setChecked',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr) {
                //alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                //alert("success");
            },
            async: true,
            processData: false
        });
    });
</script>
}