@using Telerik.Web.Mvc.UI
@using BExIS.Dlm.Entities.DataStructure
@model BExIS.RPM.Model.DataStructureDesignerModel

@{
    if (Session["Window"] == null)
    {
        Session["Window"] = false;
    }    
}


<div>
@(Html.Telerik().Grid(Model.dataStructureTable)
        .Name("DataStructureGrid")
        .RowAction(row =>
            {
                if (row.Index == 0)
                {
                    if (Model.inUse)
                    {
                        row.HtmlAttributes["class"] = "locked";
                    }
                    else
                    {
                        row.HtmlAttributes["class"] = "function";
                    }
                    
                }
                else
                {
                    if (row.Index == 2)
                    {
                        row.HtmlAttributes["class"] = "optional";
                    }
                }
            })
)
</div>
<div style="position:absolute; left:10%; top:60px">
@{ Html.Telerik().Window()
        .Name("Add_Variable")
        .Title("Add Variable")
        .Draggable(true)
        .Visible((bool)Session["Window"])
        .Modal(true)
        .Content(@<text>
                    @Html.Partial("_addVariable", Model)
                    </text>)
        .Width(1000)
        .Render()
        ;
        
}
</div>
<div style="position:absolute; left:30%; top:60px;">
@{ Html.Telerik().Window()
        .Name("Edit_Variable")
        .Title("Edit Variable")
        .Draggable(true)
        .Modal(true)
        .Visible((bool)Session["VariableWindow"])
        .Content(@<text>
                    @Html.Partial("_editVariable", Model)
                    </text>)
        .Width(300)
        .Render()
        ;
        
}
</div>
@{Session["Window"] = false;}
@{Session["VariableWindow"] = false;}

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        
        for (var i = 0; i < $(".function td").length; i++)
        {
            if ($(".function td")[i].innerHTML != 'Functions')
                $(".function td")[i].innerHTML = '<a area="RPM" class="t-icon t-edit" href="/RPM/Home/openVariableWindow/' + $(".function td")[i].innerHTML + '"></a><a area="RPM" class="t-icon t-delete" href="/RPM/Home/deleteVariable/' + $(".function td")[i].innerHTML + '">Download</a>';
        }

        for (var i = 0; i < $(".locked td").length; i++)
        {
            if ($(".locked td")[i].innerHTML != 'Functions')
                $(".locked td")[i].innerHTML = 'locked';
        }

        for (var i = 0; i < $(".optional td").length; i++) {
            if ($(".optional td")[i].innerHTML == 'False')
                $(".optional td")[i].innerHTML = '<b>-</b>';
            if ($(".optional td")[i].innerHTML == 'True')
                $(".optional td")[i].innerHTML = '<div class="t-icon t-update"></div>';
        }

        $('#DataStructureGrid .t-header').replaceWith('');
    });

</script>