@using System.Data
@using Telerik.Web.Mvc.UI
@using BExIS.Dlm.Entities.DataStructure
@model BExIS.RPM.Model.DataStructureDesignerModel

@{
    ViewBag.Title = "Planing";   
}

@if (Model.inUse == true)
{ 
        <div id="showDatasets">         
           
            @(Html.Telerik().Grid(Model.datasets)
            .Name("DatasetGrid")
            .Sortable()
            .Scrollable(t => t.Height(350))
            .Columns(columns =>
            {
                columns.Bound(c => c.Id);
                columns.Bound(c => c.Title);
            })
            )      
    </div>    
}
else
{
    <p>Data Strucure is not used by any Data Structure</p>
}