@using Telerik.Web.Mvc.UI
@using BExIS.Dlm.Entities.DataStructure
@model BExIS.RPM.Model.DataStructureDesignerModel

@{
    if (Session["Window"] == null)
    {
        Session["Window"] = false;
    }    
}


<div>
@(Html.Telerik().Grid(Model.dataStructureTable)
        .Name("DataStructureGrid")
        .RowAction(row =>
            {
                if (Model.inUse)
                {
                    if (row.Index == 0)
                    {
                        row.HtmlAttributes["class"] = "locked";
                    } 
                }
                else
                {
                    if (row.Index == 0)
                    {
                        row.HtmlAttributes["class"] = "function";
                    }
                }
            })
)
</div>
<div>
    @if(!(Model.inUse))
        {
            <div title="Add Variables">
                @Html.ActionLink("Add Variables", "ShowVariables", "Home", new { id = Model.dataStructure.Id }, new { area = "RPM", @class = "t-button", @style = "margin-top:5px;"})
            </div>
        }
        else
        {
            <button title="Add Varriables" name="Add Variables" class="t-button t-state-disabled" disabled="disabled" style = "margin-top:5px;">AddVariable</button>
        }       
</div>
<div style="position:absolute; left:20%; top:60px;">
@{ Html.Telerik().Window()
        .Name("Add_Variable")
        .Visible((bool)Session["Window"])
        .Modal(true)
        .Content(@<text>
                    @Html.Partial("_addVariable", Model)
                    </text>)
        .Width(1000)
        .Render()
        ;
        
}
</div>
<div style="position:absolute; left:20%; top:60px;">
@{ Html.Telerik().Window()
        .Name("Edit_Variable")
        .Modal(true)
        .Visible((bool)Session["VariableWindow"])
        .Content(@<text>
                    @Html.Partial("_editVariable", Model)
                    </text>)
        .Width(300)
        .Render()
        ;
        
}
</div>
@{Session["Window"] = false;}
@{Session["VariableWindow"] = false;}

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        
        for (var i = 0; i < $(".function td").length; i++)
        {
            if ($(".function td")[i].innerHTML != "Functions")
                $(".function td")[i].innerHTML = '<a area="RPM" class="t-icon t-edit" href="/RPM/Home/openVariableWindow/' + $(".function td")[i].innerHTML + '"></a><a area="RPM" class="t-icon t-delete" href="/RPM/Home/deleteVariable/' + $(".function td")[i].innerHTML + '">Download</a>';
        }

        for (var i = 0; i < $(".locked td").length; i++) {
            if ($(".locked td")[i].innerHTML != "Functions")
                $(".locked td")[i].innerHTML = '<font color="grey">locked</font>';
        }

        $('#DataStructureGrid .t-header').replaceWith('');
    });

</script>