@using Telerik.Web.Mvc.UI
@using BExIS.Dlm.Entities.DataStructure
@model BExIS.RPM.Model.DataStructureDesignerModel

@{
    if (Session["Window"] == null)
    {
        Session["Window"] = false;
    }    
}


<div>
@(Html.Telerik().Grid(Model.DataStructureTable)
        .Name("DataStructureGrid")
        .RowAction(row =>
            {
                if (row.Index == 0)
                {
                    row.HtmlAttributes["class"] = "function"; 
                }
            })
)
</div>
<br />
<br />
<div>
        @Html.ActionLink("AddVariable", "ShowVariables", "Home", new { id = Model.dataStructure.Id }, new { area = "RPM", @class = "t-button" })
</div>
<div style="position:absolute; left:20%; top:60px;">
@{ Html.Telerik().Window()
        .Name("Add_Variable")
        .Visible((bool)Session["Window"])
        .Content(@<text>
                    @Html.Partial("_addVariable")
                    </text>)
        .Width(1000)
        .Height(600)
        .Render()
        ;
        
}
</div>
<div style="position:absolute; left:20%; top:60px;">
@{ Html.Telerik().Window()
        .Name("Edit_Variable")
        .Visible((bool)Session["VariableWindow"])
        .Content(@<text>
                    @Html.Partial("_editVariable")
                    </text>)
        .Width(300)
        .Height(200)
        .Render()
        ;
        
}
@{Session["VariableWindow"] = false;}
</div>
@{Session["Window"] = false;}

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        
        for (var i = 0; i < $(".function td").length; i++)
        {
            if ($(".function td")[i].innerHTML != "Functions")
                $(".function td")[i].innerHTML = '<a area="RPM" class="t-icon t-edit" href="/RPM/Home/openVariableWindow/' + $(".function td")[i].innerHTML + '"></a><a area="RPM" class="t-icon t-delete" href="/RPM/Home/deleteVariable/' + $(".function td")[i].innerHTML + '">Download</a>';
        }

        $('#DataStructureGrid .t-header').replaceWith('');
    });

</script>