@model List<BExIS.UI.Hooks.Hook>

@{
    long id = 0;
    long version = 0;

    if (ViewBag.id != null)
    {
        id = (long)ViewBag.id;
    }

    if (ViewBag.version != null)
    {
        version = (long)ViewBag.version;
    }

}

@foreach (var h in @Model)
{
    var area = h.Start.Split('/')[0];
    var controller = h.Start.Split('/')[1];
    var action = h.Start.Split('/')[2];

    <p>@Html.ActionLink(h.Name, action, controller, new { area, id, version }, null)  - <b>@h.Status.ToString()</b></p>
}
