@model BExIS.Web.Shell.Areas.DDM.Models.ShowPrimaryDataModel

@using System.Data;
@using BExIS.Dlm.Entities.DataStructure;
@using Telerik.Web.Mvc.UI;
@using BExIS.Web.Shell.Areas.DDM.Models;
@{

       
}

@if (Model.DataStructureType == DataStructureType.Unstructured && Model.Data == null)
{
    <table>
        @foreach (BExIS.Io.BasicFileInfo cd in Model.FileList)
        {
            <tr>
                <td>
                    @cd.Name
                </td>
                <td>
                    @Html.ActionLink("Download", "DownloadFile", "Data", new { area = "DDM", path = @cd.Uri, mimeType=cd.MimeType }, new { @class="t-button" })
                </td>
            </tr>

        }
        <tr>
                <td>

                </td>
                <td>
                    @Html.ActionLink("Download all", "DownloadAllFiles", "Data", new { area = "DDM", id=@Model.DatasetId}, new { @class="t-button" })
                </td>
          </tr>
    </table>
    
}
<br />

