@model BExIS.Web.Shell.Areas.DDM.Models.ShowPrimaryDataModel

@using System.Data;
@using BExIS.Dlm.Entities.DataStructure;
@using Telerik.Web.Mvc.UI;
@using BExIS.Web.Shell.Areas.DDM.Models;

<div class="ShowData_Main">
        @*<div class="ShowData_Header">
            <h3>@Model.DatasetTitle</h3>
        </div>*@

        <div class="ShowDataContent">

            @if (Model.DataStructureType == DataStructureType.Structured && Model.Data != null)
            {
                @Html.Partial("_structuredDataView", Model)
                 
            }


            @if (Model.DataStructureType == DataStructureType.Unstructured && Model.Data == null)
            {
                @Html.Partial("_unstructuredDataView", Model)
                 
            }

        </div>
</div>





