@using HtmlHelpers.BeginCollectionItem
@model Vaelastrasz.Library.Models.DataCite.DataCiteCreator

<div class="editorRow">
    @using (Html.BeginCollectionItem("creators"))
    {
        <div class="ui-grid-c ui-responsive">
            <div class="ui-block-a">
                <span>
                    @Html.TextBoxFor(m => m.GivenName)
                </span>
            </div>
            <div class="ui-block-b">
                <span>
                    @Html.TextBoxFor(m => m.FamilyName)
                </span>
            </div>
            @*<div class="ui-block-b">
                <span>
                    @Html.EnumDropDownListFor(m => m.NameType,)
                </span>
            </div>*@
            <div class="ui-block-c">
                <span>
                    <span class="dltBtn">
                        <a href="#" class="deleteRow">X</a>
                    </span>
                </span>
            </div>
        </div>
    }
</div>