
@section Information
{
    This guide will walk you through the basics of using data planning including how to manage data types, units, data attributes and also structured and unstructured data structures.
}
@section leftPane{
    <div class="toc">
        <h3> Data Planning ToC </h3>
        <br />
        <p></p>    <a href="#_overview">1. Overview</a>
        <p></p>    <a href="#_manage_data_structure">2. Manage Data Structure</a>
        <p></p>&nbsp;&nbsp;      <a href="#_create_data_structure">2.1. Create Data Structure</a>
        <p></p>&nbsp;&nbsp;      <a href="#_add_variables">2.2. Add Variables</a>
        <p></p>&nbsp;&nbsp;      <a href="#_copy_data_structure">2.3. Create a copy of a Data Structure</a>
        <p></p>&nbsp;&nbsp;      <a href="#_download_excel">2.4. Download an Excel template</a>
        <p></p>    <a href="#_manage_data_type">3. Manage Data Type</a>
        <p></p>    <a href="#_manage_units">4. Manage Units</a>
        <p></p>    <a href="#_manage_variable">5. Manage Variable Templates</a>
    </div>
}

    <style>
        a:hover {
            background-color: #bee1da;
            text-decoration: none;
        }

        .toc {
            position: fixed;
            top: 100px;
            overflow: auto;
            max-height: 64vh;
            width: 250px;
            max-width: 350px;
        }


        .scrollable {
            overflow: auto;
            height: 750px;
        }

        :target:before {
            content: "";
            display: block;
            height: 100px;
        }
    </style>


<h1><a id="_overview">1. Overview</a></h1>
<p>&#xa0;</p>
<p>In BEXIS 2 data is stored and managed as part of a dataset. A dataset may be anything from a single record up to a collection of millions of records and multiple variables. Each dataset may have an individual structure given by the number of variables and their properties. It is up to the user or the data manager of a project to define such Data Structures. This is what the Data Planning Module is for. </p>
<p>The module is called "Data Planning" since it is good practice to specify the Data Structure before collecting your data in the field or the laboratory. Your data can only be uploaded to the system (using the Data Collection Module) if there is a corresponding Data Structure already existing.  </p>
<p>A Data Structure contains one or more Variables. Each Variable is defined by its Data Type, a Unit, and a unique name. So defining Data Types and Units would be the first step, if they are not available yet. </p>
<p>&#xa0;</p>
<p><img src="~/Areas/RPM/Content/Images/Help/main_menu.png" width="900" alt="Main Menu" />&#xa0;</p>
<p>The system encourages reuse of Variables, as well as Data Types and Units. For example, there should be only one Variable (i.e. Variable Template) for temperature values with a Data type of "float" and measured in degree Celsius (i.e. unit). All datasets containing such temperature measurements should use this Variable Template in their data structure. The advantage of such reuse is not only to avoid redundancy (e.g. different names for same thing), but is foremost to enable integration of identical variables across different datasets for large synthesis tasks later on.</p>
<p>&#xa0;</p>
<h1><a id="_manage_data_structure">2. Data Structure Manager</a></h1>
<p>The Data Structure Manager is a tool to create, modify and delete Data Structures. Data Structures contain Variables, which are specific instances of Variable Templates. For example, only one Variable Template ‘Count’ is needed to build a Data Structure of multiple similar variables where only the name (e.g. species name) is different. Each Variable uses the same Variable Template (e.g. instances of Count). </p>
<p>It is possible to create Data Structures for Tabular (structured) data such as Excel tables, CSV-Files, etc. and for Files such as images, videos, etc. </p>
<p>&#xa0;</p>
<h2><a id="_create_data_structure">2.1. Create Data Structure</a></h2>
<p>Click on Create Data Structure from Planning > Manage Data Structures, and then select the Tabular or File option. Fill the fields and click on the Save button. A name for a data structure is required.</p>
<p><img src="~/Areas/RPM/Content/Images/Help/create_data_structure.png" width="900" alt="Create Datastructure" />&#xa0;</p>
<p>If a data structure is not already in use by a dataset, by clicking on edit button you can edit it. In addition of editing the name and description, in case of Tabular, you can edit also variables.</p>
<p>Download button helps you to download an Excel template.</p>
<p>Delete a data structure is possible through editing.</p>
<p>There is also possible to make a copy from a data structure by clicking on the copy button.</p>
<p>&#xa0;</p>
<h2><a id="_add_variables">2.2. Add Variables</a></h2>
<p>In case of Tabular, a data structure usually contains variables. Variables are defined before as Variable Templates. If a data structure is in use, you are not able to add or remove variables.</p>
<p><img src="~/Areas/RPM/Content/Images/Help/add_variables.png" width="900" alt="Add Variables" />&#xa0;</p>
<p>&#xa0;</p>
<p>After adding variables, you can rearrange the order of variables by dragging and dropping them. Please note, that the order cannot be changed anymore once a dataset is using this data structure. You may also delete variable from the list.</p>
<p>You can define requirement for each variable. In the Optional row, if the checkbox is ticked, means that during upload data to a dataset, this variable could be empty.</p>
<p>&#xa0;</p>
<h2><a id="_copy_data_structure">2.3. Create a copy of a Data Structure</a></h2>
<p>You can create a copy of a data structure, either it is Tabular or File (formerly structured vs. unstructured), by clicking on the Save as button. In that window, the Name is filled with the original one and you need to fill it with a new one. </p>
<p><img src="~/Areas/RPM/Content/Images/Help/copy_data_structure.png" width="900" alt="Copy Data Structure" />&#xa0;</p>
<p>&#xa0;</p>
<h2><a id="_download_excel">2.4. Download an Excel template</a></h2>
<p>By clicking on the Download button system create an Excel template from current data structure, which is used when you want to upload data to a dataset (refer to data collection user guide for more details). Save this template in your computer and open it to fill by your data.</p>
<p>As you open this template, you have to enable macros for it. Macros automate frequently-used tasks. Depending on what Microsoft version you use, enable or disable macros is a bit different. But, Macro security settings are generally located in the Trust Center. </p>
<p>Normally, when you open a template file, you have a security warning, that says macros have been disabled. You can click on the Options button and enable this content. </p>
<p><img src="~/Areas/RPM/Content/Images/Help/enableMacro.png" width="601" height="376" alt="Enable Macro" />&#xa0;</p>
<p>&#xa0;</p>
<h1><a id="_manage_data_type">3. Manage Data Type</a></h1>
<p>&#xa0;</p>
<p>With the Data Type Manager you are able to create, modify and delete Data Types. They are required to specify Variable Templates.</p>
<p>To create a Data Type, click on the Create Data Type button. Fill the fields, select a system type and click on the Save button. The Data Type is stored if all information are correct and it is not a duplicate.</p>
<p>Use <img src="~/Areas/RPM/Content/Images/Help/edit_button.png" width="24" height="24" alt="img8" /> for edit and <img src="~/Areas/RPM/Content/Images/Help/delete_button.png" width="24" height="24" alt="img9" /> for delete a data type.</p>
<p>In a typical project scenario, the responsible data(base) manager would have created the most common Data Types and Units.</p>
<p><img src="~/Areas/RPM/Content/Images/Help/create_data_type.png" width="900" alt="Create Data Type" />&#xa0;</p>
<p>&#xa0;</p>
<h1><a id="_manage_units">4. Manage Units</a></h1>
<p>With the Unit Manager you are able to create, modify and delete Units. Units may be required to define Variable Templates.</p>
<p>To create a Unit, click on the Create Unit button. Fill the fields, select a Measurement System and create or select a Dimension. To create a Dimension enter a Name in the Dimension Name field and edit the Dimension Specification in this pattern "L(0,0)M(0,0)T(0,0)I(0,0)Θ(0,0)N(0,0)J(0,0)", for more information click <a href="https://translate.google.de/translate?sl=de&amp;tl=en&amp;js=y&amp;prev=_t&amp;hl=de&amp;ie=UTF-8&amp;u=https%3A%2F%2Fde.wikipedia.org%2Fwiki%2FDimension_%28Gr%25C3%25B6%25C3%259Fensystem%29&amp;edit-text=">here</a>. For example, a Unit of meter per second (m/s) would represented as "L(1,0)M(0,0)T(0,1)I(0,0)Θ(0,0)N(0,0)J(0,0)".</p>
<p>For a Unit, you could define one or more data types associated with it. By clicking on the Save button, the Unit is stored if all information is correct and it is not a duplicate.</p>
<p>Use <img src="~/Areas/RPM/Content/Images/Help/edit_button.png" width="24" height="24" alt="img12" /> for edit and <img src="~/Areas/RPM/Content/Images/Help/delete_button.png" width="24" height="24" alt="img13" /> for delete a Unit.</p>
<p>&#xa0;</p>
<p><img src="~/Areas/RPM/Content/Images/Help/create_unit.png" width="900" alt="Create Unit" />&#xa0;</p>
<p>&#xa0;</p>
<h1><a id="_manage_variable">5. Manage Variable Templates</a></h1>
<p>With the Variable Template Manager you are able to create, modify and delete Variable Templates (called Data Attributes in older BEXIS 2 versions). Variables are required to create Data Structures. </p>
<p>To create a Variable Template, click on the Create Variable Template button. Fill the fields. Select an associated Unit and Data Type and click on the Save button. The Variable Template is stored if all information are correct and it is not a duplicate.</p>
<p>Use <img src="~/Areas/RPM/Content/Images/Help/edit_button.png" width="24" height="24" alt="Edit button" /> for edit and <img src="~/Areas/RPM/Content/Images/Help/delete_button.png" width="24" height="24" alt="Delete Button" /> for delete a Variable Template.</p>
<p><img src="~/Areas/RPM/Content/Images/Help/create_variable.png" width="900" alt="Create Variable templates" />&#xa0;</p>
<p>It is possible to put constraints on Variable Templates, to add constraints click on the link Constrains. You can add a Range, a Pattern and a Domain Constraint to each Variable Template. </p>
<li>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;Range: If the input data is of numeric type, this constraint checks whether the input value falls in the specified range. If the input data is of type string, the range check behaves like a length check, which means the length of the input string should fall in the range. The range has a lower bound and an upper bound, plus two indicators to show whether the boundary values are included in the range. Negate function checks if the value is out of the range!</li>
<li>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;Pattern: takes the value as input and matches it against a pattern to see whether the pattern is found in the input. If so, it returns true; otherwise false. Pattern constraints apply to text values only, for more information on the format click <a href="https://en.wikipedia.org/wiki/Regular_expression">here</a>.</li>
<li>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;Domain: takes the value as input and matches it against each and every domain item in the list. If the value matches one, it stops matching and returns true, which means the value satisfies the constraint. If no match is found it returns false. No duplicate domain item is allowed, although it does not affect the matching procedure described. Domain items can be characters, strings, Booleans or numbers. Their data type is enforced by the associated Variable Template. Using the domain constraint as a tool to model acronyms and similar topics provided that some extra information such as description of each item is available, is supported.</li>
<li>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;Negation: The inversion of the chosen constraint will apply. In fact the result of the constraint is XORed with the negation field. For example, a negated Range Constraint of Min=1 and Max=100 will allow all values outside of this range.</li>

<p><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>

<a href="#_overview"> Go to top</a>
