@using Vaiona.Web.Mvc;
@section leftPane{
  <div class="toc">
    <a href="#_Toc434570748">1. Overview</a>
<p></p>
    <a href="#_Toc434570749">2. Data Type Manager</a>
<p></p>
    <a href="#_Toc434570750">3. Unit Manager</a>
<p></p>
    <a href="#_Toc434570751">4. Data Attribute Manager</a>
<p></p>
    <a href="#_Toc434570752">5. Data Structure Manager</a>
<p></p>
    <a href="#_Toc434570753">5.1. Create a Data Structure</a>
<p></p>
    <a href="#_Toc434570754">5.2. Add Variables</a>
<p></p>
    <a href="#_Toc434570755">5.3. Create a copy data structure</a>
<p></p>
  </div>
}
<style>
.toc {
position: fixed;
}
</style>
