
@using Telerik.Web.Mvc.UI
@model List<Vaiona.Model.MTnt.Tenant>

<button type="button" class="bx-button function" onclick="tenantCreate_onClick()">Create Tenant</button>

@(Html.Telerik().Grid(Model)
    .Name("gridTenants")
    .DataKeys(keys =>
    {
        keys.Add(m => m.Id);
    })
    .Columns(columns =>
    {
        columns.Bound(s => s.Id)
            .Title("Id")
            .Width(64)
            .HtmlAttributes(new { style = "text-align:left" });
        columns.Bound(m => m.ShortName)
            .Title("Name")
            .Width(50)
            .HtmlAttributes(new { style = "text-align:left;" });
        columns.Bound(m => m.Description)
            .Title("Description")
            .Width(100);
        columns.Bound(m => m.SupportEmail)
            .Title("Contact")
            .Width(80);

    })
    .DataBinding(dataBinding => dataBinding
        .Server()
    )
    .Filterable()
    .Pageable(pageable =>
    {
        pageable.PageSize(10, new[] { 10, 20, 50, 100 });
        pageable.Style(GridPagerStyles.NextPreviousAndNumeric | GridPagerStyles.PageSizeDropDown);
        pageable.Position(GridPagerPosition.Both);
    })
    .Sortable(sortable => sortable
        .OrderBy(orderby => orderby
            .Add(m => m.ShortName)
            .Ascending()
        )
    )
    .ClientEvents(events =>
    {
        events.OnDataBound("onDataBound");
    })
)

<script type="text/javascript">

    function onDataBound()
    {
        addTooltips();
        resetAllTelerikIconTitles();
    }

    // --------------------------------------------------
    // CREATE
    // --------------------------------------------------

    function tenantCreate_onClick() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Create", "Tenants")',
            dataType: 'html',
            success: function (htmlData) {
                var windowElement = $.telerik.window.create({
                    title: "Create Tenant",
                    html: "<div id='contentCreate' class='bx-window'>" + htmlData + "</div>",
                    contentUrl: "",
                    actions: ["Close"],
                    modal: true,
                    width: 500,
                    height: 500,
                    resizable: false,
                    draggable: true,
                    scrollable: false,
                    onClose: function () {
                        $("#windowCreate").data('tWindow').destroy();
                        $("#gridTenants .t-refresh").trigger('click');
                    }
                });

                windowElement.attr('id', 'windowCreate');
                var window = $(windowElement).data('tWindow');
                window.center().open();

                resetAllTelerikIconTitles();
            }
        });
    }

    function tenantCreate_onSuccess(data) {
        if (data.success) {
            $('#windowCreate').data('tWindow').close();
        }
    }

</script>

