button, 
.bx-button, 
.t-filter-options .t-clear-button, 
.t-filter-options .t-filter-button
{
	display: inline-block;
	border-radius: 8px;
	background: #666666;
	text-transform: uppercase;
	color: white;
	text-align: center;
	margin: 2px;
	border: none;
	padding: 5% 20px 5% 20px;
	font-size: inherit;
}

button.small, 
.bx-button.small, 
.t-filter-options .t-clear-button, 
.t-filter-options .t-filter-button {
    padding: 2% 10px 2% 10px;
}

button.action, .bx-button.action {
	background: #00876F;
}

button.function, .bx-button.function {
	background: #FF9800;
}

button.confirm, .bx-button.confirm {
	background: #000000;
}

input[type=radio].css-checkbox {
	background: none;
}


/**Input**/

.bx-small-input,
.t-animation-container input[type=text],
.t-animation-container select
{
    height:24px;
    width:90%;
}
