@model BExIS.Modules.Ddm.UI.Models.CitationDataModel

<div>@Model.Title, @String.Join(", ", Model.Authors)</div>

@*{Nachname Ersteller}, {Initialen Ersteller}. ({Jahr}). {Titel des Datensatzes} [Datensatz]. {Herausgeber/Organisation}. Abgerufen am {Datum des Zugriffs}, von https://doi.org/{DOI} oder {URL}*@