@model Dictionary<string, string>

<div class="publication-container">
    @foreach (var label in Model)
    {

        if (label.Value == "template")
        {
            <a href="" class="label label-info">@label.Key</a>
        }
        else if(label.Value.ToLower() == "doi")
        {
            string displayName = label.Key;
            if (label.Key.StartsWith("http"))
            {
                string[] parts = label.Key.Split('/');
                displayName = string.Join("/", parts.Skip(parts.Length - 2));
            }

            <a href="@label.Key" class="label label-success">@label.Value: @displayName</a>
        }
    }

</div>
<style>
    .publication-container {
        padding-bottom:10px;
    }
</style>
