@model List<BExIS.Modules.Ddm.UI.Models.TagInfoViewModel>

@{
    ViewBag.Title = "Tags View";
    string url = "/ddm/data/showdata?id=";

    if (ViewData.ContainsKey("Id"))
    {
        url += ViewData["Id"];
    }
    else
    {
        url += "0";
    }

    double tagNr = 0;

    if (ViewData.ContainsKey("Tag") && ViewData["Tag"]!=null )
    {
        tagNr = (double)ViewData["Tag"];
    }
}

@if (Model != null)
{

    <div id="tagsview">
        <table>
            @*<thead>
            <th>Tag</th>
            <th>Release Notes</th>
            </thead>*@
            <tbody>
                @foreach (var tag in Model)
                {
                    <tr id="@tag.Version">
                        <td><a href="@url&tag=@tag.Version"> @tag.Version</a></td>
                        <td>
                            @foreach (var note in tag.ReleaseNotes)
                            {
                                <div>@note</div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
        }

        <style type="text/css">
            #tagsview {
                overflow-y: scroll;
                height: 90px;
            }

            .selected {
                background-color: #f0f0f0;
            }
        </style>

        <script>
    $(document).ready(function () {
        const trElement = document.getElementById('@tagNr');
        console.log(trElement)
        //console.log('@tagNr')
        // Check if the TD element exists
        if (trElement) {
            // Add the new class
            trElement.classList.add("selected");
            trElement.scrollIntoView({ behavior: "smooth" });
            //const scrollPosition = elementTop - viewHeight / 2;
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }
    });
 </script>
