@model BExIS.Modules.Ddm.UI.Models.ShowMetadataModel

<br />
@if (ViewData.ModelState.IsValid)
{
    <br />
    <div class ="description">
        @Model.Description
    </div>

    <br /><br /><br />
<table class="tableInformation">

    @foreach (var packageUsage in Model.PU)
    {
        <tr class="rowMD">
            <td class="packageName">
                <table><tr>
                    <b>@packageUsage.Name</b>
                </tr></table>
            </td>
            <td class="childrens">
                <table class="noBorder">
                @foreach (var child in packageUsage.Attributes)
                {
                    <tr class="noBorder">
                        @Html.Partial("_showItem", child)
                    </tr>
                }
                </table>
            </td>
        </tr>

    }
</table>

}
else
{
    @Html.ValidationSummary(true)
}
<br />

<style type="text/css">

    .tableInformation {
        padding:0px;
        vertical-align:text-top;
        border-style:none;
        width:1000px;
        text-align:left;
    }

    .childrens {
        border-style:none;
        padding:0px;
        margin:0px;
    }

    .description {
        text-align:justify;

    }

    .packageName {
        vertical-align:text-top;
        font-size:130%;
        width:200px;
        color:#666;
        border-style:none;
        background-color:#eee;
        padding: 10px 10px 0;

    }

    .rowMD
    {
         border:none;
         border-top: solid 1px;
         padding-bottom: 5px;
         padding-top: 5px;

    }

    .noBorder
    {
        border:none;
        padding:0px;
        padding-top:2px;
        padding-bottom:0px;
        margin:0px;
    }

    .highlight
    {
        border:none;
        border-bottom:solid 1px;
        border-color:#eee;
    }

    .noBorder table,.noBorder tr, .tableInformation table
    {
        width:100%;
    }

    .lable
    {
        color:#666;
        font-weight:bold;
    }

    .lableType
    {
        font-size:115%;
    }

    .value
    {
        width:300px;

    }

    .subNode
    {
        padding-left:10px;

    }

    /*.PackageAttributeUsage {

        width:150px;
        padding:0px;
        color:#666;
        border-style:none;
    }

    .PackageAttributeUsageValue {

        padding:0px;
        border-style:none;
    }*/
</style>