@section Information
{
    This guide will walk you through the basics of using data dissemination.
}
@section leftPane{
    <div class="toc">
        <h3> Business Administration ToC </h3>
        <br />
        <p></p> <a href="#_overview">           1. Overview</a>
        <p></p> <a href="#_manage_parties">     2. Manage Parties</a>
        <p></p>&nbsp;&nbsp; <a href="#_create_and_edit">        2.1. Create and Edit</a>
        <p></p>&nbsp;&nbsp; <a href="#_manage_relationship">    2.2. Manage Relationship</a>
        <p></p> <a href="#_account_registration">3. Party creates while registration</a>
    </div>
}

<style>
    a:hover {
        background-color: #bee1da;
        text-decoration: none;
    }

    .toc {
        position: fixed;
        top: 100px;
        overflow: auto;
        max-height: 64vh;
        width: 250px;
        max-width: 350px;
    }

    .scrollable {
        overflow: auto;
        height: 750px;
    }

    :target:before {
        content: "";
        display: block;
        height: 100px;
    }
</style>

<h1><a id="_overview"><span>1. Overview</span></a></h1>
<p><span>&#xa0;</span></p>
<p>Party package is available via Setup (Cog button) to manage all kinds of entities such as people, organizations, projects etc. it is also managing the relationship between them. For example, one person is a part of a project for a certain duration. Furthermore, it is able to connect to the other modules, which now connects to the security module and it is able to import the definitions such as “partytypes”, “customattributes” and “relationshiptype” from an XML file.</p>
<!--<p><img src="~/Areas/BAM/Content/Images/Help/schema.jpg" width="600" alt="Schema_img" /><span>&#xa0;</span></p>-->
<p><span>&#xa0;</span></p>
<h1><a id="_manage_parties"><span>2. Manage Parties</span></a></h1>
<p><span>&#xa0;</span></p>
<p>
    Through Manage Parties, you can see all the available entities, create, edit and delete them.
    The red warning icon in action-required column shows that this party needs some relationships to be valid.
</p>
<br />
<p><img src="~/Areas/BAM/Content/Images/Help/manage_parties.jpg" width="900" alt="Manage_Parties_img" /><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<h2><a id="_create_and_edit"><span>2.1. Create and Edit</span></a></h2>
<p><span>&#xa0;</span></p>
<p>
    After clicking on Create Party in Manage Parties in the first step, you should select party type and its date range. Click on Next you will navigate to the next step.<br />
    Here depends on the selected party type you will see some additional attributes. You have to fill the required fields.<br />
    To edit later a party you will navigate to this page again. You will able to change all the fields except party type.
<br />
<p><img src="~/Areas/BAM/Content/Images/Help/create_party_1.jpg" width="900" alt="create_party_1_img" /></p>
<p><span>&#xa0;</span></p>
<h2><a id="_manage_relationship">2.2. Manage Relationship</a></h2>
<p>
    Every party could have some relationships with the other parties. If you do not define relationships, the party will save but it is not valid. You can add relationship later as well.<br />
    Party relationships tab in the edit, or create party is to manage these relationships.<br />
    To create a new relationship, click on create and you see the following window. Here you see all the available party relationship types depend on the definitions, which we already defined. The numbers in parentheses show the number of current relationships and the maximum relationships that this party to this relationship type can have.<br />
    Clicking on one of them, you see some more options and available parties to make a relationship.<br />
</p>
<!--<br />-->
<!--<p><img src="~/Areas/BAM/Content/Images/Help/create_party_2.jpg" width="900" alt="create_party_2_img" /></p>-->
<!--<br />-->
<br />
<p><img src="~/Areas/BAM/Content/Images/Help/new_party_relation.jpg" width="400" alt="new_party_relation_img" /><span>&#xa0;</span></p>
<br />
<p>Selecting a party, it asks you to enter some information and by default, it fills some of the fields. The title here is the title of the relationship. Start and end dates are important and will set the duration of the relationship. This duration should fit the duration of a source party and the target party; otherwise, you will face an error.</p>
<p><img src="~/Areas/BAM/Content/Images/Help/new_party_relation2.jpg" width="600" alt="new_party_relation2_img" /><span>&#xa0;</span></p>
<p>
    Click on the edit icon <!--(pencil figure)--> on the last column of each relationship make you able to edit the relationship.<br />
    Click on the view icon <!--(eye figure)--> make you able to see the detail of a relationship.<br />
    Click on delete icon <!--(trash figure)--> make you able to delete a relationship if the minimum cardinality of its relationship types preserved.
</p>
<p><span>&#xa0;</span></p>
<h1><a id="_account_registration"><span>3. Party creates while registration </span></a></h1>
<br />
<p> A party type Person is created while registration. User guides to fill information fields needed for its party.
    This page is available in tab "Additional attributes" during edit a party type Person.</p>
<p><span>&#xa0;</span></p>
<p><img src="~/Areas/BAM/Content/Images/Help/registration.jpg" width="600" alt="registration_img" /><span>&#xa0;</span></p>

<p><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>

<a href="#_overview"> Go to top</a>