@{
    ViewBag.Title = "Index";
}

<h2>The dataset management functions accessible from here may have unrecoverable effets! Use them with care.</h2>
@Html.ActionLink("List of datasets", "List", "Dataset", new {area = "Sam"})
