@section Information
{
    With this interface you are able to see a list of Datasets. In this list you can see the status of each dataset and some useful actions for the maintenance of a dataset. 
    <p>
    <a href="/SAM/Help/Index/#_Toc451422052" class="bx-informationLink" title="go to help" target="_blank">More</a>
</p>
}

<h2>The dataset management functions accessible from here may have unrecoverable effets! Use them with care.</h2>
@Html.ActionLink("List of datasets", "List", "Dataset", new { area = "SAM" }, null)