
@{
    ViewBag.Title = "Index";
}


<style href="@Url.Content("~/Scripts/svelte/shell.css")" type="text/css"></style>


@section scripts
{
    <script src="@Url.Content("~/Scripts/svelte/shell.js")" type="text/javascript"></script>

}


<div id="shell"> </div>