@{
    ViewBag.Title = "Index";
    Layout = "~/Themes/Default/Layouts/_svelteLayout.cshtml";

}

@section scripts
{
    <script src="~/Scripts/svelte/uitest.js"></script>

}

<div id="uitest"> </div>