body {
}

.mmm-Container {
    width: 100%;
}

.mmm-sortdropdown {
    text-align: right;
    white-space: nowrap;
}

.mmm-dropdown {
    background: none;
    width: 200px;
    height: 30px;
    z-index: 2;
    position: relative;
    margin: 0px 0px 3px 0px;
    font-family: FontAwesome, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.t-arrow-down.mmm-dropdownArrow {
    width: 0px;
    position: relative;
    right: 20px;
    top: 8px;
    margin: 0px;
    z-index: 1;
    float: right;
}

.mmm-mediaContainer {
    border: 1px solid #afb0b1;
    background-color: #f5f5f5;
    margin: 3px 0 3px 0;
    width: 100%;
    z-index: 1001 !important;
}

    .mmm-mediaContainer:hover {
        background-color: #d2e8e3;
    }

    .mmm-mediaContainer table {
        width: 100%;
    }

    .mmm-mediaContainer table,
    .mmm-mediaContainer tr,
    .mmm-mediaContainer td {
        border: 0;
        background-color: rgba(0, 0, 0, 0);
    }

    .mmm-mediaContainer .mmm-functions {
        width: 70px;
    }

    .mmm-mediaContainer .mmm-media {
        cursor: pointer;
    }

        .mmm-mediaContainer .mmm-media video,
        .mmm-mediaContainer .mmm-media audio {
            z-index: 1002 !important;
            position: relative;
            min-width: 270px;
        }

        .mmm-mediaContainer .mmm-media video,
        .mmm-mediaContainer .mmm-media img,
        .thumbnail {
            margin: 0;
            padding: 0;
            height: 150px;
        }

        .mmm-mediaContainer .mmm-media a,
        .mmm-mediaContainer .mmm-media audio {
            margin: 0;
            padding: 0;
        }

    .mmm-mediaContainer .mmm-mediaInfo {
        width: 500px;
    }

        .mmm-mediaContainer .mmm-mediaInfo td {
            width: 50%;
            width: 100px;
            border-bottom: solid 1px #ebebeb;
        }

.thumbnail {
    margin: 0 15px 5px 15px;
}

.bundleThumbnailView,
.bundleThumbnailView div {
    overflow-y: auto;
    max-width: 200px;
    text-align: center;
}

.mmm-filter {
    display: inline-block;
    text-align: left;
}

.mmm-filterbutton {
    display: block !important;
    margin: 0 !important;
    float: left;
}

    .mmm-filterbutton.left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .mmm-filterbutton.right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 1px solid #f5f5f5;
    }

    .mmm-filterbutton.middle {
        border-radius: 0;
        border-left: 1px solid #ebebeb;
    }

    .mmm-filterbutton.active {
        background-color: #dd7600 !important;
    }

.modal {
    align-content: center !important;
    padding: 0 !important;
    z-index: 1700;
}

    .modal .modal-body {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        padding: 0;
        text-align: center !important;
        border: none;
        z-index: 1001;
        width: 90%;
        max-height: 80%;
    }

        .modal .modal-body #content {
        }

        .modal .modal-body #header {
        }

            .modal .modal-body #header .close {
                color: #ffffff;
                opacity: 1;
                padding-right: 5px;
                text-shadow: none;
            }

.mmm-image-window {
    background-color: rgba(50, 50, 50, 0.8);
    border-radius: 8px;
    color: #f5f5f5;
    z-index: 1001;
}

    .mmm-image-window h3 {
        color: #f5f5f5;
    }

    .mmm-image-window table,
    .mmm-image-window tr,
    .mmm-image-window td {
        background: none;
        border: 0;
        vertical-align: top;
    }

.mmm-image-content {
    min-height: 80%;
    height: 80%;
    max-height: 80%;
}

    .mmm-image-content .mmm-image {
        text-align: center;
        vertical-align: middle;
        padding-left: 1px;
        overflow: hidden;
        max-height: 600px;
    }

        .mmm-image-content .mmm-image #overlay {
            max-height: 0px;
        }

            .mmm-image-content .mmm-image #overlay svg polygon {
                fill-opacity: 0;
                stroke: green;
                stroke-width: 3;
            }

                .mmm-image-content .mmm-image #overlay svg polygon:hover {
                    fill-opacity: 0.2;
                    stroke: green;
                    stroke-width: 3;
                }

        .mmm-image-content .mmm-image #prevImg,
        .mmm-image-content .mmm-image #nextImg {
            z-index: 1002;
            width: 100px;
            height: 200px;
            position: fixed;
            top: calc(50% + 21px);
            transform: translateY(-50%);
            padding: 0;
            margin: 0;
            border: none;
            background-color: #000000;
            opacity: 0;
            vertical-align: middle;
        }

            .mmm-image-content .mmm-image #prevImg:hover,
            .mmm-image-content .mmm-image #nextImg:hover {
                opacity: .5;
            }

            .mmm-image-content .mmm-image #prevImg span,
            .mmm-image-content .mmm-image #nextImg span {
                vertical-align: middle;
                font-size: 100px;
                margin-top: 50px;
            }

        .mmm-image-content .mmm-image #prevImg {
            left: 0px;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }

        .mmm-image-content .mmm-image #nextImg {
            right: 405px;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }

        .mmm-image-content .mmm-image video,
        .mmm-image-content .mmm-image audio,
        .mmm-image-content .mmm-image img {
            max-width: 100% !important;
        }

    .mmm-image-content .mmm-exif,
    .mmm-image-content .mmm-map {
        width: 400px;
        padding-right: 1px;
    }

    .mmm-image-content .mmm-exif {
        padding-bottom: 0;
    }

    .mmm-image-content .mmm-map {
        padding-top: 0;
    }

        .mmm-image-content .mmm-map #map {
            padding: 0;
            margin: 0;
        }

    .mmm-image-content .mmm-exif td {
        border-bottom: 1px solid #f5f5f5;
        border-spacing: 0px;
        padding-left: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mmm-image-content .mmm-exif div {
        overflow-y: auto;
        padding-right: 10px;
        width: 100%;
    }

.mmm-filter-table,
.mmm-filter-table tr {
    text-align: left;
    background-color: none;
}