/*
Color Overview

White    #000000   brigth
Gray 01  #f5f5f5
Gray 02  #ebebeb
Gray 03  #afb0b1
Gray 04  #009cdf   dark // new 323232
Black    #ffffff
Yellow   #ffbb52
Orange   #ff9700
Red      #f24c24
Green 01  #388670   dark
Green 02  #72b1a0
Green 03  #bee1da
Green 04  #d2e8e3
Green 05  #eff7f6   brigth
*/

/*Helpers*/
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/**LINK im Content*/
.nav a {
    /*text-transform:uppercase;*/
}

    .nav a:hover {
        /*text-transform:uppercase;*/
        color: var(--nav-hover) !important;
        cursor: pointer;
    }

.bx-link,
.content a,
.t-link,
.t-in {
    color: var(--bg-color-level-1);
    cursor: pointer;
}

    .bx-link:hover,
    .content a:hover,
    .content a::selection,
    .content a .t-link:hover,
    .content a .t-link::selection,
    .content .t-in:hover,
    .content .t-in::selection {
        font-weight: bold;
        cursor: pointer;
    }

.bx-selection {
    cursor: pointer !important;
}

button,
.t-button,
.bx-button,
.bx-combo-button,
.t-filter-options .t-clear-button,
.t-filter-options .t-filter-button,
.ui-dialog .ui-dialog-buttonpane button {
    display: inline-block;
    border-radius: 8px;
    background: #666666;
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 2px;
    border: none;
    padding: 10px 20px 10px 20px;
    font-size: inherit;
    cursor: pointer;
}

a.bx-button {
    text-decoration: none;
}

    a.bx-button:hover {
        color: white;
    }

button.small,
.bx-button.small,
.t-filter-options .t-clear-button,
.t-filter-options .t-filter-button,
.t-grid-Edit,
.t-grid-Create,
.t-grid-Delete,
.ui-dialog .ui-dialog-buttonpane button {
    padding: 6px 12px 6px 12px;
    font-size: 94%;
}

button.smaller,
.bx-button.smaller {
    padding: 3px 12px 3px 12px;
    font-size: 80%;
}

button.action,
.t-button.action,
.bx-button.action {
    background: var(--button-action);
}

.whiteText {
    color: white !important;
}

button.function,
.t-button.function,
.bx-button.function,
.t-upload-button {
    background: var(--button-function);
}

button.confirm,
.t-button.confirm,
.bx-button.confirm {
    background: #000000;
}

.bx-button.bx-disabled,
.bx-action.bx-disabled,
.bx-function.bx-disabled,
.bx-grid-function.bx-disabled,
button.bx-disabled,
button.t-state-disabled,
.t-link.t-state-disabled .t-icon {
    background-color: white;
    border: 1px #afb0b1 solid;
    color: #afb0b1;
    cursor: not-allowed;
}

a {
    cursor: pointer;
}

    a.bx-grid-function {
        margin-left: 2px;
        margin-right: 2px;
    }

.t-grid-filter {
    cursor: pointer;
}

input[type=radio].css-checkbox {
    background: none;
}

.bx-combo-button {
    margin-right: -24px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
/**Tab**/
.bx-tab,
.t-tabstrip .t-item,
li.t-state-disabled .t-link {
    background-color: white;
    border-top: 4px solid #afb0b1;
    border-left: 2px solid #afb0b1;
    border-right: 2px solid #afb0b1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.bx-tab-active,
.t-tabstrip li.t-state-active {
    background-color: #f5f5f5;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    border-bottom: none;
    vertical-align: bottom;
    height: 36px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.bx-tab-disabled,
li.t-state-disabled .t-link {
    color: #bbbbbb;
    cursor: not-allowed;
}

/**Input**/

/*.bx-small-input,
.t-animation-container input[type=text],
.t-animation-container select
{
	height:24px;
	width:90%;
}*/

/* Input/ Select/  Dropdown*/
.bx-input,
.bx-dropdown,
.bx-textarea,
.t-autocomplete,
.t-datepicker .t-picker-wrap input {
    width: 100px; /*Width of select dropdown to give space for arrow image*/
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: ""; /*Removes default arrow from firefox*/
    border: var(--border-width-field) solid var(--border-color-field);
    font-size: 12pt;
    font-family: Arial;
    padding-left: 5px;
    padding-right: 5px;
}

.bx-input,
.t-autocomplete,
.t-datepicker .t-picker-wrap input {
    -webkit-appearance: none; /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
}

.bx-input,
.bx-textarea,
.t-autocomplete {
    width: 372px;
}

.bx-input,
.t-autocomplete,
.t-datepicker .t-picker-wrap input {
    height: 30px;
}

input,
textarea,
select {
    border: 1px solid #000000;
}

input,
textarea {
    padding-left: 3px;
}

    input:disabled,
    textarea:disabled,
    .bx-input.bx-disabled,
    .bx-textarea.bx-disabled,
    .t-autocomplete.bx-disabled {
        border-color: #565655;
        background-color: #f5f5f5;
        color: #565655;
    }

.bx-dropdown {
    height: 36px;
    width: auto;
}

.bx-select-mouseover {
    background-color: var(--bg-color-bx-selected-mousover);
    color: white;
}

.bx-input-icon {
    height: 36px;
    margin-left: -15px;
}

.bx-input-error {
    border-color: #f24c24 !important;
}

/*Lists*/
.bx-list,
.bx-list-multi {
    width: 100%;
    border-bottom: 1px solid #ebebeb;
}

ul.bx-list,
ul.bx-list-multi {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ebebeb;
}

.bx-list li,
.bx-list-multi li {
    padding: 13px 40px 13px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 12pt;
    margin: 0;
    border-top: 1px solid #ebebeb;
}

    .bx-list li:hover,
    .bx-list-multi li:hover {
        background-color: #eff7f6;
        color: var(--bg-color-level-1);
        border-top: 1px solid white;
    }

    .bx-list li.selected,
    .bx-list-multi li.selected {
        background-color: #eff7f6;
        color: var(--bg-color-level-1);
        /*font-weight:bold;*/
        border-top: 1px solid var(--bg-color-level-1);
        border-bottom: 1px solid var(--bg-color-level-1);
    }

/* Container */
.overlay {
    /*display:none;*/
    /* background-color: #bee1da; */
    background-color: var(--bg-color-level-3);
    padding: 12px 25px 12px 25px;
    width: calc(100% + 12pt);
    margin-left: -15px;
    z-index: 1000;
}

.overlayHeader {
    color: var(--bg-color-level-2);
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 12px;
}

.overlayContent {
    border-color: var(--bg-color-level-2);
}

    .overlayContent li a,
    .overlayContent li span {
        color: black;
    }

    .overlayContent .bx-more {
        color: #afb0b1;
    }

.overlay .overlayHeader i:hover {
    color: white;
    cursor: pointer;
}

/*Slider*/
.slider .slider-selection,
.slider .slider-handle {
    background: black;
}

.slider .slider-track-high,
.slider .slider-track-low {
    background: white;
    border: 1px solid var(--bg-color-level-2);
}

.overlay .slider .slider-selection,
.overlay .slider .slider-handle {
    background: var(--bg-color-level-2);
}

.overlay .slider .slider-track-high,
.overlay .slider .slider-track-low {
    background: white;
    border: 1px solid var(--bg-color-level-2);
}

/*Window Layout*/
.bx-window,
.t-window,
.t-window-content {
    background-color: #ebebeb;
    max-width: 95vm;
}

    .bx-window .bx-title {
        padding: 4px 0;
        font-size: 13pt;
    }

    .bx-window .bx-content {
        background-color: white;
        padding: 10px;
    }

.bx-footer {
    padding: 10px 5px;
}

.bx-window .bx-footer, .bx-window .bx-title {
    padding: 10px 0px;
}

    .bx-footer.left,
    .bx-window .bx-footer.left {
        text-align: left;
    }

    .bx-footer.right,
    .bx-window .bx-footer.right {
        text-align: right;
    }

    .bx-footer.center,
    .bx-window .bx-footer.center {
        text-align: center;
    }

/*Required and Error*/

.bx-errorMsg,
.bx-required {
    color: #f24c24;
}

.bx-required {
    font-size: 6pt;
    vertical-align: top;
}

/*information section*/

.bx-informationLink {
    color: var(--information-link-color);
    font-weight: bold;
}

    .bx-informationLink:hover {
        color: var(--information-link-hover-color);
    }

#information-container {
    background-color: var(--information-bg-color);
    color: var(--information-text-color);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.bx-selection-grid tr:hover {
    background-color: #eff7f6;
}

/**GENERAL*/

.bx-mouse-pointer:hover {
    cursor: pointer;
}

/**States**/
.bx-success {
    color: green;
}

/**Settings Menu*/
.settings-menu {
    height: auto;
    overflow-x: hidden;
    max-height: 500px;
}

/* Toggle */
.bx2-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

    .bx2-toggle + label {
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

input.bx2-toggle-round-flat + label {
    /*    padding: 2px;*/
    width: 48px;
    height: 24px;
    background-color: rgb(216, 216, 216);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}

    input.bx2-toggle-round-flat + label:before, input.bx2-toggle-round-flat + label:after {
        display: block;
        position: absolute;
        content: "";
    }

    input.bx2-toggle-round-flat + label:before {
        /*      top: 2px;
        left: 2px;
        bottom: 2px;
        right: 2px;*/
        background-color: rgb(216, 216, 216);
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        -ms-border-radius: 60px;
        -o-border-radius: 60px;
        border-radius: 60px;
        -webkit-transition: background 0.4s;
        -moz-transition: background 0.4s;
        -o-transition: background 0.4s;
        transition: background 0.4s;
    }

    input.bx2-toggle-round-flat + label:after {
        top: 2px;
        left: 2px;
        bottom: 2px;
        width: 19.2px;
        height: 19.2px;
        background-color: #fff; /*var(--bexis2-gray-2);*/
        -webkit-border-radius: 52px;
        -moz-border-radius: 52px;
        -ms-border-radius: 52px;
        -o-border-radius: 52px;
        border-radius: 52px;
        -webkit-transition: margin 0.4s, background 0.4s;
        -moz-transition: margin 0.4s, background 0.4s;
        -o-transition: margin 0.4s, background 0.4s;
        transition: margin 0.4s, background 0.4s;
    }

input.bx2-toggle-round-flat:checked + label {
    background-color: var(--highlight-color)
}

    input.bx2-toggle-round-flat:checked + label:after {
        margin-left: 24px;
        background-color: #fff;
    }