/*Stepper*/
.uploadWizardStep
{
   height:400px;

}

/*Tables*/

table
{
    border-style: none;
}

tr td
{
    border-style: none;
}

/*Summary*/

#summaryRight
{
    float:left;
}

#summaryLeft
{
    float:left;
    width:50%;
}


/*Navigation*/

#UploadWizardNavDiv
{
    width:95%;
    position:absolute;
    bottom:10px;
}

#UploadWizard_NavigationTable 
{
    border-style: none;
    width:100%;
}

#Nav_Left
{
    width:100px;
}

#Nav_Right
{
    width:10px;   
        
}

#Nav_Options
{
    width:10px;
}

#Nav_Pages
{
    text-align:center;
        
}


/**Errors*/
.uploadWizardStep_Error{

    width:45%;
    color:red;
    top:10px;
    right:10px;
    position:absolute;
}

.uploadWizardStep_Success{

    width:45%;
    color:green;
    top:10px;
    right:10px;
    position:absolute;
}

.uploadWizardStep_Main
{
    width:45%;
    top:10px;
    left:10%;
    border: 1px , solid;
}

.uploadWizard_PK_Span
{
    width:33%;

}

.uploadWizardStep_Content
{
    /*height:220px;
    overflow:auto;*/
}