@using Telerik.Web.Mvc.UI

@using BExIS.Web.Shell.Areas.RPM.Models
@model string

@{Html.Telerik().Grid<DataStructureResultStruct>()
                .Name("bx-rpm-dataStructureResultGrid")
                .HtmlAttributes(new { @class = "bx-rpm-resultGrid" })
                .DataBinding(dataBinding => dataBinding
                    .Ajax()
                    .Select("_dataStructureResultGridBinding", "DataStructureSearch", new { area = "RPM", searchTerms = Model })
                )
                .ClientEvents(e =>
                {
                    e.OnDataBinding("dataStructureResultGrid_onDataBinding");
                    e.OnDataBound("dataStructureResultGrid_onDataBound");
                })
                .Filterable()
                .Sortable()
                .Columns(columns =>
                {
                    columns.Bound(c => c.Title);
                    columns.Bound(c => c.Id);
                    columns.Bound(c => c.Description);
                    columns.Bound(c => c.inUse);
                    columns.Template(
                    @<text>
                    </text>
                    )
                    .HeaderHtmlAttributes(new { @class = "bx-rpm-gridfunction" });
                })
                .ClientRowTemplate(
                    "<tr>" +
                      "<td class='bx-rpm-result'><span class='bx-rpm-title' onclick='javascript:clickDatastructure(<#= Id #>)'><#= Title #><span id='collapse<#= Id #>' class='bx bx-angle-double-down'></span></span></td>" +
                      "<td class='bx-rpm-result'><#= Id #></td>" +
                      "<td class='bx-rpm-result'><#= Description #></td>" +
                      "<td class='bx-rpm-result'><#= inUse #></td>" +
                      "<td class='bx-rpm-result bx-rpm-gridfunction'>" +
                          "<a class='bx bx-grid-function bx-edit' href='/RPM/DataStructureEdit?dataStructureId=<#= Id #>'></a>" +
                          "<a id='<#= Id #>_download' class='bx bx-grid-function bx-download' structured='<#= Structured #>' href='/RPM/Home/downloadTemplate?id=<#= Id #>'></a>" +
                      "</td>" +
                  "</tr>" +
                  "<tr class='bx-rpm-preview hidden' id='<#= Id #>_preview' structured='<#= Structured #>' preview='<#= Preview #>'>" +
                      "<td colspan='4' id='<#= Id #>_content'>" +
                        "<h3 class='bx-rpm-loading'><span class='fa fa-spinner fa-pulse'></span> Loading Data Structure</h3>" +
                      "</td>" +
                  "</tr>" +
                  "<tr>" +
                      "<td class='bx-rpm-empty'></td>" +
                      "<td class='bx-rpm-empty'></td>" +
                      "<td class='bx-rpm-empty'></td>" +
                      "<td class='bx-rpm-empty'></td>" +
                      "<td class='bx-rpm-empty bx-rpm-gridfunction'></td>" +
                  "</tr>"
                )
                .Render();
}

<script type="text/javascript">

    var previewIds = [];

    function clickDatastructure(id) {
        if ($('#' + id + '_preview').attr('preview') == 'true') {
            $('#' + id + '_preview').attr('preview', 'false');
            $('#' + id + '_preview').addClass('hidden');
            $('#' + id + '_collapse').addClass('bx-angle-double-down');
            $('#' + id + '_collapse').removeClass('bx-angle-double-up');
            previewIds.splice(previewIds.indexOf(id), 1);
        }
        else {
            if ($('#' + id + '_preview #' + id +'_dataStructurePreviewGrid').length == 0) {
                loadPreview(id);
            }
            $('#' + id + '_preview').attr('preview', 'true');
            $('#' + id + '_preview').removeClass('hidden');
            $('#' + id + '_collapse').addClass('bx-angle-double-up');
            $('#' + id + '_collapse').removeClass('bx-angle-double-down');
            previewIds.push(id);
        }
        previewIds.sort();
    }

    function dataStructureResultGrid_onDataBinding(e) {

        e.data = {
            previewIds: previewIds
        };
    }

    function dataStructureResultGrid_onDataBound(e) {
        resetAllTelerikIconTitles();
        for (i = 0; i < previewIds.length; i++) {
            if ($('#' + previewIds[i] + 'preview').attr('preview') == 'true') {
                loadPreview(previewIds[i]);
                $('#' + previewIds[i] + '_preview' + previewIds[i]).removeClass('hidden');
                $('#' + previewIds[i] + '_collapse' + previewIds[i]).addClass('bx-angle-double-up');
                $('#' + previewIds[i] + '_collapse' + previewIds[i]).removeClass('bx-angle-double-down');
            }
        }

        for (i = 0; i < $('.bx-download').length; i++) {
            var id = $('.bx-download')[i].id;
            if ($('#' + id).attr('structured') == 'false') {
                $('#' + id).addClass('bx-disabled');
                $('#' + id).removeAttr('href');
            }
        }
    }

    function dataStructurePreviewGrid_onDataBound(e) {
        resetAllTelerikIconTitles();
    }

    function loadPreview(id) {
        var parametrs = '/?dataStructureId=' + id + '&structured=' + $('#' + id + '_preview').attr('structured')
        $.get('@Url.Action("_dataStructurePreviewBinding", "DataStructureSearch", new { area = "RPM"} )' + parametrs, function (data) {
            $('#' + id + '_content').html(data);
        });
    }

</script>