@model List<Tuple<string,StepStatus>>

@using Telerik.Web.Mvc.UI;
@using BExIS.Modules.Dcm.UI.Models;
@using BExIS.Dcm.UploadWizard;
@using BExIS.Dcm.Wizard;

<div id="TaskListDiv">
    <table id="taskListTable">

        @foreach (Tuple<string, StepStatus> item in Model)
    {
        <tr>
            <td>
                @item.Item1
            </td>
            <td>

                @switch (item.Item2)
                {
                    case StepStatus.success:
                        {
                @*<div class="t-icon t-insert" ></div>*@
                            break;
                        }
                    case StepStatus.inProgress:
                        {
                <div class="bx bx-previous"></div>
                            break;
                        }
                    case StepStatus.error:
                        {
                <div class="bx bx-times"></div>
                            break;
                        }
                    default:
                        {

                            break;
                        }
                }
            </td>
        </tr>
    }
    </table>
</div>

@*JavaScript*@
<script type="text/javascript">

function TaskListRefresh()
{
        $.post('@Url.Action("RefreshTaskList", "Submit", new RouteValueDictionary { { "area", "DCM" } })', function (response) {
            $("#TaskListDiv").html(response);
        })
}
</script>

@*CSS*@

<style type="text/css">

    #taskListTable tr td {
        border-style: none;
    }

    #taskListTable {
        border-style: none;
    }
</style>