@using Telerik.Web.Mvc.UI;
@using BExIS.Web.Shell.Areas.Auth.Models;

@model long

@(Html.Telerik().TabStrip()
    .Name("TabStrip_Details")
    .Items(items =>
    {
        items.Add()
            .Text("Role Info")
            .Content(@<text>
                <div id="Content_RoleInfo"></div>
            </text>)
            .Selected(true);
    
        items.Add()
            .Text("Membership")
            .Content(@<text>
                <div id="Content_Membership"></div>
            </text>);
    
        items.Add()
            .Text("Feature Permissions")
            .Content(@<text>
                <div id="Content_FeaturePermissions"></div>
            </text>);
    })
    .ClientEvents(clientEvents => clientEvents
        .OnSelect("function(e) { TabStrip_Details_OnSelect.call(this,e," + Model + "); }")
    )
)