@using BExIS.Web.Shell.Areas.Auth.Models;

@model InfoModel

@using (Html.BeginForm())
{
    <div>
        @Html.HiddenFor(m => m.WindowName)
    </div>
    
    <div align="center" style="margin-top:20px">
        @Html.DisplayFor(m => m.Message)
    </div>
    
    <p align="center">
        <button type="button" onclick="confirmWindowInfo('@Model.WindowName')">Ok</button>
    </p>
}
