@model List<BExIS.Web.Shell.Areas.DCM.Models.ListViewItem>

@using Telerik.Web.Mvc.UI;

<p>Please Select a Dataset id.</p>

@(Html.Telerik().DropDownList()
    .Name("DatasetIds_DropDownList") 
    .BindTo(new SelectList(Model,"Id","Title"))
  )  


<button id="SubmitDatasetId"> Submit</button>

<script type="text/javascript">

   

    $("#SubmitDatasetId").click(function()
    {
        var dropDownList = $('#DatasetIds_DropDownList').data('tDropDownList');
        SelectedDatasetId = dropDownList.value();
        SelectedDatasetTitle = dropDownList.text()
        //Parameters.push("DatasetId:" + SelectedDatasetId);
        Parameters.push("DatasetTitle:" + SelectedDatasetTitle);

        // send to bus
        $.post('@Url.Action("AddSelectedDatasetToBus", "Home", new RouteValueDictionary { { "area", "DCM" } })', { id: dropDownList.value() }, function (response) {
        })

        closeWindow();
    })


</script>