@{
    ViewBag.Title = "E-Mail bestätigen";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Danke für die Bestätigung Ihrer E-Mail. Bitte @Html.ActionLink("klicken Sie hier, um sich anzumelden", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
