@{
    ViewBag.Title = "Password Reset Request Submitted";
}

@section Information
{
    If an account with your email exists, we've sent instructions to reset your password. Please check your inbox (and your spam folder).
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        If an account with your email exists, we've sent instructions to reset your password. Please check your inbox (and your spam folder).
    </p>
</div>