@{
    ViewBag.Title = "Forgot Password Confirmation";
}

@section Information
{
    Just check your mails. If you are not receiving any mail from us, just try it again and/or check your junk/spam folder.
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>