@{
    ViewBag.Title = "Kennwortbestätigung vergessen";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Bitte überprüfen Sie Ihre E-Mail, um das Kennwort zurückzusetzen.
    </p>
</div>
	
