/*----------------------------------------------------------
Color Overview

White    #000000    brigth
Gray 01  #f5f5f5
Gray 02  #ebebeb
Gray 03  #afb0b1
Gray 04  #009cdf    // new 323232 dark
Black    #ffffff
Yellow   #ffbb52
Orange   #ff9700
Red      #f24c24
Green 01  #388670 dark
Green 02  #72b1a0
Green 03  #bee1da
Green 04  #d2e8e3
Green 05  #eff7f6 brigth

----------------------------------------------------------*/
body {
    background-color: #ffffff;
    font-size: 11pt;
    font-family: Arial;
    padding: 60px 0 0 0;
    color: #000000;
}

header,
footer,
nav,
section {
    display: block;
}

#region #endregion
/*SECTIONS
----------------------------------------------------------*/
leftPane, #leftPane {
    margin: 10px;
    margin-left: 15px;
}

contentPane, #contentPane {
    width: auto;
    margin: 10px;
}

leftPane, #rightPane {
    margin: 10px;
}

/* HEADINGS
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

a {
    color: #696969;
}

li {
    line-height: 1.6;
}

/* this rule styles <h2> tags that are the
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the
page width. Or, you can specify an exact pixel width. */
.page {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: grey;
    padding: 0;
}

    header h1, #header h1 {
        font-weight: bold;
        color: #555555;
        padding: 5px 0;
        margin: 0;
        border: none;
        line-height: 2em;
        font-size: 32px !important;
    }

#main {
    background: #fff;
    padding: 30px 30px 15px 30px;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

footer, #footer {
    color: gray;
    background-color: white;
    padding: 10px 0;
    text-align: center;
    vertical-align: text-top;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

    #footer td {
        vertical-align: text-top;
        width: 30%;
    }

    #footer a:link {
        color: darkgray;
        text-decoration: none;
    }

    #footer a:visited {
        color: darkgray;
        text-decoration: none;
    }

    #footer a:hover {
        color: darkorange;
        text-decoration: none;
    }

/* MENU
----------------------------------------------------------*/
#menu {
    position: relative;
    margin: 0;
    text-align: left;
}

    #menu .t-item {
        border-width: 0 0 0 1px;
    }

    #menu .t-link {
        padding: 5px 20px;
        font-weight: bold;
        text-decoration: none;
        line-height: 1.8em;
    }

/* Information
-----------------------------------------------------------*/

#information-container {
    background-color: black;
    color: white;
    top: 50px;
}

/* FORM LAYOUT ELEMENTS
----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

/* TABLE
----------------------------------------------------------*/

table {
    width: 100%;
    background-color: white;
}

    table td {
        padding: 5px;
        border-bottom: #ebebeb solid thin;
        vertical-align: middle;
        line-height: 14pt;
        text-align: left;
        float: none;
    }

    table th {
        color: black;
        margin: 3px 0 3px 0;
        padding: 0;
        text-align: left;
        border-top: solid 2px #565655;
        border-Bottom: solid 2px #565655;
        line-height: 28px;
    }

    table th, table td {
        border-right: solid 4px white;
    }

    table tr {
        border: none;
        line-height: 14pt;
    }

    table th a {
        text-decoration: none;
        font-weight: bold;
        margin-right: 5px;
    }

/* MISC
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

div#title {
    display: block;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    text-align: right;
    margin: 10px;
    color: #000;
}

    #logindisplay a:link {
        color: gray;
        text-decoration: underline;
    }

    #logindisplay a:visited {
        color: gray;
        text-decoration: underline;
    }

    #logindisplay a:hover {
        color: darkgray;
        text-decoration: none;
    }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f24c24;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label {
    margin: 1em 0 0 0;
}

.display-field,
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

    .text-box.multi-line {
        height: 6.5em;
    }

.tri-state {
    width: 6em;
}

/* Styles for help documents
----------------------------------------------------------*/
p.MsoToc2, li.MsoToc2, div.MsoToc2 {
    margin-left: 11.0pt;
}

p.MsoToc3, li.MsoToc3, div.MsoToc3 {
    margin-left: 22.0pt;
}

p.MsoTitle, li.MsoTitle, div.MsoTitle {
    margin-bottom: 15.0pt;
    font-size: 26.0pt;
    color: #17365D;
    letter-spacing: .25pt;
}

p.MsoTocHeading, li.MsoTocHeading, div.MsoTocHeading {
    margin-top: 15.0pt;
    line-height: 115%;
    font-size: larger;
    font-weight: bold;
}

.navbar {
    border: none !important;
    font-size: large;
}

.breadcrumb {
    background-color: #f8f8f8 !important;
    margin-bottom: 0px !important;
}

table.bx-table-form tr td {
    padding: 5px;
    border: 0 none;
    vertical-align: middle;
    line-height: 14pt;
    /*overflow:hidden;*/
}

#Content_Data > .t-grid > table > tbody > tr:hover {
    background-color: #eff7f6;
}

#Content_Data > .t-grid > table > tbody > tr:active,
#Content_Data > .t-grid > table > tbody > tr.t-state-selected {
    background-color: #d2e8e3;
}

.t-grid > table {
    width: 100%;
    table-layout: fixed;
}

.t-grid td,
.t-grid th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Don't print link hrefs */
@media print {
    a [href]:after {
        content: none
    }
}

.extra {
    display: none;
}