@{
    ViewBag.Title = "Data Collection";
}

@using BExIS.Dcm.UploadWizard

<h2>Add Data or Update Dataset</h2>

<p>In order to add to or update data of an existing dataset in the system, please select whether the dataset is structured or unstructured.
</p>
<br />
@Html.ActionLink("Structured Data", "UploadWizard", "Submit", new { area = "DCM", type=DataStructureType.Structured }, new { @class = "t-button", title = "Start Data Upload Wizard" })
@Html.ActionLink("Unstructured Data", "UploadWizard", "Submit", new { area = "DCM", type=DataStructureType.Unstructured }, new { @class = "t-button", title = "Start Data Upload Wizard" })
