@{
    ViewBag.Title = "Data Collection";
}



<h2>Data Collection</h2>

<p>This wizard will assist you in uploading data into the BEXIS repository.
With the currently supported workflow it is assumed that your data file is based  <br />
on an Excel template defined and downloaded earlier on from the BEXIS system. 
    In that way it is assured that the data structure of the data file and the data structure of the repository are identical.
</p>
<br />
@Html.ActionLink("Start", "UploadWizard", "Submit", new { area = "DCM" }, new { @class = "t-button", title = "Start Data Upload Wizard" })

@Html.ActionLink("XSD Scheme Read Test", "XsdRead", "Submit", new { area = "DCM" }, new { @class = "t-button" })

@Html.ActionLink("create Metadata Structure", "Create", "Submit", new { area = "DCM" }, new { @class="t-button"})

@Html.ActionLink("Link to create a dataset", "Index", "Create", new { area = "DCM" }, new { @class = "t-button" })