@model string
<style type="text/css">
    .help img {
        width:100%;
        height:auto;
    }
</style>

<div class="row help">
    <div class="col-xs-6 col-xs-offset-3">
        @Html.Raw(Model)
    </div>
</div>