@{
    ViewBag.Title = "Error";
}

@section Information
{
    <p>In the case of any problems with authorization, please contact with your administrator.</p>
}


<h1>Access denied!</h1>

<h2>Reason: You are not authorized.</h2>