<div style="text-align: center;">
    <a href="http://fusion.cs.uni-jena.de/bexis">
        <img src="~/Content/Images/Logo_BEXIS_cmyk.svg" width="300px" />
    </a>
</div>
<div style="text-align: center; margin-top: 24pt">
    <button class="t-button function" onclick="LogOn()">Log In</button>
    <button class="t-button function" onclick="Register()">Register</button>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.get('@Url.Action("RenderRazorViewToString", "Account", new { area = "SAM" })', function (data) {

            $('#Content_LogOn').html(data);

            var window = $('#Window_LogOn').data('tWindow');
            window.center().open();
        });
    });
</script>