@using System.Web.Optimization
@using BExIS.Utils.WebHelpers
@using Microsoft.AspNet.Identity
@using Telerik.Web.Mvc.UI;
@using Vaiona.Web.Mvc;

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    @Html.Favicon(Html.GetTenant().FavIconPath)

    @Styles.Render("~/bundles/svelte_general_bexis")



</head>

<body data-theme="bexis2theme">
 
     @RenderBody()
   
</body>
</html>
