<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" />
  <package id="DataAnnotationsExtensions" version="1.1.0.0" targetFramework="net40" />
  <package id="DataAnnotationsExtensions.MVC3" version="1.1.0.0" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net40" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net40" />
  <package id="TelerikMvcExtensions" version="2012.3.1018" targetFramework="net40" />
  <package id="Unity" version="2.1.505.2" targetFramework="net40" />
  <package id="WebActivator" version="1.2.0.0" targetFramework="net40" />
</packages>