<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>

  <appSettings file="../Workspace/General/Configurations/Credentials.config">
    <add key="WorkspacePath" value="C:\inetpub\wwwroot\BPP213v2\Workspace" />
    <add key="DataPath" value="C:\inetpub\wwwroot\BPP213v2\Data" />
  </appSettings>
</configuration>