<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="telerik">
      <section name="webAssets" type="Telerik.Web.Mvc.Configuration.WebAssetConfigurationSection, Telerik.Web.Mvc" requirePermission="false" />
    </sectionGroup>
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
  </configSections>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="Server=bexis.inf-bb.uni-jena.de;Database=R22SESA;User ID=db2admin;Password=.++.db.2;Connection Lifetime=600;Connection Reset=true;Pooling=true;Min Pool Size=1;Max Pool Size=100;Persist Security Info=True" />-->
    <!--<add name="ApplicationServices" connectionString="Server=127.0.0.1;Database=BEXIS2;User ID=db2admin;Password=1;Connection Lifetime=600;Connection Reset=true;Pooling=true;Min Pool Size=1;Max Pool Size=100;Persist Security Info=True" />-->
    <add name="ApplicationServices" connectionString="Server=127.0.0.1;Port=5432;Database=BExIS;Userid=postgres;Password=1;Protocol=3;Pooling=true;MinPoolSize=1;MaxPoolSize=100;ConnectionLifeTime=300;" />
    
  </connectionStrings>
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
  <!-- If you are having issues with Glimpse, please include this. It will help us figure out what's going on. 
      <logging level="Trace" />--><!-- Want to use Glimpse on a remote server? Ignore the LocalPolicy by removing this comment.
      <runtimePolicies>
        <ignoredTypes>
          <add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet"/>
        </ignoredTypes>
      </runtimePolicies>-->
  </glimpse>
  <appSettings>
    <add key="ClientValidationEnabled" value="False" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UseSchemaInDatabaseGeneration" value="False" />
    <add key="ThrowErrorWhenParialContentNotFound" value="False" />

    <!-- Keep it as false, there are some test data in the database-->
    <add key="CreateDatabase" value="False" />    
    <add key="DatabaseDialect" value="PostgreSQL82Dialect" /> <!--PostgreSQL82Dialect, DB2Dialect-->
    <add key="AutoCommitTransactions" value="False" />
    
    <add key="IoCProviderTypeInfo" value="Vaiona.IoC.Unity.UnityIoC, Vaiona.IoC" />
    <add key="WorkspacePath" value="" /> <!--an absolute path like: D:\bpp\Tech\ModuleBranches\C_DLM\Workspace, a relative path like: ..\..\ or empty. the default is empty and it point to the place of automatically generated workspace for debug mode which is 2 levels upper then web.config containing folder.-->
    <add key="DataPath" value="C:\Data" />
    <add key="DefaultCulture" value="en-US" />
    <add key="ThemesPath" value="~/Themes/" />
    <add key="DefaultThemeName" value="Default" />
    <add key="ActiveLayoutName" value="_Layout" />
    <add key="loginUrl" value="Auth/Account/LogOn" />
    
    <add key="nhibernate-logger" value="NHibernate.Glimpse.LoggerFactory, NHibernate.Glimpse" />
    <add key="NHibernate.Glimpse.Loggers" value="command,connection,flush,load,transaction" />
  </appSettings>
  <system.web>
    <globalization uiCulture="en-US" culture="en-US" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Auth/Account/LogOn" timeout="2880" />
      <!--MVC does not use this settings, instead it uses a loginUrl key in the appSettings!!? -->
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <!--<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />-->
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <!--<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />-->
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Telerik.Web.Mvc.UI" />
      </namespaces>
    </pages>

    <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> --><httpModules>
      <!--<remove name="SessionPerRequestModule" />-->
      <!--<add name="SessionPerRequestModule" type="Vaiona.Web.HttpModules.SessionPerRequestModule, Vaiona.Web" />-->
      <!--required for IIS at the host-->
    <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" /></httpModules>
    
    <httpHandlers>
      <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" /></httpHandlers>

    <!--<httpRuntime maxRequestLength="40240" executionTimeout="240" />-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <!--<remove name="SessionPerRequestModule" />
      <add name="SessionPerRequestModule" type="Vaiona.Web.HttpModules.SessionPerRequestModule, Vaiona.Web" preCondition="managedHandler" />-->
    <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" /></modules>
    <handlers>
      <remove name="asset" />
      <add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="3a9cab8f8d22bfb7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.42154" newVersion="3.1.3.42154" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.3001" newVersion="3.3.1.4000" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
  <telerik>
    <webAssets useTelerikContentDeliveryNetwork="false" />
  </telerik>
</configuration>