@using Telerik.Web.Mvc.UI;
@using System.Data;
@using BExIS.Dlm.Entities.DataStructure;
@using BExIS.Modules.Dim.UI.Helpers;

@model BExIS.Modules.Dim.UI.Models.Export.SimpleDataStructureModel

@if (Model.Data != null)
{

<h3>@Model.Name (@Model.Id)</h3>

<table>
    <thead>
        <tr>
            @foreach (DataColumn dc in Model.Data.Columns)
            {
            <th> @dc.ColumnName </th>
            }
        </tr>
    </thead>

    @foreach (DataRow row in Model.Data.Rows)
    {
    <tr>
        @foreach (var item in row.ItemArray)
            {

        <td>
            @item
        </td>
            }
    </tr>
    }
</table>

}

<style>
    /*----------------------------------------------------------
    Color Overview

    White    #000000    brigth
    Gray 01  #f5f5f5
    Gray 02  #ebebeb
    Gray 03  #afb0b1
    Gray 04  #009cdf    // new 323232 dark
    Black    #ffffff
    Yellow   #ffbb52
    Orange   #ff9700
    Red      #f24c24
    Green 01  #388670 dark
    Green 02  #72b1a0
    Green 03  #bee1da
    Green 04  #d2e8e3
    Green 05  #eff7f6 brigth

    ----------------------------------------------------------*/
    body {
        background-color: #ffffff;
        font-size: 11pt;
        font-family: Arial;
        padding: 50px 0 0 0;
        color: #000000;
    }

    /* HEADINGS
    ----------------------------------------------------------*/
    h1, h2, h3, h4, h5, h6 {
        font-size: 1.5em;
        color: #000;
    }

    h1 {
        font-size: 2em;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    h2 {
        padding: 0 0 10px 0;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1.1em;
    }

    h5, h6 {
        font-size: 1em;
    }

    a {
        color: #696969;
    }

    li {
        line-height: 1.6;
    }

    /* TABLE
    ----------------------------------------------------------*/

    table {
        width: 100%;
        background-color: white;
    }

        table td {
            padding: 5px;
            border-bottom: #ebebeb solid thin;
            vertical-align: middle;
            line-height: 14pt;
            text-align: left;
            float: none;
        }

        table th {
            color: black;
            margin: 3px 0 3px 0;
            padding: 0;
            text-align: left;
            border-top: solid 2px #565655;
            border-Bottom: solid 2px #565655;
            line-height: 28px;
        }

        table th, table td {
            border-right: solid 4px white;
        }

        table tr {
            border: none;
            line-height: 14pt;
        }

        table th a {
            text-decoration: none;
            font-weight: bold;
            margin-right: 5px;
        }

        table.bx-table-form tr td {
            padding: 5px;
            border: 0 none;
            vertical-align: middle;
            line-height: 14pt;
            /*overflow:hidden;*/
        }

    #Content_Data > .t-grid > table > tbody > tr:hover {
        background-color: #eff7f6;
    }

    #Content_Data > .t-grid > table > tbody > tr:active,
    #Content_Data > .t-grid > table > tbody > tr.t-state-selected {
        background-color: #d2e8e3;
    }

    .t-grid > table {
        width: 100%;
        table-layout: fixed;
    }

    .t-grid td,
    .t-grid th {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>