@using BExIS.Modules.Rpm.UI.Models
@model List<ItemStruct>

<select id="select" class="bx-dropdown bx-rpm-dropdown" name="select">
    @foreach(ItemStruct i in Model)
    {
        <option value="@i.Id" title="@i.Description">@i.Name</option>
    }
</select>
<span class="t-arrow-down bx-rpm-dropdownArrow" />
<div id="description" class="bx-rpm-itemdescription"></div>
