@model BExIS.Web.Shell.Areas.RPM.Models.DomainConstraintItemModel

@using BExIS.Web.Shell.Areas.RPM.Helpers


@using (Html.BeginCollectionItem("DomainItems"))
{ 
    <div class="bx-rpm-domainItem bx-rpm-container bx-rpm-domain">
        <table class="bx-rpm-container domain">
            <tr>
                <td>
                    @Html.LabelFor(m=>m.Key):
                </td>
                <td>
                    @Html.TextBoxFor(m=>m.Key, new { @class = "bx-rpm-smallinput" })
                </td>
                <td>
                    @Html.LabelFor(m=>m.Value):
                </td>
                <td>
                    @Html.TextBoxFor(m=>m.Value, new { @class = "bx-rpm-midinput" })
                </td>
                <td>
                    <a href="#" class="bx-rpm-removeDomainItem t-icon t-delete" >delete</a>
                </td>
            </tr>
        </table>
        
    </div>
}
