@using Vaiona.Web.Mvc;
@using BExIS.Web.Shell.Areas.DDM.Controllers;
@{
    ViewBag.Title = "BExIS Home Page";
}

<p>
    <br />

    @if(Request.IsAuthenticated) 
    {
        <p>
            This table contains all datasets, created by you as a current logged on user. <br />
            By right clicking on the header, you can manage the visibility of columns.
            You can also use filtering or grouping to see the more operative informations.
        </p>
        <br />
        @Html.RenderAuto("HomePage")
    }
    else 
    {
        <p>
            <b>You are not logged in.</b><br /> 
            Please log in to the system and continue.
        </p>            
    }
</p>


@*@section LeftPane
{
}
@section RightPane
{
}*@