@using System.Web.UI.WebControls
@using Vaiona.Web.Mvc;
@using BExIS.Web.Shell.Areas.DDM.Controllers;

@section Information
{    
    @if (Request.IsAuthenticated)
    {
        <text>
            This table contains all datasets created by you as a current logged on user.<br/>
            By right clicking on the header, you can manage the visibility of
            columns. You can also use sorting and filtering to adjust the listing.
        </text>
    }
    else
    {
        <p>Welcome to the BExIS 2.9.0</p>
        <p>If you have any problems installing or using it please do not hesitate contacting us at: bexis-support@uni-jena.de</p>
        <p>This is a community driven open source project so we are looking forward to any feedback or inquiry about new features.</p>
    }

}

@if (Request.IsAuthenticated)
{
    @Html.RenderAuto("HomePage")
}
else
{
    <div style="text-align: center;">
        <a href="http://fusion.cs.uni-jena.de/bexis">
            <img src="~/Content/Images/Logo_BEXIS_cmyk.svg" width="300px" />
        </a>
    </div>
    <div style="text-align: center; margin-top: 24pt">
        <button class="t-button function" onclick="LogOn()">Log In</button>
        <button class="t-button function" onclick="Register()">Register</button>
    </div>
}