@using System.Web.UI.WebControls
@using Vaiona.Web.Mvc;
@using BExIS.Utils.WebHelpers
@using Vaiona.Web.Mvc.Modularity;

@section Information
{
    <p>If you have any problems installing or using it please do not hesitate contacting us at: bexis-support@uni-jena.de</p>
    <p>This is a community driven open source project so we are looking forward to any feedback or inquiry about new features.</p>
}

<div style="text-align: center;">
    @Html.Logo(Html.GetTenant().GetResourcePath("BigLogo"))
</div>
<div style="text-align: center; margin-top: 24pt">

    @Html.ActionLink("Register", "Register", "Account", new { area = "" }, htmlAttributes: new { @class = "t-button function", id = "registerLink" })
    @Html.ActionLink("Login", "Login", "Account", new { area = "" }, htmlAttributes: new { @class = "t-button function", id = "loginLink" })
    @Html.ActionLink("Continue without Login", "Index", "Home", new { area = "DDM" }, htmlAttributes: new { @class = "t-button action", id = "search" })

    <div id="info">
        <p><b>On ATTO</b><p>
        <p>The <a target="_blank" href="http://www.attoproject.org">Amazon Tall Tower Observatory (ATTO)</a> is a joint German-Brazilian project launched in 2009. ATTO is with its tall tower, the associated research infrastructure and scientific plots a unique interdisciplinary scientific platform in a region of global significance. Its core objective is to obtain a detailed understanding of the biogeochemical cycles and energy fluxes at the geo-, bio-, atmosphere interface in the Amazon, and to integrate this knowledge into diverse climate and Earth system models to improve our prognostic abilities regarding climatic and ecological processes as well as our understanding of the various effects of global climate change.</p>
        <p>The ATTO Data Portal is a data management platform, built for storing, sharing, exchanging and publishing data of the ATTO research consortium scientists.</p>
        <br />
        <p><b>Data accessibility</b><p>
        <p>The metadata of the datasets stored in this portal are freely accessible to everyone and can be explored by clicking on the button “Continue without Login”. Datasets which are published and do have a persistent identifier (DOI or similar) are publically available as well. To access datasets which are not public available, you need to be a registered user and request the datasets.</p>
        <br />
        <p><b>Registration</b><p>
        <p>
            For registration:<span>
                <ol>
                    <li>Click on the “Register” button above and follow the indicated procedure.</li>
                    <li>Send an e-mail to <a href="mailto:attodbm@bgc-jena.mpg.de"><span> attodbm[at]bgc-jena.mpg.de</span></a> briefly indicating your intended use of the datasets</li>
                </ol>
        <p>Please note that the validation and approval of a registration may require up to several working days.</p>
        <p>The registration does not make you a member of ATTO – it is intended to ensure that the ATTO Data Policy is known to and accepted by all ATTO data users. Registered users will receive notifications about updates and corrections of the datasets they have downloaded.</p>
        <p>Details regarding the use and functions of the ATTO Data Portal can be found under the link “Help” above. If you have any further questions and suggestion, please contact us.</p>

    </div>
    <style type="text/css">

        #info {
            text-align: justify;
            padding-top: 40px;
            width: 600px;
            margin: 0 auto;
        }
    </style>
</div>