@using System.Web.UI.WebControls
@using Vaiona.Web.Mvc;
@using BExIS.Utils.WebHelpers
@using Vaiona.Web.Mvc.Modularity;

@section Information
{
    <p>If you have any problems installing or using it please do not hesitate to contact us at: bexis2-support@uni-jena.de</p>
    <p>This is a community-driven open-source project, so we are looking forward to any feedback or inquiry about new features.</p>
}

<div style="text-align: center;">
    @Html.Logo(Html.GetTenant().GetResourcePath("BigLogo"))
</div>
<div style="text-align: center; margin-top: 24pt">

    @Html.ActionLink("Register", "Register", "Account", new { area = "" }, htmlAttributes: new { @class = "t-button function", id = "registerLink" })
    @Html.ActionLink("Login", "Login", "Account", new { area = "" }, htmlAttributes: new { @class = "t-button function", id = "loginLink" })
</div>
