@using Vaiona.Web.Mvc;
@using BExIS.Web.Shell.Areas.DDM.Controllers;
@{
    ViewBag.Title = "BExIS++ Home Page";
}

<p>
    <br />

    @if(Request.IsAuthenticated) 
    {
        <p>    This page is not in its final state. 
        <br /> It is an experimental feature to provide the datasets owned by the current logged in user.</p>
        <br />
        @Html.RenderAuto("HomePage")
    }
    else 
    {
        
        <p>
            <b>    You are not log in.</b>
            <br /> Please log in to the system and continue.
        </p>            
    }
</p>


@*@section LeftPane
{
}
@section RightPane
{
}*@