@using System.Web.UI.WebControls
@using Vaiona.Web.Mvc;
@using BExIS.Utils.WebHelpers
@using Vaiona.Web.Mvc.Modularity;

@section Information
{
    <p></p>
}

<div style="text-align: center;">
    <h2>Successfully logged in.</h2>
</div>
<div style="text-align: center; margin-top: 24pt">
    <p>If you just registered please wait until you are contacted that your account has been activated (assigned permissions).</p>
</div>