@{
    ViewBag.Title = "Session Timeout";
}

@section Information
{

    In the case of Timeout, you need to log in again.

}

@*<h2>Session Timeout</h2>*@

Your session timed out, because you were idle for more than 30 minutes.