@model BExIS.Web.Shell.Models.ReadVersionsModel

@{
    ViewBag.Title = "Version";
}

<h2>Version</h2>

<b>Site:</b> @Html.DisplayFor(m => m.Site) </br>
<b>Database:</b> @Html.DisplayFor(m => m.Database)
<br />
<b>Workspace:</b> @Html.DisplayFor(m => m.Workspace)
<br />