@using Telerik.Web.Mvc.UI;
@using BExIS.Web.Shell.Areas.Auth.Models;

@model UserChangePasswordModel

@using (Ajax.BeginForm("ChangePassword", "Users", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "Content_ChangePassword", OnSuccess = "Content_ChangePassword_OnSuccess()" }))
{   
    @Html.HiddenFor(m => m.Id)
    @Html.PasswordFor(m => m.Password)
    @Html.ValidationMessageFor(m => m.Password)

    <button type="submit">Save</button>
    <button type="button" onclick="Content_ChangePassword_Cancel(@Model.Id)">Cancel</button>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#Content_ChangePassword");
    });
</script>