@using Telerik.Web.Mvc.UI;
@using BExIS.Web.Shell.Areas.Auth.Models;

@model long

<div id="tabs">
        
    <ul>
        <li><a href="#tabs-1">Details</a></li>
        <li><a href="#tabs-2">Membership</a></li>
    </ul>

    <div id="tabs-1">
        @Html.Action("Show", "Users", new { Id = Model })
    </div>

    <div id="tabs-2">
        @Html.Action("Membership", "Users", new { Id = Model })
    </div>

</div>

<script type="text/javascript">
    $("#tabs").tabs();
</script>