@using BExIS.Web.Shell.Areas.Auth.Models;

@{
    ViewBag.Title = "Users";
}

@model List<UserGridRowModel>

<style>
    .t-window-content
    {
       height: auto !important;
       width: auto !important;
    }

    #Grid_Users .t-grid-content
    {
       height: auto !important;
       max-height: 495px !important;
    }

    #Grid_UserMembership .t-grid-content
    {
       height: auto !important;
       max-height: 450px !important;
    }
</style>

<h2>
    Users
</h2>

<p style="max-width:800px">
    With this interface you are able to add, edit, or delete individual users. Please note that any change will take effect immediately without any further confirmation or save/submit action.
</p>

@Html.Partial("_UsersPartial", Model)