/*
White    #000000
Gray 01  #f5f5f5
Gray 02  #ebebeb
Gray 03  #afb0b1
Gray 04  #009cdf _> 323232
Black    #ffffff
Yellow   #ffbb52
Orange   #ff9700
Red      #f24c24
Green 01  #388670
Green 02  #72b1a0
Green 03  #bee1da
Green 04  #d2e8e3
Green 05  #eff7f6
*/
#root table,
#root td {
    border:none;
    background:none;
}

#MetadataEditor
{
    background-color:white;
}

.header
{
    padding:5px;
    /*border-top:2px solid #afb0b1;*/
    height:auto;
}

.metadata-first
{
    border-top:2px solid #afb0b1;
}

.metadata-last
{
    border-bottom:2px solid #afb0b1;
}

.labelContainer
{
    line-height: 30px;
    text-align:left;
    cursor:pointer;
}

.contentContainer
{
    padding-bottom:0px;
}

.optionContainer
{
    float:right;
    margin-top:-28px;
}
.optionContainer table,
.optionContainer td
{
    border:none;
}

.optionContainer td,
.metadataAttributeOption td,
#attributeOptionTable td
{
    width:30px;
    padding:0;
}

#attributeOptionTable
{
    width:auto;
}

.simpleParametersContainer {
    padding: 10px;
    background-color: var(--bg-color-level-5)
}

.simpleParametersContainer {
    padding: 10px 10px 20px 10px;
    border-bottom: var(--bg-color-level-2) 1px solid;
}


.simpleAttributesContainer
{
    text-align:center;
    /*border:ridge 1px blue;*/
    margin-bottom: 0px;
}

.metadataAttributeLabel
{
    text-align:right;
    
}

.bx-parameter-label, .bx- parameter-description {
    text-align: left;
    font-size: smaller;
}

.bx-metadataFormTextInput {
    width: 100%;
    max-width: 490px;
    border: var(--border-width-field) solid var(--border-color-field);
}

.bx-metadata-form-input-small {
    font-size: smaller;
    border: var(--border-width-field) solid var(--border-color-field);
}


.bx-metadataForm-textArea-display {
    border: var(--border-width-field) solid var(--border-color-field);
    background-color: #f5f5f5;
    color: #565655;
    width: 490px;
    max-width: 490px;
    padding: 5px 4px;
    white-space: pre-line;
    overflow-wrap: break-word;
}

.metadataAttributeInput
{
    width: 500px;
    /*border:ridge 1px yellow;*/
}

.bx-paremeter-input {
    width: auto;
    min-width: 50%;
    max-width: 90%;
    padding-right: 10px;
    float: left;
    /*border:ridge 1px yellow;*/
}

input:disabled, .bx-input.bx-disabled-parameter {

    padding-top: 5px;
}


.metadataAttributeInput .bx-dropdown
{
    width:100%;
}

.metadataAttributeOption
{
     width:30%;
     text-align:left;
}

.metadataCompountAttributeUsage
{
    margin:0 0 0px 0px;
}


.metadataAttributeContent
{
    /*border:dotted 1px green;*/
    margin:0px;
}


.metadata-activate-checkbox {
    margin-top: 6px;  margin-left: 10px;
    font-size: 16px;
}

.metadata-choice-container {
    margin-top: 6px; 
}


/**DISABLED*/
input:disabled, textarea:disabled, .bx-input.bx-disabled, .bx-textarea.bx-disabled, .t-autocomplete.bx-disabled {
    border-color: #afb0b1;
}



/**Level**/
.Metadata-Level-1 {
    border-left: var(--bg-color-metadata-level-1) 10px solid;
    border-bottom: var(--bg-color-metadata-level-1) 4px solid;
}

.Metadata-Level-Header-1 {
    color: black;
    background-color: var(--bg-color-metadata-level-1);
}

/*72b1a0*/
.Metadata-Level-3 {
    border-left: var(--bg-color-metadata-level-3) 10px solid;
    border-bottom: var(--bg-color-metadata-level-3) 4px solid;
    /*background-color: #72b1a0;*/
    /*border-top:2px solid white;*/
}

.Metadata-Level-Header-3 {
    /*color: white;*/
    background-color: var(--bg-color-metadata-level-3);
}

.Metadata-Level-5 {
    border-left: var(--bg-color-metadata-level-5) 10px solid;
    border-bottom: var(--bg-color-metadata-level-5) 4px solid;
    /*background-color: #bee1da;*/
    /*border-top:2px solid white;*/
}

.Metadata-Level-Header-5 {
    /*color: white;*/
    background-color: var(--bg-color-metadata-level-5);
}

.Metadata-Level-7 {
    border-left: var(--bg-color-metadata-level-7) 10px solid;
    border-bottom: var(--bg-color-metadata-level-7) 4px solid;
    /*background-color: #d2e8e3;*/
    /*border-top:2px solid white;*/
}

.Metadata-Level-Header-7 {
    /*color: white;*/
    background-color: var(--bg-color-metadata-level-7);
}

.Metadata-Level-9 {
    border-left: var(--bg-color-metadata-level-9) 10px solid;
    border-bottom: var(--bg-color-metadata-level-9) 4px solid;
}

.Metadata-Level-Header-9 {
    /*color: white;*/
    background-color: var(--bg-color-metadata-level-9);
}


/***Preloader*/
#root .preloader {
    text-align: center;
    vertical-align: middle;
}


.bx-info {
    cursor:help !important;
}



/****HELP*****/
#help_container {
    position: relative
}

#help_nested {
    position: absolute;
    top: -4px;
    left: -2px;
    font-size: 200%;
    color: rgba(158, 158, 158, 0.5);
}

#show_help_all, #hide_help_all {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    cursor: help !important;
}

#hide_help_all {
    display: none;
}

#show_help_all .fa-info, #hide_help_all .fa-ban {
    cursor: pointer !important;
}
