@{
    ViewBag.Title = "Test";
    Layout = "~/Themes/Default/Layouts/_svelteLayout.cshtml";

    long id = 0;
    long version = 0;

    if (ViewData["id"] != null) { id = Convert.ToInt64(ViewData["id"]); }

}

<div id="test" dataset="@id">
    @Html.Partial("_sveltePage")
</div>