@{
    ViewBag.Title = "Edit";
    Layout = "~/Themes/Default/Layouts/_svelteLayout.cshtml";

}

<link href="~/Areas/DCM/BExIS.Modules.DCM.UI/Scripts/svelte/create.css" rel="stylesheet">

@section scripts
{
    <script src="~/Areas/DCM/BExIS.Modules.DCM.UI/Scripts/svelte/create.js"></script>

}


<div id="create" > </div>