@section LeftPane
{
    @Html.Partial("_Entities")
}
<div id="content_requests_and_decisions"></div>

@section Scripts
{
    <script src="//cdnjs.cloudflare.com/ajax/libs/luxon/1.27.0/luxon.min.js" type="text/javascript"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.25/sorting/datetime-luxon.js" type="text/javascript"></script>
    <script type="text/javascript">

    $("#treeView_entities li div").click(function (e){
        $(e.target).find(".t-in").trigger("click");
    });

    function getTreeView() {
        return $('#treeView_entities').data('tTreeView');
    }

    function treeView_entities_onSelect(e) {
        var entityId = getTreeView().getItemValue(e.item);
        var prevSelectedDiv = $(".bx-selected");
        if (prevSelectedDiv.length > 0) $(prevSelectedDiv).removeClass("bx-selected");

        var selectedDiv = $(e.item).find("div")[0];
        $(selectedDiv).addClass("bx-selected");

        $('#content_requests_and_decisions').empty();

        $.get('@Url.Action("Decisions", "RequestsAdmin")',
            { EntityId: entityId , Status: "Open"},
            function (contentData) {

                $('#content_requests_and_decisions').html(contentData);

                truncateTitle();
            });
    }
    </script>
}