@model String
@using BExIS.Modules.Ddm.UI.Helpers;
@using BExIS.Utils.Models;

@{
    List<SearchMetadataNode> metadataNodes = new List<SearchMetadataNode>();
    if (Session["metadatNodes"]!=null)
    {
        metadataNodes = (List<SearchMetadataNode>)Session["metadatNodes"];
    }

 }
<div class="metadataNode row">
@using (Html.BeginCollectionItem("metadataNames"))
{
    <div class="col-lg-10 vcenter">
         @Html.DropDownListFor(m => m, new SelectList(metadataNodes.OrderBy(s=>s.DisplayNameLong), "XPath", "DisplayNameLong", Model), "Please select", new { title="Corresponding metadata node to be used for the Lucene index."})
    </div>
    <div class="col-lg-1 text-left vcenter">
         <a href="#" class="removeMetadataNode bx-trash bx-function" ></a>
    </div>
    @*@Html.TextBoxFor(m => m);*@

}
</div>
<style type="text/css">

    .metadataNode select
    {
        width:100%;
    }

    .metadataNode
    {
        width:95%;
        margin:0;
    }
</style>