<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net48" />
  <package id="DataAnnotationsValidator" version="2.2.0" targetFramework="net48" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net48" />
  <package id="Lucifron.ReST.Library" version="1.0.0.11" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="8.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="NameParserSharp" version="1.5.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NHibernate" version="5.3.10" targetFramework="net48" />
  <package id="NUnit" version="3.14.0" targetFramework="net48" />
  <package id="NUnit.ConsoleRunner" version="3.15.4" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="4.5.0" targetFramework="net48" />
  <package id="NUnitTestAdapter" version="2.3.0" targetFramework="net48" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net48" />
  <package id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net48" />
  <package id="RestSharp" version="106.15.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>