@using Vaiona.Web.Mvc;

@section Information
{
   ATTO Data Policy.
}

<p style="color:red;">
    <b>NOTE:</b> This is just a sample! 
    ATTO Data Policy.
</p>
<br/>
<p><b><span>ATTO .... </span></b></p>

<p class=MsoNormal>Last update: 24.05.2016</p>

<p class=MsoNormal><b>&nbsp;</b></p>

<p class=MsoNormal>
    These Terms of Use, along with our Privacy Policy govern your use of the application offered by BEXIS 2.
<p class=MsoNormal>&nbsp;</p>
    <b>Please review these Terms carefully before using BEXIS 2 because they affect your rights.  By using BEXIS 2, you accept these Terms and agree to be legally bound by them.</b>


