@model BExIS.Web.Shell.Models.ReadJwtModel

@{
    ViewBag.Title = "Token";
}

<div class="col-md-6" style="word-wrap: break-word">
    @Html.LabelFor(m => m.Jwt)
    @Html.DisplayFor(m => m.Jwt)
</div>