@{
    ViewBag.Title = "Edit Structure";
    Layout = "~/Themes/Default/Layouts/_svelteLayout.cshtml";

}

@{

    long structureId = 0;
    string dataExist = "false";

    if (ViewData["structureId"] != null) { structureId = Convert.ToInt64(ViewData["structureId"]); }
    if (ViewData["dataExist"] != null) { dataExist = ViewData["dataExist"].ToString(); }
}

<div id="datastructure" structure="@structureId" dataExist="@dataExist">
    @Html.Partial("_sveltePage")
</div>