@model BExIS.Web.Shell.Areas.Site.Models.ImpressumModel
@using Vaiona.Web.Mvc;
@using BExIS.Web.Shell.Areas.Site.Models;

@{
    //ViewBag.Title = "Impressum";
    HtmlString content = new HtmlString(Model.content);
}
@section Information
{
    An impressum is the term given to a legally mandated statement of the ownership and authorship of a document, which must be included in books, newspapers, magazines and websites published in Germany and certain other German-speaking countries, such as Austria and Switzerland.
    <p>
        More information in
        <a href="https://en.wikipedia.org/wiki/Impressum">Wikipedia</a>
    </p>
}

@content


