<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <httpRuntime targetFramework="4.5.2" />
  
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="BExIS.Dim.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </assemblies>
    </compilation>
  </system.web>

</configuration>
