@using Telerik.Web.Mvc.UI
@using Vaiona.Web.Mvc.Modularity
@using Newtonsoft.Json
@using System.Collections.Generic

@model BExIS.Modules.Dim.UI.Models.CreateDataCiteDoiModel

<p>Hier kommt der Text</p>

@using (Ajax.BeginForm("Create", "DataCiteDoi", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "content_createDataCiteDoi", OnSuccess = "createDataCiteDoi_onSuccess" }))
{
    @Html.HiddenFor(m => m.DatasetId, new { Value = Model.DatasetId })
    @Html.HiddenFor(m => m.DatasetVersionId, new { Value = Model.DatasetVersionId })

    <div>
        @Html.DisplayFor(m => m.JSON)
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts
{

    @*<script>

        $(function () {
            // no need for re-subscribing "add mode discounts" button click event for newly added orderitems
            $('#collectionItems').on({
                click: addAffiliation
            }, '.add.affiliation');
        });

        $('#btnAddMore').click(function () {
            $.ajax({
                url: '/DIM/DataCiteDoi/AddCreator',
                success: function (html) {
                    $('#collectionItems').append(html);
                }
            });
        });

        var addAffiliation = function () {
            var addButton = $(this);
            $.get({
                url: '/DIM/DataCiteDoi/AddAffiliation',
                data: { 'containerPrefix': addButton.data("container-prefix") },
                success: function (html) {

                    addButton.siblings('.affiliation-list').append(html);
                }
            });
        };

    </script>*@
}