/*place global styles here */
html,
body {
	@apply h-full;
}

h1 {
	@apply text-primary-500;
}

:root {
	--background: rgb(var(--color-surface-200));
}

[type='text']:focus {
	--tw-ring-color: #00000;
}
