@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* (all other styles here...) */

/*place global styles here */
html,
body {
	@apply h-full;
}

h1 {
	@apply text-primary-500;
}
