@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* (all other styles here...) */

/*place global styles here */
html,
body {
	@apply h-full bg-white text-sm leading-tight;
}

h1 {
	@apply text-primary-500;
}

[type='text']:focus {
	--tw-ring-color: #00000;
}

input {
	@apply pb-1 pt-1
}
