
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

@Html.ValidationSummary(true);


<p>The search index may not exist, please update the index and try again!</p>


@Html.ActionLink("Search Manager", "SearchDesigner", "admin")

