@using Vaiona.Web.Mvc;

@section Information
{
    You agreed to these terms and conditions when you first registered.
}

<br />
<p><b><span>ATTO Data Portal Terms and Conditions</span></b></p>

<p class=MsoNormal>Last update: 09.07.2018</p>

<p class=MsoNormal><b>&nbsp;</b></p>

<p class=MsoNormal>
    These Terms of Use, along with our Privacy Policy govern your use of the application offered by BEXIS 2 and the ATTO Consortium.
<p class=MsoNormal>&nbsp;</p>
<b>Please review these Terms carefully before using the ATTO Data Portal because they affect your rights.  By using the ATTO Data Portal, you accept these Terms and agree to be legally bound by them.</b>

<p class=MsoNormal>&nbsp;</p>
<p class=MsoNormal>
    <b>Changes</b>
</p>
<p class=MsoNormal>
    These Terms are effective as of the Effective Date above.  If you have not reviewed the Terms of Use applicable to a Service since the Effective Date, please review these updated Terms carefully before using any Service.
</p>

<p class=MsoNormal>&nbsp;</p>
<p class=MsoNormal>
    <b>Privacy Policy</b>
</p>
<p class=MsoNormal>
    Our <a href="@Url.Action("policy", "footer", new { area = "" }, null)">Privacy Policy</a> describes our practices concerning data that you provide or that we may collect about you through the Services, and you consent to the use of your data in compliance with the Privacy Policy.
</p>

<p class=MsoNormal>&nbsp;</p>
<p class=MsoNormal>
    <b>Registration and Access Controls</b>
</p>
<p class=MsoNormal>
    If we request registration information from you to set up a user account, you must provide us with accurate and complete information and must update the information when it changes.
</p>
<p class=MsoNormal>
    You are responsible for maintaining the confidentiality of your user account login names and passwords.  You accept responsibility for all activities and damages that occur under your account, including use of your account by other members of your household, and unauthorized use of your account.
    If you have reason to believe that someone is using your account without your permission, you should contact the adminiatrator immediately.
    We are not responsible for any loss or damage resulting.
</p>

<p class=MsoNormal>&nbsp;</p>
<p class=MsoNormal>
    <b>User Submissions</b>
</p>
<p class=MsoNormal>
    The ATTO Consortium respect your ownership of your data. You can give grant, read, write, delete or update permission to other users or groups.
    Please note that if you or any other user delete your data:
    <li>
        In the case of deleted dataset, data may still exist in the backup, which is not publicly available.
    </li>
    <li>
        In the case of purge, data can not be restored.
    </li>
</p>
<p class=MsoNormal>
    Except as provided in the Privacy Policy, we do not guarantee that your data will be private, even if the Upload Data is in a password-protected area.
</p>
