@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Gesperrt";
}

<hgroup>
    <h1 class="text-danger">Gesperrt</h1>
    <h2 class="text-danger">Dieses Konto wurde gesperrt. Bitte versuchen Sie es später erneut.</h2>
</hgroup>
