@using Vaiona.Web.Mvc
@model Vaiona.Web.Models.XsltViewModel

@{
    ViewBag.Title = "Xml Edit";
}

<h2>Xml Edit</h2>

<div class="xmlResult">
    @Html.RenderXslt(Model.XsltPath, Model.XmlPath, Model.Params)
</div>