@using Vaiona.Web.Mvc
@model Vaiona.Web.Models.XsltViewModel

@{
    ViewBag.Title = "Xml View";
}

<h2>Xml View</h2>

<div class="xmlResult">
    @Html.RenderXslt(Model.XsltPath, Model.XmlPath)
</div>