@{
    ViewBag.Title = "Index";
}

<h2>Seed data creation</h2>

@Html.ActionLink("create ABCD Metadata Structure", "CreateABCDMetadataStructure", "Seed", new { area = "SAM" }, new { @class="t-button"})

@Html.ActionLink("create EML Metadata Structure", "CreateEMLMetadataStructure", "Seed", new { area = "SAM" }, new { @class="t-button"})

@Html.ActionLink("create Seed Data", "CreateSeedData", "Seed", new { area = "SAM" }, new { @class="t-button"})

