@section Information
{
    This guide will walk you through the basics of using search UI including how to manage search component.
}
@section leftPane{
    <div class="toc">
        <br />
        <h3> Administration ToC </h3>
        <br />
        <p></p>    <a href="#_overview">1. Overview</a>
        <p></p><a href="#_registration">2. Registration</a>
        <p></p>&nbsp;&nbsp;    <a href="#_login">2.1. Login</a>
        <p></p>    <a href="#_users">3. Users</a>
        <p></p>&nbsp;&nbsp;    <a href="#_create_user">3.1. Create a user</a>
        <p></p>&nbsp;&nbsp;    <a href="#_edit_user">3.2. Edit a user</a>
        <p></p>    <a href="#_groups">4. Groups</a>
        <p></p>&nbsp;&nbsp;    <a href="#_create_group">4.1. Create a group</a>
        <p></p>&nbsp;&nbsp;    <a href="#_edit_group">4.2. Edit a group</a>
        <p></p>    <a href="#_permissions">5. Permissions</a>
        <p></p>&nbsp;&nbsp;    <a href="#_features">5.1. Feature Permissions</a>
        <p></p>&nbsp;&nbsp;    <a href="#_datasets">5.2. Datasets Permissions</a>
        <p></p>    <a href="#_maintenan">6. Manage Datasets</a>
        <p></p>    <a href="#_token">7. API Token</a>
    </div>
}

<style>
    a:hover {
        background-color: #bee1da;
        text-decoration: none;
    }

    .toc {
        position: fixed;
        top: 100px;
        overflow: auto;
        max-height: 64vh;
        width: 250px;
        max-width: 350px;
    }

    .scrollable {
        overflow: auto;
        height: 750px;
    }

    :target:before {
        content: "";
        display: block;
        height: 100px;
    }
</style>

<h2><a id="_overview">1. Overview</a></h2>
<!--<p>Caution! Do not delete the preset user and group!</p>-->
<p>
    By default, only a few components of BEXIS2 are accessible for anonymous users. Any further access to the application is available for authorized users, only. Therefore, Administration module provides probably of user registration that could control by administrators. After a successful registration, user is able to logon to BEXIS2 using its account credentials for authentication.<br />
    Features. The set of features is fixed and corresponds to the different hierarchical items of the menu bar.<br />
    Permissions. Within the system, it is possible to add, remove or modify existing permissions on features and datasets.
</p>
<p>&#xa0;</p>
<h2><a id="_registration">2. Registration</a></h2>
<p>
    Registration is accessible through the menu bar. All fields are mandatory and system needs accept of the Terms and Conditions.
    To complete successfully the registration process you need to react to a confirmation Email.
</p>
<p><img src="~/Areas/SAM/Content/Images/Help/register.png" width="900" alt="registration" /></p>
<p>&#xa0;</p>
<h3><a id="_login">2.1. Login</a></h3>
<p>First, press Login button. The system redirects you to the login form and you have to enter your account credentials (user name and password). If the login is successful, you will see Dashboard. Otherwise, the system will notify you about the status and reason why the logon was not successful.  </p>
<p><img src="~/Areas/SAM/Content/Images/Help/login.png" width="900" alt="login" /></p>
<h2>&#xa0;</h2>
<h2><a id="_users">3. Users</a></h2>
<p>Caution! This part of the system is secured. You may not have access to it. </p>
<p>BEXIS2 provides different features for managing users. These are typically available to system administrators only. Each of them is described in more detail in one of the following subsections. </p>
<p><img src="~/Areas/SAM/Content/Images/Help/users.png" width="900" alt="users" /></p>
<h3><a id="_create_user">3.1. Create a user</a></h3>
<p>In addition to the self-registration procedure, user accounts may also be created by an administrator. This feature is available from Setup > Manage Users. Please press the Create button. A modal window will pop up that contains the user creation form. Similar to the self-registration, the system supports you with validation on all information entered.</p>
<p><img src="~/Areas/SAM/Content/Images/Help/create_user.png" width="900" alt="create_user" /></p>
<p>&#xa0;</p>
<h3><a id="_edit_user">3.2. Edit a user</a></h3>
<p>Within BEXIS2 you are able to display and modify user information. For security and usability reasons, the system allows modification only for certain parts of the user information. Please go to Setup > Manage Users and press the Edit button of the respective user. You are now able to alter the user information. Changes are committed to the system when you press the Save button. </p>
<p>For any given user memberships to certain groups need to be specified via the tab Membership.</p>
<p>You can change the status easily by (un)select the corresponding checkbox.</p>
<p><img src="~/Areas/SAM/Content/Images/Help/edit_user.png" width="900" alt="edit_user" /></p>
<p>&#xa0;</p>
<h2><a id="_groups">4. Groups</a></h2>
<p>Caution! This part of the system is secured. You may not have access to it.</p>
<p>BEXIS2 provides different features for the managing groups. They are typically available to system administrators only. Each of them is described in more detail in the following subsections.</p>
<p><img src="~/Areas/SAM/Content/Images/Help/groups.png" width="900" alt="groups" />&#xa0;</p>
<h3><a id="_create_group">4.1. Create a group</a></h3>
<p>This feature is available from Setup &gt; Manage Groups. Please press the Create button. A modal window will pop up that contains the group creation form. The system supports you with validation on all information entered.</p>
<p><img src="~/Areas/SAM/Content/Images/Help/create_group.png" width="900" alt="create_group" />&#xa0;</p>
<p>&#xa0;</p>
<h3><a id="_edit_group">4.2. Edit a group</a></h3>
<p>Within BEXIS2 you are able to display and modify group information. Please go to Setup > Manage Groups and press the Edit button of the respective group. You are now able to alter the group information. Changes are committed to the system once you pressed the Save button. </p>
<p>For any given user memberships to certain group need to be specified via the tab Membership.</p>
<p>You can change the status easily by (un)select the corresponding checkbox.</p>
<p><img src="~/Areas/SAM/Content/Images/Help/edit_group.png" width="900" alt="edit_group" />&#xa0;</p>
<p>&#xa0;</p>
<h2><a id="_permissions">5. Permissions</a></h2>
<p>Caution! This part of the system is secured. You may not have access to it.</p>
<p>Permission is a rule that contains certain security regulations. In general, it is possible to set a rule on both, users and groups.</p>
<p>The security system of BEXIS2 distinguishes between two types of permissions. On the one hand, there are feature permissions, which allow or prohibit the access to well-defined and delimited areas of the application. This type of permissions is working on functional objects (e.g. actions that should be performed) - so called Features. On the other hand, data permissions provide the ability to protect real data (e.g. datasets, research plans and so on). </p>
<p>&#xa0;</p>
<h3><a id="_features">5.1. Feature Permissions</a></h3>
<p>To be able to modify features, Please go to Setup > Manage Feature Permissions. This will bring up a page with a tree on the left side. </p>
<p>Selecting a checkbox in the navigation tree (e.g. Search) will make that feature accessible without authentication (public access). Please use with care!  </p>
<p>By clicking a feature name (a node in the tree), the system will show a table on the right side (see below). This table contains all subjects (users and groups) and their feature permission status. You may grant or deny permissions for individual users or groups using the radio buttons. If a permission is not explicitly set (i.e None) permissions are inherited from up level features. Inherited permissions are shown in the first column as effective permissions. </p>
<p><img src="~/Areas/SAM/Content/Images/Help/features.png" width="900" alt="features" />&#xa0;</p>
<p>&#xa0;</p>
<h3><a id="_datasets">5.2. Entity Permissions</a></h3>
<p>The security system of BEXIS2 is working on both, functional (features) and non-functional (entities) items. Please go to Setup > Manage Entity Permissions if you like to manage access to entities (datasets). </p>
<p>By selecting a dataset (i.e. a row in the table), the system will show a second table underneath the first one, which contains all subjects (users and groups) and their different data permission statuses regarding the selected dataset. On this page, you are also able to alter the different kinds of data permissions for a selected dataset. </p>
<p>Selecting the checkbox in the first column (i.e. IsPublic) will allow public access to that dataset without any authentication.</p>
<p>&#xa0;</p>
<p><img src="~/Areas/SAM/Content/Images/Help/Help_img10.png" width="900" alt="datasets" />&#xa0;</p>
<p>&#xa0;</p>
<p>In general, the system works on six different data permission types:</p>
<li>Read: allow/deny read & download access to primary data</li>
<li>Update: allow/deny manipulation (upload and update) of primary data</li>
<li>Delete: allow/deny deletion of the whole dataset</li>
<li>Grant: allow/deny to give permission to other users or groups</li>
<p>&#xa0;</p>
<h2><a id="_maintenan">6. Manage Datasets</a></h2>
<p>Via menu in Setup > Manage Datasets you are able to see a list of Datasets. </p>
<p>In this list you can see the status of each dataset and some useful actions for the maintenance of a dataset.</p>
<p><img src="~/Areas/SAM/Content/Images/Help/Help_img11.png" width="900" alt="maintenance" />&#xa0;</p>
<p>There are two ways to delete a dataset: </p>
<p>Delete: this function tags a dataset to exclude it from nearly all features of the system (e.g. search). But the dataset itself will stay inside the database. So later on you are able to recover the dataset - if needed.</p>
<p>Purge: the dataset will be removed from the system at all (incl. removal of data permissions, metadata and primary data). There is no way to rollback that action.</p>
<p>Note that if you purge a dataset, you cannot recover it at all.</p>
<p>&#xa0;</p>
<h2><a id="_token">7. API Token</a></h2>
<p>
    In general, the APIs of BEXIS2 are protected by both mechanisms, authentication and authorization. In contrast to the login where usual credential are used, the APIs are using a personalized token for authentication. Within the user menu, each user has the possibility to show her/his own token. Afterwards, that token can be used for the APIs.
</p>
<p><img src="~/Areas/SAM/Content/Images/Help/token.png" width="900" alt="token" />&#xa0;</p>

<p><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>

<a href="#_overview"> Go to top</a>