@using BExIS.Web.Shell.Areas.DIM.Models.Mapping
@model List<BExIS.Web.Shell.Areas.DIM.Models.Mapping.ComplexMappingModel>

<div id="dim-mapping-middle" class="middle">


    <div id="newMapContainer">
        @Html.Partial("Mapping", new ComplexMappingModel())
    </div>

    @foreach (var map in @Model)
    {
        @Html.Partial("Mapping", map)
    }

</div>

