@model List<BExIS.Web.Shell.Areas.DCM.Models.ListViewItem>

@using Telerik.Web.Mvc.UI;

<p>Please Select a Dataset.</p>

@(Html.Telerik().DropDownList()
    .Name("DatasetIds_DropDownList")
    .BindTo(new SelectList(Model, "Id", "DisplayName"))
    .HtmlAttributes( new { style = "width:100%; white-space:nowrap;" })

  )  

@*@Html.DropDownList("DatasetIds_DropDownList", new SelectList(Model, "Id", "Title"));*@
                            
<br />
<br />
<button id="SubmitDatasetId" class="t-button"> Submit</button>

<script type="text/javascript">

   

    $("#SubmitDatasetId").click(function()
    {
        var dropDownList = $('#DatasetIds_DropDownList').data('tDropDownList');
        SelectedDatasetId = dropDownList.value();
        SelectedDatasetTitle = dropDownList.text()
        //Parameters.push("DatasetId:" + SelectedDatasetId);
        Parameters.push("DatasetTitle:" + SelectedDatasetTitle);

        // send to bus
        $.post('@Url.Action("AddSelectedDatasetToBus", "SubmitSpecifyDataset", new RouteValueDictionary { { "area", "DCM" } })', { id: dropDownList.value() }, function (response) {
        })

        closeWindow();
    })


</script>