<html>



<body lang=EN-GB link=blue vlink=purple>

    <div class=WordSection1>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;text-autospace:none'>
            <span style='font-family:Consolas;color:black;
background:white'>Start:</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;text-autospace:none'>
            <span style='font-family:Consolas;color:black;
background:white'>&nbsp;</span>
        </p>

        <h2><span style='background:white'>Contact Us</span></h2>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;text-autospace:none'>
            <span style='font-family:Consolas;color:black;
background:white'>Last update: 19.04.2016</span><span style='font-family:Consolas;
color:blue;background:white'>&lt;/</span><span style='font-family:Consolas;
color:maroon;background:white'>p</span><span style='font-family:Consolas;
color:blue;background:white'>&gt;</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;text-autospace:none'>
            <span style='font-family:Consolas;color:black;
background:white'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;text-autospace:none'>
            <span style='font-family:Consolas;color:black;
background:white'>We are committed to continuous improvement.</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;text-autospace:none'>
            <span style='font-family:Consolas;color:black;
background:white'>
                Your feedback and suggestions are valuable to us because they
                highlight opportunities to improve the quality of our BExIS++ application.
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;text-autospace:none'>
            <span style='font-family:Consolas;color:black;
background:white'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;text-autospace:none'>
            <span style='font-family:Consolas;color:black;
background:white'>
                To submit your feedback or if you need help, please contact
                our support team:
            </span><a href="mailto:bexis-support@uni-jena.de">
                <span style='font-family:Consolas;background:white'>bexis-support@uni-jena.de</span>
            </a>
        </p>

    </div>

</body>

</html>
