@model BExIS.Web.Shell.Areas.Site.Models.ContactUsModel

@using Vaiona.Web.Mvc;
@using BExIS.Web.Shell.Areas.Site.Models;



@{
    //ViewBag.Title = "Contact Us";
    HtmlString content = new HtmlString(Model.content);
}

@section Information
{ 
    @*<p>
            More information
            @Html.ActionLink("here", "Index", "Help", new { id = 0 }, new { @class = "bx-informationLink", title="go to help", target="_blank"})
        </p>*@
}


@content
