@using Vaiona.Web.Mvc;

@section Information
{ 
    BEXIS 2 support team stand ready to assist you with all of your technical questions: 
<a href="mailto:bexis-support@uni-jena.de">bexis-support@uni-jena.de</a>
    @*<p>
            More information
            @Html.ActionLink("here", "Index", "Help", new { id = 0 }, new { @class = "bx-informationLink", title="go to help", target="_blank"})
        </p>*@
}


<span>Last update: 19.04.2016</span>

<p><span>&nbsp;</span></p>

<p class=MsoNormal>
    <span>We are committed to continuous improvement.</span>
</p>

<p class=MsoNormal>
    <span>
        Your feedback and suggestions are valuable to us because they
        highlight opportunities to improve the quality of our BExIS++ application.
    </span>
</p>


<p class=MsoNormal>
    <span>
        To submit your feedback or if you need help, please contact
        our support team:
    </span><a href="mailto:bexis-support@uni-jena.de">
        <span>bexis-support@uni-jena.de</span>
    </a>
</p>