@section Information
{
    This guide will walk you through the basics of visualization.
}
@section leftPane{
    <div class="toc">
        <h3> Visualization ToC </h3>
        <br />
        <p></p> <a href="#_overview">1. Overview</a>
        <p></p>    <a href="#_select_ranges">2. Select Ranges</a>
        <p></p>&nbsp;&nbsp;    <a href="#_select_category">2.1. Select category</a>
        <p></p>&nbsp;&nbsp;    <a href="#_select_time">2.2. Select Time</a>
        <p></p>&nbsp;&nbsp;    <a href="#_time_slider">2.2. Time Slider</a>
    </div>
}
<style>
    .toc {
        position: fixed;
        top: 100px;
    }

    .scrollable {
        overflow: auto;
        height: 750px;
    }

    :target:before {
        content: "";
        display: block;
        height: 100px;
    }
</style>

<p><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>

<h1><a id="_overview">1. Overview</a></h1>
<p>
    Visualization or in other words the visual representation of data in an easily comprehensible form is the feature of the visualization module for BEXIS2. User of BEXIS2 is able to get a quick overview of the system behaviour with looking at diagrams.
    Visualization is accessible through setup in the main menu.<br />
</p>
<p>&#xa0;</p>
<p><img src="~/Areas/VIM/Content/Images/Help/ui.png" width="900" alt="all" /></p>
<p>&#xa0;</p>
<h2><a id="_select_ranges">2. Select Ranges</a></h2>
<p>
    Visualization provides diagrams depend on the selected ranges in different dropdown lists. There is two different lists to control the diagram.
    One is to select the kind of data and one is to select the time range. <br />
</p>
<h3><a id="_select_category">2.1. Select Category</a></h3>
<p>
    On the first view, when the selector shows "Select a category", you can see a histogram with data of created and deleted datasets.
    The current version of the BEXIS2 makes you able to see the statistic of system activities, created datasets and deleted datasets over time.<br />
</p>
<p><img src="~/Areas/VIM/Content/Images/Help/ui_category.png" width="900" alt="all" /></p>

<h3><a id="_select_time">2.2. Select Time</a></h3>
<p>
    In the drop-down list "Select time”, you can find the past years. By default, the chart displays the data distribution over the entire time from the first activities.<br />
    Select a specific year and see the statistic for only that year, separated in twelve months.<br />
</p>
<p><img src="~/Areas/VIM/Content/Images/Help/ui_year.png" width="900" alt="all" /></p>

<h3><a id="_time_slider">2.3. Time Slider</a></h3>
<p>
    If you do not like to see all data behaviour from the first activity to the end, you can select a period by the help of the time slider..<br />
</p>
<p><img src="~/Areas/VIM/Content/Images/Help/ui_slider.png" width="900" alt="all" /></p>

<p><span>&#xa0;</span></p>
<p><span>&#xa0;</span></p>
<a href="#_overview"> Go to top</a>