@{
    ViewBag.Title = "Structure Suggestion";
    Layout = "~/Themes/Default/Layouts/_svelteLayout.cshtml";

}

@{
    long id = 0;
    long version = 0;
    string file = "";

    if (ViewData["id"] != null) { id = Convert.ToInt64(ViewData["id"]); }

    if (ViewData["version"] != null) { version = Convert.ToInt64(ViewData["version"]); }

    if (ViewData["file"] != null) { file = ViewData["file"].ToString(); }

}

<div id="structuresuggestion" dataset="@id" version="@version" file="@file">
    @Html.Partial("_sveltePage")
</div>