@{
    ViewBag.Title = "Structure Suggestion";
    Layout = "~/Themes/Default/Layouts/_svelteLayout.cshtml";

}

<link href="~/Areas/DCM/BExIS.Modules.DCM.UI/Scripts/svelte/structuresuggestion.css" rel="stylesheet">

@section scripts
{
    <script src="~/Areas/DCM/BExIS.Modules.DCM.UI/Scripts/svelte/structuresuggestion.js"></script>

}

@{
    long id = 0;
    long version = 0;
    string file = "";

    if (ViewBag.id != null)
    {
        id = (long)ViewBag.id;
    }

    if (ViewBag.version != null)
    {
        version = (long)ViewBag.version;
    }

    if (ViewBag.file != null)
    {
        file = ViewBag.file.ToString();
    }

}

<div id="structuresuggestion" dataset="@id" version="@version" file="@file"> </div>